<div class="container  p-1 animated fadeInRight">
  <div style="margin:10px">
    <div *ngIf="!showCustomers" class="card card-cascade narrower animated fadeInRight">
      <div
        class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">App Ambassador Plus Customers</a>
        <div class="butttons">
          <div mdbTooltip="Add AAP" placement="left" customHeight="50">
            <button type="button" (click)="frame.show()" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-plus mt-o"></i>
            </button>
          </div>
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt1.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Refresh" placement="left" customHeight="50">
            <button type="button" (click)="getAllCustomers();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>
      </div>
      <p-table class="p-4" #dt1 [columns]="tableColumns"  [value]="customerList" [paginator]="true"
        [rows]="5" [responsive]="true" exportFilename="AAP Report">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search"
              (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of tableColumns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
              <p-multiSelect appendTo="body" *ngSwitchCase="'referrerName'" [style]="{'width':'100%'}" [options]="sponsorName"
                defaultLabel="All" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                <p-multiSelect appendTo="body" *ngSwitchCase="'recognitionCategory'" [style]="{'width':'100%'}" [options]="rankType"
                defaultLabel="All" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
          <tr>
            <td *ngFor="let col of tableColumns">
              {{rowData[col.field]}}

              <button *ngIf="col.field === 'action'" mdbTooltip="Delete AAP" placement="top" type="button" mdbBtn
                gradient="aqua" floating="true" size="sm" class="delete-button-gap p2p-sm-btn"
                (click)="setUserToDelete(rowData);deletionFrame.show();"><i class="fa fa-trash"></i>
              </button>
              <button
              *ngIf="col.field === 'action'"
              mdbTooltip="View AAP Team" placement="top" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="delete-button-gap p2p-sm-btn"
              (click)="getDrillDownList(rowData);"><i class="fa fa-users"></i></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="showCustomers" class="card card-cascade narrower animated fadeInRight">
      <div
        class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">{{selectedCustomerName}}'s AAP Team</a>
        <div class="buttons buttons-customer-report">
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt2.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Go Back"  placement="left" customHeight="50">
            <button type="button" (click)="showCustomers = false;" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <a class="fa fa-back "></a> Back
            </button>
          </div>
        </div>
      </div>
      <p-table scrollHeight="200px" [resizableColumns]="false" exportFilename="Team Report" columnResizeMode="expand"
        class="p-4" #dt2 [columns]="drilldownTableColumns" [value]="drilldownList" [paginator]="true" [rows]="5"
        [responsive]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search"
              (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of drilldownTableColumns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of drilldownTableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of drilldownTableColumns" [ngSwitch]="col.field">
              <p-multiSelect appendTo="body" *ngSwitchCase="'level'" [style]="{'width':'100%'}" [options]="levelType"
                defaultLabel="All" (onChange)="dt2.filter($event.value, col.field, 'in')"></p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="drilldownTableColumns">
          <tr>
            <td *ngFor="let col of drilldownTableColumns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div mdbModal #deletionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deletionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete {{selectedUser?.firstName}} {{selectedUser?.lastName}}'s account?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
          (click)="deletionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
          (click)="deleteUser();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>



<div mdbModal #frame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (closed)="addP2PDistForm.reset();addP2PDistForm.markAsUntouched();">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white"><i class="fa fa-plus icon-size mr-2 text-white mr-3"
            aria-hidden="true"></i>Add
          New App Ambassador Plus</h4>
      </div>
      <div class="modal-body mx-2">
        <form [formGroup]="addP2PDistForm"> 
        <div class="form-group">

          <p-dropdown [showClear]="true" [filter]="true"[style]="{'width':'100%'}" placeholder="Select Legacy Member"
            [options]="p2pDistList" formControlName="selectedP2PDistributor" data-error="Field is required"
            data-success=" " mdbInputDirective></p-dropdown>
        </div>
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="frame.hide()" mdbWavesEffect>Close <i class="fa fa-close ml-1"></i></button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect
          (click)="addAap();">Add
          <i class="fa fa-plus ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>