<div class="container  p-1 animated fadeInRight" style="margin-top: 100px;">
  <div style="margin:10px;">
    <div class="card card-cascade narrower animated fadeInRight">
      <div class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">Users Eligible For Promotion</a>
        <div class="butttons">
          <div mdbTooltip="Add" placement="left" customHeight="50">
            <button type="button" (click)="frame.show()" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-plus mt-o"></i>
            </button>
          </div>
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt1.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Refresh" placement="left" customHeight="50">
            <button type="button" (click)="getAllUserEligibleForPromotion();getAllUsers();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>
      </div>
      <p-table class="p-4" #dt1 [columns]="tableColumns" [value]="eligibleUsers" [paginator]="true" [rows]="5" [responsive]="true"
        exportFilename="Promotions Report">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
              style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of tableColumns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
              <p-multiSelect appendTo="body" *ngSwitchCase="'referrerName'" [style]="{'width':'100%'}" [options]="sponsorName" defaultLabel="All"
                (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'recognitionCategory'" [style]="{'width':'100%'}" [options]="rankType" defaultLabel="All"
                (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
          <tr>
            <td *ngFor="let col of tableColumns">
              {{rowData[col.field]}}

              <button *ngIf="col.field === 'action'" mdbTooltip="Delete" placement="top" type="button" mdbBtn gradient="aqua"
                floating="true" size="sm" class="delete-button-gap p2p-sm-btn" (click)="setUserToDelete(rowData);deletionFrame.show();">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div mdbModal #deletionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deletionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to make {{selectedUser?.firstName}} {{selectedUser?.lastName}} ineligible for
            Promotion?
          </h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect (click)="deletionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect (click)="markInEligibleForPromotion();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>



<div mdbModal #frame="mdbModal" style="overflow-y: visible" class="modal fade" (closed)="reset()" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white">
          <i class="fa fa-plus icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Add users to Promotions List</h4>
      </div>
      <div class="modal-body mx-2">
        <div style="margin-bottom: 10px;">

          <ng-select #select placeholder="Select User" [items]="usersList" class="custom-ng-select-Style" [multiple]="true" bindLabel="name"
            bindValue="userId" groupBy="type" [selectableGroup]="true" dropdownPosition="auto" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" [selectableGroupAsModel]="false" [(ngModel)]="selectedUsers">
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.type}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.name}}
            </ng-template>
          </ng-select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close" (click)="frame.hide()" mdbWavesEffect>Close
          <i class="fa fa-close ml-1"></i>
        </button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect (click)="makeUsersEligibleForPromotion();">Add
          <i class="fa fa-plus ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>