
    <div class="container p-1">
    <div class="row filter-alignment p-1">
      <div class="ui-g-12 ui-md-3 form-group">
        <h6 class="text-left selectammount">Select Month :</h6>
        <p-dropdown [showClear]="true" [options]="monthList" [(ngModel)]="monthName" [style]="{'width':'100%'}"
          placeholder="Select Month" filter="true"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-3 form-group">
        <h6 class="text-left selectedyear">Select Year :</h6>
        <p-dropdown [showClear]="true" [options]="yearList" [(ngModel)]="selectedYear" [style]="{'width':'100%'}"
          placeholder="Select Year" filter="true"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 form-group">
        <button (click)="getCommissionReport()" type="button" class="smallBtn btn-md Vcommision" mdbBtn color="success"
          mdbWavesEffect>View Commission</button>
          <a appExternalUrl target="_blank" [href]="'http://bit.ly/2AruEuj'">
        <button type="button" class="smallBtn btn-md Vcommision" mdbBtn color="success"
          mdbWavesEffect>Order Your Paycard</button>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid  p-1 animated fadeInRight">
      <div style="margin:10px">
    <div *ngIf="!showCustomers" class="card card-cascade narrower animated fadeInRight">
      <div
        class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">Commissions</a>
        <div class="butttons">
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt6.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
        </div>
      </div>
      <p-table [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt6 [columns]="tableColumns"
        [value]="commissionReportList" [paginator]="true" [rows]="5" [responsive]="true"
        exportFilename="Commissions Report">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search"
              (input)="dt6.filterGlobal($event.target.value, 'contains')" style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of tableColumns" style="width:120px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
          <tr>
            <td>{{rowData.referrerName}}</td>
            <td>{{rowData.userType}}</td>
            <td>{{rowData.monthlyCustomerCount}}</td>
            <td>{{rowData.yearlyCustomerCount}}</td>
            <td>{{rowData.startPeriod}}</td>
            <td>{{rowData.endPeriod}}</td>
            <td class="text-right">${{rowData.commissionFromLevel1 |number : '.2-2'}}</td>
            <td class="text-right">${{rowData.commissionFromLevel2 |number : '.2-2'}}</td>
            <td class="text-right">${{rowData.totalCommissions |number : '.2-2'}}</td>
            <td>
              <button mdbTooltip="View" placement="bottom" type="button" mdbBtn color="success" floating="true"
                size="sm" class="my-0 p2p-sm-btn"
                (click)="showCustomers = true; getCustomerCommissionReport(rowData);"><i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="6">Totals</td>
            <td class="text-right">${{level1CommissionTotal |number : '.2-2'}}</td>
            <td class="text-right">${{level2CommissionTotal |number : '.2-2'}}</td>
            <td class="text-right">${{totalCommission |number : '.2-2'}}</td>
            <td></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="showCustomers" class="card card-cascade narrower animated fadeInRight">
      <div
        class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">Commission Details</a>
        <div class="buttons buttons-customer-report">
          <div mdbTooltip="Download"  placement="left" customHeight="50">
            <button type="button" (click)="dt2.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Go Back"  placement="left" customHeight="50">
            <button type="button" (click)="showCustomers = false;"
              class="btn btn-outline-white btn-rounded btn-sm px-2">
              <a class="fa fa-back"></a> Back
            </button>
          </div>
        </div>
      </div>
      <p-table scrollHeight="200px" [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt2
        [columns]="customerTableColumns" exportFilename="Commission Details Report" [value]="customerList"
        [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search"
              (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of customerTableColumns" style="width:120px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of customerTableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="customerTableColumns">
          <tr>
            <td>{{rowData.name}}</td>
            <td>{{rowData.userType}}</td>
            <td>{{rowData.startPeriod}}</td>
            <td>{{rowData.finishPeriod}}</td>
            <td>{{rowData.planType}}</td>
            <td class="text-right">${{rowData.commissionFromLevel1 |number : '.2-2'}}</td>
            <td class="text-right">${{rowData.commissionFromLevel2 |number : '.2-2'}}</td>
            <td class="text-right">${{rowData.amount |number : '.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5">Totals</td>
            <td class="text-right">${{level1CommissionTotalCustomerReport |number : '.2-2'}}</td>
            <td class="text-right">${{level2CommissionTotalCustomerReport |number : '.2-2'}}</td>
            <td class="text-right">${{totalCommissionCustomerRecord|number : '.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>