.title-size { font-size: 1.25rem;}
::ng-deep.ui-multiselect .ui-multiselect-label {font-size: 12px;font-weight: 300; width: 100%; height: auto; text-align: center;padding-top: 0px;  margin-bottom: 0;padding: 0px 10px;}
.buttons-customer-report{ display: flex; }   
.Vcommision{margin-top: 28px;background: #70ad48 !important;}   
.selectammount{font-weight: 500;color: #70ad48;font-size: 1.2rem;}
.selectedyear{font-weight: 500;color: #70ad48;font-size: 1.2rem }
::ng-deep .ui-table-wrapper { overflow-x: scroll;}  
@media (max-width: 740px) {
.sm-margin { margin-left: 6.1rem !important;}
}