<div class="container card pb-3">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">From :</h6>
      <p-calendar [(ngModel)]="filterFromDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">To :</h6>
      <p-calendar [(ngModel)]="filterToDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6 form-group">
      <button type="button" class="smallBtn btn-md" mdbBtn color="success" mdbWavesEffect (click)="getRecurrenceList()">
        Filter
      </button>
    </div>
  </div>
  <div class="card card-cascade narrower animated fadeInRight">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Recurring List</a>
    </div>
    <p-table [tableStyle]="{ 'table-layout': 'auto' }" [resizableColumns]="false" columnResizeMode="expand" class="p-4"
      #dt [columns]="tableColumns" [value]="recurrenceList" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%" />
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td>{{rowData.type}}</td>
          <td>${{rowData.amount |number : '.2-2'}}</td>
          <td>{{rowData.recurringType}}</td>
          <td>{{rowData.recurrenceDate}}</td>
          <td>{{rowData.source}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>