::ng-deep .custom-gradient {background: linear-gradient(40deg, #70ad48, #70ad48) !important;}
::ng-deep table.table a {font-size: 17px;font-weight: 500;}
.title-size {font-size: 1.25rem;}
::ng-deep input.counter-success~span.text-success {visibility: hidden !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
::ng-deep .md-form {margin-top: 3px !important;margin-bottom: 0 !important;width: 200px;}
.filter-alignment {margin-left: 2%;}
.filter-alignment h6 {font-weight: 500;color: #70ad48;font-size: 1.2rem;}
.smallBtn {padding: 12px 24px;margin-top: 29px !important;}
::ng-deep body .ui-inputtext {padding-top: 8px !important;border: 1px solid #ced4da;}
::ng-deep .modal-calander .ui-inputtext {width: 100%;}
::ng-deep .modal-calander .ui-calendar {width: 100%;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep body .ui-button.ui-button-icon-only .ui-button-text {margin-top: 1px !important;margin-bottom: -1px !important;padding: 0.575em !important;}
::ng-deep body .ui-inputtext:enabled:hover:not(.ui-state-error) {border-color: #ced4da;}
::ng-deep .filter-alignment .ui-inputtext {width: 85% !important;}
::ng-deep .ui-calendar {width: 100% !important;}
@media (max-width: 740px) {
.title-size {font-size: 1rem;}
.md-form {margin-top: 0.5rem !important;margin-bottom: 0 !important;width: 130px;}
.smallBtn {padding: 9px 14px;margin-top: 5px !important;}
.filter-alignment {margin-left: 0%;}
}
