.modal-header {background: #70ad48 !important;}
.custom-gradient {background: #70ad48 !important;height: 50px !important;}
.title-size {font-size: 1.25rem;}
.profile-headings {font-weight: 500;color: #585454;}
.buttons-customer-report{display: flex;}
::ng-deep.ui-multiselect .ui-multiselect-label {font-weight: 300;height: auto;text-align: center;width: 100%;padding-top: 0px;margin-bottom: 0;padding: 0px 10px; font-size: 12px;}
::ng-deep .ui-table-wrapper {overflow-x: scroll;}
@media (max-width: 740px) {
.sm-margin {margin-left: 6.1rem !important;}
}
.delete-button-gap.btn-floating{
    margin: 5px;
}


.icon-color {color: #fb6a18 !important;}
.activateUserBtn{background: #6fac48;}
.activateUserBtn:hover{background: #6fac48;color: #fff;}
#login_button {background: #70ad48;color: white !important;padding: 10px 20px;}
#showEye-Button {float: right;position: relative;bottom: 35px;font-size: 20px;color: #6fac48;border-radius: 50px;padding: 5px;}