<div class="container container mb-5 mat4555GtuTab5752">
  <div class="card mt-5 animated fadeInRight">
    <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-user icon-color mr-2 twxt-warning"></i>
      Legacy Member Self Registration</h4>

    <form [formGroup]="addReferrerForm">
      <div class="modal-body mx-2">
        <div class="form-group">
          <label class="label-size">First Name<span class="p2p-required">*</span></label>
          <input data-error="First name should not be empty!" data-success=" " type="text" formControlName="firstName"
            class="form-control mb-2" placeholder="First Name" mdbInputDirective>
        </div>
        <div class="form-group">
          <label class="label-size">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control mb-2" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label class="label-size">Email ID<span class="p2p-required">*</span></label>
          <input data-error="Please provide a valid email address." data-success=" " type="text" formControlName="email"
            class="form-control mb-2" placeholder="Email ID" mdbInputDirective>
        </div>
        <div class="form-group">
          <label for="address">User Name<span class="p2p-required">*</span></label>
          <input formControlName="userName" type="text" class="form-control" placeholder="User Name" data-success=" "
            data-error="field should not be empty!" mdbInputDirective>
        </div>
        <div class="form-group">
          <label for="address2">Password<span class="p2p-required">*</span></label>
          <input mdbInputDirective formControlName="password" [type]="show_button1 ? 'text' : 'password'"
            class="form-control" placeholder="Password" data-success=" " data-error="field should not be empty!">
          <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('first')"
            id="showEye-Button"></i>
        </div>
        <div class="form-group">
          <label for="address2">Confirm Password<span class="p2p-required">*</span></label>
          <input formControlName="confirmPassword" [type]="show_button2 ? 'text' : 'password'" class="form-control"
            placeholder="Confirm Password" data-success=" " data-error="field should not be empty!" mdbInputDirective>
          <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('second')"
            id="showEye-Button"></i>
        </div>
        <div class="form-group">
          <label class="label-size" for="contactNumber">Phone Number</label>
          <input type="text" formControlName="contactNumber" class="form-control mb-2" id="contactNumber"
            placeholder="Phone Number" data-error="Please enter valid phone number!" data-success=" " mdbInputDirective
            phoneMask [preValue]="addReferrerForm.value.contactNumber" maxlength="14"
            [ngClass]="(addReferrerForm.controls['contactNumber'].invalid)? 'counter-danger' : ''">
        </div>
        <div class="form-group mt-4">
          <label class="label-size">Referral Code</label>
          <input type="text" formControlName="referralCode" class="form-control mb-2" placeholder="Referral Code">
        </div>
      </div>
      <div class="submit_btn">
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect
          (click)="createNewReferrer();">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<style>
  .submit_btn {
    text-align: right;
    padding: 0px 20px 15px;
  }
  .submit_btn .relative{padding: 8px 24px;}
</style>