<p-dataView #dv [value]="foundingMembers" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="name"
 class="dataviewselection py-3">
<p-header>
  <div class="ui-helper-clearfix">
    <div class="ui-g">
      <div class="ui-g-6 ui-md-4 filter-container">
        <div class="searchBy" style="position:relative">
         <span style="color: #ffff;">Founders Club</span>
        </div>
      </div>
    </div>
  </div>
</p-header>
<ng-template let-user pTemplate="listItem">
  <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
    <div class="ui-g-10 ui-md-7 ui-sm-12 user-details">
      <div class="ui-g">
        <img height="400" src="{{user.imageUrl}}">
      </div>
    </div>
    <div class="ui-g-2 ui-md-2 search-icon">
      <button pButton type="button" class="view" (click)="deleteLeader(user.leadersWallId)"><i
          class="fa fa-trash"></i></button>
    </div>
  </div>

</ng-template>
</p-dataView>
