::ng-deep .btn-success {background-color: #70ad48 !important; color: #fff !important;}
.custom-class.card{ min-height: 450px;}
.card .card-body {flex: 1 1 auto; padding: 0 1.25rem !important;padding-bottom: 0.8rem !important;}
.card-footer {border-top: none !important;}
.read-more {color: #70ad48;
&:hover {cursor: pointer;}}
.custom-gradient {
    min-height: 233px;
    background: #70ad48 !important;
}
.custom-gradient2 {
    min-height: 233px;
    background: #002366 !important;
}
.plan-type {font-weight: 800;font-size: 1.3rem; margin-top: 40px;}
.dolor-sign {font-size: 1.5rem;margin-top: -80px;margin-right: 5px;}
.amount {font-size: 2.7rem;}
hr {border: 0;  border-top: 1px solid rgba(0, 0, 0, 0.1);}
.purchase-btn button {  margin-left: auto; margin-right: auto;}
.description {color: grey; text-align: justify;line-height: 1.7;padding-left: 15px; padding-right: 15px; font-size: 16px;}
.heading {font-weight: 500;}
.planAmount {font-size: 1.5rem;  font-weight: 400;}
.planData { font-weight: 400;}
.card-details {margin-bottom: 15px; font-weight: 500;color: #70ad48;}
.planName {font-weight: 500;font-size: 15px;}
.planDescription {font-size: 12px;color: grey;} 
.radio {padding-top: 10px;padding-left: 20px;}
::ng-deep .form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:after {background-color: #70ad48 !important;}
::ng-deep .form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:before,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:before,
label.btn input[type="radio"].with-gap:checked + label:after {border: 2px solid #70ad48;}
// ::ng-deep input.counter-danger ~ span.text-danger {top: 20px !important; visibility: hidden;margin: 0 !important;}
 .paymentinput.counter-danger~span.text-danger {top: 78px !important;}
.modal-body {padding-bottom: 0;}
.blockquote p {padding: 1rem 0;font-size: 1.2rem;}
.detailsHeading {margin-top: 15px;font-size: 16px;margin-bottom: 12px;box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);font-weight: 500; margin-left: 20px;background-color: #70ad48;color: white;width: 50%;padding: 10px;border-radius: 5px;}
.card-footer {background-color: white;}
.ribbon {width: 150px;height: 150px;overflow: hidden;position: absolute;}
.ribbon::before,
.ribbon::after {position: absolute;z-index: -1;content: "";display: block;border: 5px solid #f99960;}
.ribbon span {position: absolute; display: block; text-transform: uppercase; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); width: 225px;font: 700 12px/1 "Lato", sans-serif;padding: 5px 0;color: #fff;background-color: #f99960;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);}
.ribbon-top-left {top: -10px;left: -10px;}
.ribbon-top-left {top: -10px;left: -10px;}
.ribbon-top-left::before,
.ribbon-top-left::after {border-top-color: transparent; border-left-color: transparent;}
.ribbon-top-left::before {top: 0;right: 0;}
.ribbon-top-left::after {bottom: 0;left: 0;}
.ribbon-top-left span {right: 4px;top: 25px;transform: rotate(-45deg);}
.box {position: relative;}
.btn.btn-sm.cancel-btn {background-color: #fd9961;color: white;min-width: 100% !important;}
.data-row {padding: 10px 20px;}
.heading {font-weight: 500;color: #3a3939; }
.form-check {position: relative;display: inline-block;padding-left: 1.25rem;}
input.form-control.paymentinput.ng-untouched.ng-pristine.ng-invalid::placeholder {color: #c3bdbd !important;font-size: 0.9rem}
.select {font-size: 15px;font-weight: 500;margin-left: 1.5rem;}  
a.terms {color: #70ad48;}
// ::ng-deep input.counter-danger ~ span.text-danger {visibility: visible;margin-top: 20px;} 
::ng-deep.pills-secondary .nav-link.active { background-color: #70ad48 !important;}
.carduser{font-size: 15px;font-weight: 500;}
#card-element{margin-top: 10px;margin-bottom: 10px;background: #eaf1e6 !important;padding: 9px !important;}
.taxInclude{color: #fff;font-weight: 500;font-size: 16px;}
  
  
  
