<div class="card p-3 animated fadeInRight">
  <!-- <blockquote class="blockquote mx-4" *ngIf="isTest">
    <p class="mb-0">
      {{testAccountMessage}}</p>
  </blockquote> -->
  <div class="row mx-2">
    <div *ngFor="let plan of activePlanList" class="col-md-3 mt-3 mb-5">
      <div *ngIf="showActivePlan" class="mt-3">
        <mdb-card narrower="true" class="card card-cascade box custom-class">
          <div [ngClass]="{'custom-gradient': plan?.planName!='P2P YEA', 
          'custom-gradient2': plan?.planName==='P2P YEA'}" class="view view-cascade  overlay waves-light " mdbWavesEffect>
            <div class="ribbon ribbon-top-left"><span>active</span></div>
            <h5 class="text-white text-center py-2 plan-type">
              {{plan?.planName}}
            </h5>
            <div class="flex-center px-3 pb-4">
              <span class="dolor-sign text-white">$</span>
              <h2 class="text-center text-white">
                <strong class="amount">
                  {{ plan?.planAmount | number:'.2-2'}}</strong><br>
                <span class="taxInclude"> (Tax Included)</span>
              </h2>
            </div>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <mdb-card-body cascade="true" class="text-center no-padding">
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a class="text-success">{{
                      plan?.planInterval
                      }}</a>
                </strong>
              </h4>
            </mdb-card-title>
            <mdb-card-text class="text-left">
              {{ plan?.newDescription }}...<span class="read-more" (click)="
                      setSelectedPlan(this.plan); detailframe.show()
                    ">Read more</span>
            </mdb-card-text>
            <hr />
            <div class="row">
              <div *ngIf="plan.validity!=='LifeTime'" class="col-6">
                <button (click)="cancellationframe.show();setSelectedPlan(plan);" class="btn btn-sm cancel-btn">
                  Cancel
                </button>
              </div>
              <div class="col-6">
                <button style="min-width: 100% !important;" class="btn btn-sm btn-success"
                  (click)="activePlanFrame.show();viewCurrentPlan(plan);">
                  View
                </button>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div *ngFor="let plan of fetchedPlansList" class="col-md-3 mt-3 mb-5">
      <mdb-card narrower="true" class="card card-cascade">
        <div [ngClass]="{'custom-gradient': plan?.planName!='P2P YEA', 
        'custom-gradient2': plan?.planName==='P2P YEA'}" class="view view-cascade overlay waves-light" mdbWavesEffect>
          <h5 class="text-white text-center py-2 plan-type">
            {{ plan.planName }}
          </h5>
          <div class="flex-center px-3 pb-4">
            <span class="dolor-sign text-white">$</span>
            <h2 class="text-center text-white">
              <strong class="amount"> {{ plan.planAmount | number:'.2-2'}}</strong><br>
              <span class="taxInclude"> (Tax Included)</span>
            </h2>
          </div>
          <a>
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center no-padding">
          <mdb-card-title>
            <h4 class="card-title my-4">
              <strong>
                <a class="text-success">{{ plan.planInterval }}</a>
              </strong>
            </h4>
          </mdb-card-title>
          <mdb-card-text class="text-left">
            {{ plan.newDescription }}...<span class="read-more" (click)="setSelectedPlan(plan); detailframe.show()">Read
              more</span>
          </mdb-card-text>
          <hr />
          <mdb-card-footer>
            <span class="purchase-btn">
              <button *ngIf="!isTest" class="btn btn-sm btn-success" (click)="showConfirmationDilaog(plan);">
                Purchase
              </button>
            </span>
          </mdb-card-footer>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>














<div mdbModal #detailframe="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="detailframe.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 white-text" id="myModalLabel">
          Subscription Plan Details
        </h4>
      </div>
      <div class="modal-body">
        <p class="description">
          {{ selectedPlan?.planDescription }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn gradient="peach" class="waves-light btn-md" aria-label="Close"
          (click)="detailframe.hide()" mdbWavesEffect>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal style="overflow-y: auto" #cardFrame="mdbModal" class="modal fade top p2p-lg-modal" id="frameModalTop"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  (closed)="termscheckBox=false; this.selectedCard = [];this.stripeForm.reset();">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="cardFrame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 white-text" id="myModalLabel">
          Checkout
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8 mb-4">
            <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4 pills-secondary white mb-2'" [contentClass]="'p-0'">
              <mdb-tab heading="Payment">
                <div class="row">
                  <div class="col-12">
                    <div class="checkoutMinHeight">
                      <div *ngIf="showHideoptionalPlans">
                        <h5 class="detailsHeading">Customer Subscription Plan</h5>
                        <span class="select"> Please select:</span><br>
                        <div *ngFor="let enum of plans" class="radio custom-control-inline">
                          <input (change)="chooseOptionalPlan(enum);" [value]='enum.id' [(ngModel)]="radioModel"
                            type="radio" class="form-check-input with-gap" id="{{enum.id}}" name="enums" mdbInput>
                          <label class="form-check-label" for="{{enum.id}}">
                            {{enum.amount}}/{{enum.planInterval}}</label>
                        </div>
                      </div>
                      <div class="row" style="padding: 26px 20px;">
                        <div class="col-12">
                          <p> <span class="carduser"> Use a New Card:</span></p>
                          <form novalidate [formGroup]="stripeForm">
                            <input type="text" data-error="Please Enter Name as on card" data-success=" "
                              id="materialLoginFormEmail" class="form-control paymentinput mb-4" formControlName="name"
                              placeholder="Name on Card" (input)="setValidation();" mdbInputDirective>
                            <div id="card-element" class="field p-3"></div>
                          </form>
                          <span class="carduser"> Use an Existing Card:</span><br>
                          <p-table class="p-3" [paginator]="true" [rows]="5" [resizableColumns]="true"
                            [responsive]="true" [columns]="listCard" [value]="customers" [(selection)]="selectedCard"
                            dataKey="creditCard">
                            <ng-template pTemplate="header" let-columns>
                              <tr>
                                <th style="width: 3em"></th>
                                <th style="font-size: 13px;" *ngFor="let col of columns">
                                  {{ col.header }}
                                </th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                              <tr [pSelectableRow]="rowData">
                                <td>
                                  <p-tableRadioButton [value]="rowData" (click)="onChange(rowData)">
                                  </p-tableRadioButton>
                                </td>
                                <td *ngFor="let col of listCard" style="padding: 5px 10px;
                              font-size: 13px;">
                                  {{ rowData[col.field] }}
                                </td>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                              <tr>
                                <td [attr.colspan]="columns.length+1">
                                  No cards found.
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mdb-tab>
              <mdb-tab heading="Manage Cards">
                <div class="row">
                  <div class="col-12">
                    <p-table class="p-3" [paginator]="true" [rows]="5" [resizableColumns]="true" [responsive]="true"
                      [columns]="cols" [value]="customers">
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th style="font-size: 13px;" *ngFor="let col of columns" pResizableColumn>
                            {{ col.header }}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns" class="ui-resizable-column" style="padding: 5px 10px;
                          font-size: 13px;">
                            {{ rowData[col.field] }}
                            <button *ngIf="col.field === 'action'" mdbTooltip="View" placement="bottom" type="button"
                              mdbBtn floating="true" size="sm" class="my-0 p2p-sm-btn peach-gradient"
                              style="height: 25px;  width: 25px;">
                              <i class="fa fa-trash" style="font-size: 14px;line-height: 0px;"
                                (click)="deleteCard(rowData)"></i>
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                          <td [attr.colspan]="columns.length">
                            No cards found.
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </mdb-tab>
            </mdb-tabset>
          </div>
          <div class="col-lg-4 mb-4">
            <mdb-card>
              <mdb-card-body class="summarysection">
                <h4 class="my-3 mt-1 h5 text-center font-weight-bold">
                  Summary
                </h4>
                <hr />
                <dl class="row planSummary">
                  <dd class="col-7">
                    <h5 class="planName">{{ selectedPlan?.planName }}</h5>
                  </dd>
                  <dd class="col-5">$ {{ selectedPlan?.planAmount| number:'.2-2' }}</dd>
                </dl>
                <div class="row planSummary"
                  *ngIf="showHideoptionalPlans && optionalPlanName!=null && optionalPlanAmount!=null">
                  <hr />
                  <dd class="col-7">
                    <h5 class="planName">{{ optionalPlanName }}</h5>
                  </dd>
                  <dd class="col-5">
                    ${{ optionalPlanAmount | number:'.2-2' }}
                  </dd>
                  <hr />
                </div>
                <hr />
                <dl class="row">
                  <dt class="col-sm-7">
                    Total
                  </dt>
                  <dt class="col-sm-5" style="font-size: 1rem">
                    $ {{ selectedPlan?.planAmount + optionalPlanAmount  | number:'.2-2'}}
                  </dt>
                </dl>
                <hr class="mb-4" />
                <mdb-checkbox [checked]="termscheckBox" (change)="acceptTerms($event);">I accept the<a
                    href="https://moneyflowapp.com/assets/static/terms-and-condition.html" class="terms"
                    target="_blank"> terms
                    and
                    conditions</a></mdb-checkbox><br>
                <button mdbBtn type="button" color="success" block="true" class="btn btn-sm btn-block" mdbWavesEffect
                  (click)="buySubscription()">
                  Purchase
                </button>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mdbModal #cancellationframe="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="cancellationframe.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 white-text" id="myModalLabel">
          Confirmation
        </h4>
      </div>
      <div class="modal-body">
        <p class="description">
          Your existing subscription will be canceled.Are you sure you want to cancel your current plan ?
        </p>
      </div>
      <div class="modal-footer">
        <button mdbBtn type="button" color="success" class="waves-light btn-md" (click)="cancelCurrentPlan();"
          mdbWavesEffect>
          Cancel
        </button>
        <button type="button" mdbBtn gradient="peach" class="waves-light btn-md" aria-label="Close"
          (click)="cancellationframe.hide()" mdbWavesEffect>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #activePlanFrame="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="activePlanFrame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 white-text" id="myModalLabel">
          Active Plan
        </h4>
      </div>
      <div class="modal-body">
        <div class="row data-row">
          <div class="col-5 heading">Subscription Date:</div>
          <div class="col-7 data">{{ currentPlan?.purchaseDate }}</div>
        </div>
        <div class="row data-row">
          <div class="col-5 heading">Expiration Date:</div>
          <div class="col-7 data">{{ currentPlan?.validity }}</div>
        </div>
        <div class="row data-row">
          <div class="col-5 heading">Transaction ID:</div>
          <div class="col-7 data">{{ currentPlan?.transactionId}}</div>
        </div>
        <div class="row data-row">
          <div class="col-5 heading">Subscription ID:</div>
          <div class="col-7 data">{{ currentPlan?.subscriptionId  }}</div>
        </div>
        <div class="row data-row">
          <div class="col-5 heading">Plan:</div>
          <div class="col-7 data">
            {{ currentPlan?.planName }}
          </div>
        </div>
        <div class="row data-row">
          <div class="col-5 heading">Amount:</div>
          <div class="col-7 data">$ {{ currentPlan?.planAmount | number:'.2-2'}}</div>
        </div>
        <div class="row data-row">
          <div class="col-5 heading">Interval:</div>
          <div class="col-7 data">{{ currentPlan?.planInterval }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn gradient="peach" class="waves-light btn-md" aria-label="Close"
          (click)="activePlanFrame.hide()" mdbWavesEffect>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #confirmationFrame="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="confirmationFrame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 white-text" id="myModalLabel">
          Confirmation
        </h4>
      </div>
      <div class="modal-body">
        <p class="description">
          {{message}}
        </p>
      </div>
      <div class="modal-footer">
        <button mdbBtn type="button" color="success" class="waves-light btn-md"
          (click)="cardFrame.show();confirmationFrame.hide()" mdbWavesEffect>
          Buy
        </button>
        <button type="button" mdbBtn gradient="peach" class="waves-light btn-md" aria-label="Close"
          (click)="confirmationFrame.hide()" mdbWavesEffect>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
