.icon-color {color: #fb6a18 !important;}
.icon-color2 {color: #70ad48 !important;border: 1px solid #70ad48;display: inline-block;border-radius: 50%;box-shadow: 0px 0px 2px #888;padding: 0.5em 0.6em;}
.fa-check:before{font-size: 30px;}
.activateUserBtn{background: #6fac48;}
.activateUserBtn:hover{background: #6fac48;color: #fff;}
#login_button {background: #70ad48;color: white !important;padding: 10px 20px;}
#showEye-Button {float: right;position: relative;bottom: 35px;font-size: 20px;color: #6fac48;border-radius: 50px;padding: 5px;}