<div class="container mb-5 mat4555GtuTab5752">
  <div *ngIf="!showSuccessMessage"class="card mt-5 animated fadeInRight">
    <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-user icon-color mr-2 twxt-warning"></i>
      Reset Password</h4>
    <form [formGroup]="resetPasswordForm" class="p2p-form pt-3 px-4">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="address2"> New Password<span class="p2p-required">*</span></label>
          <input mdbInputDirective formControlName="password" [type]="show_button1 ? 'text' : 'password'"
            class="form-control" placeholder="New Password" data-success=" " data-error="Field should not be empty!">
          <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('first')"
            id="showEye-Button"></i>
        </div>
        <div class="form-group col-md-4">
          <label for="address2">Confirm Password<span class="p2p-required">*</span></label>
          <input formControlName="confirmPassword" [type]="show_button2 ? 'text' : 'password'" class="form-control"
            placeholder="Confirm Password" data-success=" " data-error="Field should not be empty!" mdbInputDirective>
          <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('second')"
            id="showEye-Button"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="col pr-2 mb-3">
          <a class="nav-link waves-light pull-right" id="login_button" (click)="resetPassword();"
            mdbWavesEffect>SUBMIT</a>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="showSuccessMessage"class="card mt-5 animated fadeInRight">
    <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-check icon-color2 mr-2 twxt-warning"></i>
   Password Changed!</h4>
      <div class="pt-3 px-4 ">
   <div class="row">
     <div class=" col-md-12 text-center">
      <p>You have successfully reset the password for your P2P MEC account.Click on Login for accessing your account with new credentials.</p>
    </div>
    </div>

   <div class="row">
    <div class="col-md-12 text-center mb-3">
      <a class="nav-link waves-light " id="login_button" (click)="navigateToLogin()"
        mdbWavesEffect>Login</a>
    </div>
  </div>
  </div>
  </div>
</div>