.amber-cell {font-size:0;background-image: radial-gradient( circle, #FFA500, #FFA500 13px, transparent 14px )!important;}
.green-cell {font-size:0;background-image: radial-gradient( circle, #70ad48, #70ad48 13px, transparent 14px )!important;}
.red-cell {font-size:0; background-image: radial-gradient( circle, red, red 13px, transparent 14px )!important;}
.text-color-red {color: red;}
.text-color-black {color: black;}
.halfInput {width: 50%;}
.save-btn {width: 32%;margin-left: auto;margin-right: auto;}
.plans {width: 30%;margin-left: 10%;margin-top: 20px}
.fontSize {font-size: 14px;font-weight: 800;padding-left: 8px;}
.card-header {font-weight: 500 !important;line-height: 2.2 !important;}
.icon-size {font-size: 2rem;}
::ng-deep .custom-gradient {background: linear-gradient(40deg,#70ad48, #70ad48)  !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
.title-size {font-size: 1.25rem;}
.btn-min-width {min-width: 149px;}
.label-size {font-size: 1.15rem;}
.ui-table .ui-table-caption, body .ui-table .ui-table-summary{color: white !important;background-color: #fd9961 !important;}
.legendCircle {width: 15px;height: 15px;border-radius: 50%;float: left;margin: 0;}
.legend {list-style: none;}
.legend li {float: left;margin-right: 20px;}
.legend span {border: 1px solid #ccc;float: left;width: 15px;height: 15px;margin: 2px;border-radius: 50%}
.legend .red {background-color: red;}
.legend .green {background-color: #70ad48;}
.legend .yellow {background-color: #FFA500;}
.filter-alignment {margin-left: 2%;}
.filter-alignment h6 {font-weight: 500;color: #70ad48;font-size: 1.2rem;}
.filter-alignment {margin-left: 0%;}
.smallBtn {padding: 9px 26px;margin-top: 32px !important;background-color: #70ad48 !important;color: #fff !important;}
@media (max-width: 740px) {.halfInput {width: 100%;}
.save-btn {width: 100%;}.pr-5,.pb-5, .py-5,.pl-5, .px-5 { padding: 0 !important;}
.plans {width: 100%;margin-left: 0%;}
td {border: 1px solid lightgrey;}
.sm-margin {margin-left: 6.1rem !important;}
.filter-alignment { margin-left: -4%;}
.smallBtn {padding: 12px 14px;margin-top: 0 !important;width: 100%; margin-left: 0%;}
}
  