<div class="container card p-4 animated fadeInRight">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">Select Account :</h6>
      <p-dropdown (onChange)="$event.value?getVehicleList($event.value):null" [showClear]="true"
        [options]="moneyFLowManagerList" [(ngModel)]="selectedMoneyFlowManager" [style]="{'width':'100%'}"
        placeholder="Select Account" filter="true"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">Select Vehicle :</h6>
      <p-dropdown [showClear]="true" [options]="vehicleList" [(ngModel)]="selectedVehicle" [style]="{'width':'100%'}"
        placeholder="Select Vehicle" filter="true"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">Select Year :</h6>
      <p-dropdown [showClear]="true" [options]="yearList" [(ngModel)]="selectedYear" [style]="{'width':'100%'}"
        placeholder="Select Year" filter="true"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <button (click)="getMileageReport()" type="button" class="smallBtn btn-md" mdbBtn
        mdbWavesEffect>Generate</button>
    </div>
  </div>
  <div class="card card-cascade narrower z-depth-1-half">
    <div
      class="view view-cascade gradient-card-header custom-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a href="" class="white-text mx-3 title-size">P2P Mileage Report</a>
    </div>
    <div *ngIf="tableData!=[]" style="padding:15px;">
      <p-table [loading]="loading" exportFilename="Mileage Report" [autoLayout]="true" [scrollable]="true"
        [scrollable]="true" [style]="{width:'auto'}" #dt1 [columns]="tableColumns" [value]="tableData"
        [paginator]="true" [rows]="20" [responsive]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns"  [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="caption">
          <div class="text-right">
            <button mdbBtn class="relative waves-light btn-md peach-gradient" mdbWavesEffect
              (click)="dt1.exportCSV()">Download Excel<i class="fa fa-file-excel-o ml-1"></i></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr>
            <td *ngIf="rowGroupMetadata[rowData.type].index === rowIndex"
              [style.text-align]="(rowData.type==='Business Trips Total ($)')||(rowData.type==='Commute Trips Total ($)')||(rowData.type==='Personal Trips Total ($)')?'left':'center'"
              [style.font-weight]="'bold'" [attr.colspan]="rowData.subtype==='' ? 2:0"
              [attr.rowspan]="rowGroupMetadata[rowData.type].size">
              {{rowData.type}}
            </td>
            <td
              *ngIf="(rowData.type!='Business Trips Total ($)')&&(rowData.type!='Commute Trips Total ($)')&&(rowData.type!='Personal Trips Total ($)')">
              {{rowData.subtype}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.january| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.february| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.march| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.april| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.may| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.june| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.july| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.august| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.september| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.october| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.november| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.december| number : '1.2-2'}}</td>
            <td>{{(rowData.subtype==='Mileage (miles)'?'':'$')}} {{rowData.total| number : '1.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>