.contact-section .form-header {padding: 10px; margin-top: -3.5rem;margin-bottom: 1.3rem;}
.contact-section .md-form .text-danger, .contact-section .md-form .text-success{right: 0;text-align: right;}
@media only screen and (max-width: 768px) {
.contact-section .form-header{ padding: 2px;margin-top: -3em;}
.contact-section .form-header h3{ font-size: 18px;}
}