<div class="container mt-2">
  <section class="se2c-1122HFDHH-156fM212 contact-section my-5">
    <h2 class="h1-responsive se2c-title554Htnd545d text-center font-weight-bold  mb-5 my-3 pb-3">Contact us</h2>
    <div class="row">
      <div class="col-lg-5 mb-lg-0 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="form-header custom-gradient success-color">
              <h3 class="mt-2"><i class="fa fa-envelope"></i> Write to us:</h3>
            </div>
            <form [formGroup]="contactForm">
              <div class="md-form">
                <i class="fa fa-user prefix text-black-50"></i>
                <input type="text" id="your_name" class="form-control" mdbInputDirective
                  data-error="Name field should not be empty!" data-success="Valid Name" formControlName="formName">
                <label for="your_name" class="text-black">Your name</label>
              </div>
              <div class="md-form">
                <i class="fa fa-envelope prefix text-black-50"></i>
                <input mdbInputDirective data-error="Invalid Email-id!" data-success="Valid Email-id"
                  formControlName="formEmail" type="email" class="form-control" id="form-email">
                <label for="form-email" class="text-black">Your email: </label>
              </div>
              <div class="md-form">
                <i class="fa fa-user prefix text-black-50"></i>
                <input type="text" id="referred" class="form-control" mdbInputDirective
                  data-error="Referred field should not be empty!" data-success="Referred Name"
                  formControlName="formReferred">
                <label for="referred" class="text-black">Referred By:</label>
              </div>
              <div class="md-form">
                <i class="fa fa-tag prefix text-black-50"></i>
                <input type="text" id="form-Subject" class="form-control" mdbInputDirective
                  data-error="Subject field should not be empty!" data-success="" formControlName="formSubject">
                <label for="form-Subject" class="text-black">Subject: </label>
              </div>
              <div class="md-form">
                <i class="fa fa-pencil prefix text-black-50"></i>
                <textarea type="text" id="form-text" class="form-control md-textarea" rows="3" mdbInputDirective
                  data-error="Message field should not be empty!" data-success=""
                  formControlName="formMessage"></textarea>
                <label for="form-text" class="text-black">Your Message: </label>
              </div>
              <div class="text-center">
                <button class="btn btn-success btn-rounded" (click)="createContactEnquiry();">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="mileagetracking-section">
          <mdb-card-body cascade="true" class="text-center">
            <mdb-card-text>
              <p class="text-left">
                <span class="pr-2">
                  <i class="fa fa-check-circle icon-00245color"></i>
                </span> 2580 W. Camp Wisdom Rd, Ste 218, Grand Prairie, TX 75052
              </p>
              <p class="text-left">
                <span class="pr-2">
                  <i class="fa fa-check-circle icon-00245color"></i>
                </span> 972-637-7766
              </p>
              <p class="text-left">
                <span class="pr-2">
                  <i class="fa fa-check-circle icon-00245color"></i>
                </span> Mon – Fri 9:00am – 6:00pm CST
              </p>
              <p class="text-left">
                <a href="#">
                  <span class="pr-2">
                    <i class="fa fa-check-circle icon-00245color"></i>
                  </span> support@p2pmec.com
                </a>
              </p>
            </mdb-card-text>
          </mdb-card-body>

        </div>
      </div>
    </div>
  </section>
</div>