<section>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight">MEC Features
            </h2>
            <div class="row pt-2">
                <div class="col-lg-5 text-center text-lg-left wow slideInRight">
                    <img src="assets/images/dashboard.png" class="img-fluid Entrepreneur z-depth-0 wow fadeInUp"
                        data-wow-delay="0.6s">
                </div>
                <div class="col-lg-7">
                    <div class="dashboard-section pb-5 mt-5">
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Income </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Expense </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Automatic Mileage Tracker
                            </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Recurring Entries </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Store receipts in the cloud</h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Reports</h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Tools –</strong> Calculator, Contact Manager and Calendar</h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Budget</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight" data-wow-delay="0.6s">User Friendly
                Dashboard
            </h2>
            <div class="row pt-2">
                <div class="col-lg-9">
                    <div class="dashboard-section wow slideInLeft" data-wow-delay="0.6s">
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Enter Income</strong><br> Entering your income ensures a accurate log
                                that tracks your spending for budgeting purposes
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Enter Expenses</strong> <br>This is the 2nd most important feature of the
                                app, it allows you to have a piece of mind regarding Audit protection due to the
                                documentation you
                                are providing for business related expenses.
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Create a Budget </strong><br> This feature allows you to be alerted when
                                your spending limit is affected by your income entered.
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Set up recurring entries to avoid repeat entries
                                </strong><br> No need to enter repeated entries…The app will do it for you. Enter once
                                and it automatically repeats the transaction each month
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Take pictures of receipts to be stored in the
                                    cloud</strong><br> The days of keeping paper receipts are over. Storing them in the
                                cloud gives you immediate access to them when they’re needed
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Special Reports</strong> <br>Simply prints the P&L report at the end of
                                the year to make Tax Preparation simple and easy.
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span><strong>Special Tools - Calculator, Contact Manager and
                                    Calendar</strong> <br>At your fingertips are the tools that make running a business
                                easy. Enter the contacts that produce Income and the Vendors that you pay expenses to
                                and contact them directly from the app.
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center text-lg-right dashboard-image">
                    <img src="assets/images/dashboard002.png" alt="" class="img-fluid z-depth-0 wow bounceInUp"
                        data-wow-delay="0.6s">
                </div>
            </div>
        </div>
        <div class="footer00013TRE565556 text-center py-3">
            <h2>
                <marquee>***SPECIAL APP REMINDERS WILL ALERT YOU DAILY TO AVOID MISSING ANY IMPORTANT ENTRIES</marquee>
            </h2>
        </div>
    </div>
</section>