.halfInput {width: 50%;}
.save-btn {width: 32%;margin-left: auto;margin-right: auto;}
.plans {width: 30%;margin-left: 10%;margin-top: 20px}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {background-color: #fd9961;border: 1px solid #fd9961;}
@media (max-width: 740px) {
.halfInput {width: 100%;}
.save-btn {width: 100%;}
.pr-5,.pb-5, .py-5,.pl-5, .px-5 {padding: 0 !important;}
.plans {width: 100%; margin-left: 0%;}
::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {width: 100%; }
}