<section class="h-auto">
  <div class="view"
    style="background-image: url('assets/images/Stacked Coins.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;height: 1040px !important;">
    <div class="mask justify-content-center align-items-center">
      <div class="container">
        <div class="userLogin-register-sectionLogo text-center">
          <img src="assets/images/P2P Unleash-2.png" width="400" height="60" class="d-inline-block align-top">
        </div>
        <!-- <div class="d-flex align-items-center content-height w-100"> -->
        <!-- <div class="row flex-center px-5 mt-4"> -->
        <!-- <div class="col-md-8 col-sm-8 text-center text-md-left left-signup-div" (deferLoad)="image[0].show = true">
              <ng-container *ngIf="image[0].show">
                <img src="{{image[0].url}}" class="img-fluid">
              </ng-container>
            </div> -->
        <!-- <div class="col-md-4 col-xl-4 offset-xl-0 px-3 mt-5 animated fadeInRight signup-div pt-5"> -->
        <!-- <h1 class="h1 h1-responsive font-weight-bold wow fadeInLeft appsignInheading text-center"
                data-wow-delay="0.3s">"Earn While You Learn" </h1> -->
        <div class="userLogin-register-section">
          <mdb-card class="animated fadeInRight">
            <mdb-card-body>
              <div class="form-header green-bg">
                <h3>
                  <i class="fa fa-user"></i> Sign up</h3>
              </div>
              <br>
              <!-- <div (deferLoad)="image[1].show = true">
                  <ng-container *ngIf="image[1].show">
                    <img src="{{image[1].url}}" class="img-fluid">
                  </ng-container>
                </div> -->
              <form [formGroup]="signupForm" style="color: #757575;">
                <!-- <div class="form-row form-row-height sighup"> -->
                <!-- <div class="col"> -->
                <div class="md-form">
                  <input type="text" data-error="Please provide your first name." data-success=" "
                    id="materialRegisterFormFirstName" formControlName="firstName" class="form-control"
                    mdbInputDirective>
                  <label class="text-success " for="materialRegisterFormFirstName">First name</label>
                </div>
                <!-- </div> -->
                <!-- <div class="col"> -->
                <div class="md-form">
                  <input type="text" data-success=" " id="materialRegisterFormLastName" formControlName="lastName"
                    class="form-control" mdbInputDirective>
                  <label class="text-success " for="materialRegisterFormLastName">Last name</label>
                </div>
                <!-- </div> -->
                <!-- </div> -->
                <div class="md-form">
                  <input type="email" data-error="Please provide a valid email address." data-success=" "
                    id="materialRegisterFormEmail" formControlName="email" class="form-control" mdbInputDirective>
                  <label class="text-success " for="materialRegisterFormEmail">Email</label>
                </div>
                <div class="md-form">
                  <input type="text" data-error="Please provide a desired user name." data-success=" "
                    id="materialRegisterFormUsername" formControlName="userName" class="form-control" mdbInputDirective>
                  <label class="text-success " for="materialRegisterFormUsername">Username</label>
                </div>
                <!-- <div class="form-row password-row sighup"> -->
                <!-- <div class="col"> -->
                <div class="md-form">
                  <input [type]="show_button1 ? 'text' : 'password'" id="materialRegisterFormPassword"
                    data-error="Please enter a password." data-success=" " formControlName="password"
                    class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInputDirective>
                  <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('first')"
                    id="showEye-Button"></i>
                  <label class="text-success " for="materialRegisterFormPassword">Password</label>
                </div>
                <!-- </div> -->
                <!-- <div class="col"> -->
                <div class="md-form">
                  <input [type]="show_button2 ? 'text' : 'password'" id="materialRegisterFormConfirmPassword"
                    data-error="Please re-enter the password." data-success=" " formControlName="confirmPassword"
                    class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInputDirective>
                  <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('second')"
                    id="showEye-Button"></i>
                  <label class="text-success " for="materialRegisterFormConfirmPassword">Confirm Password</label>
                </div>
                <!-- </div> -->
                <!-- </div> -->
                <div class="md-form" style="margin-bottom: 20px;">
                  <input type="text" data-error="Please provide a Referral Code." data-success=" "
                    id="materialCustomerRepCode" class="form-control" formControlName="customerRepCode" type="number"
                    mdbInputDirective>
                  <label class="text-success " for="materialCustomerRepCode">Referral Code</label>
                </div>
               
                  <marquee style="font-size: 15px;font-weight: 600;color: #71ad47;">*** Don't Have a Referral Code, Use 1000 ***</marquee>
                
                <mdb-checkbox formControlName="emailUpdates" class="text-center pt-1">Yes! Send me E-mail updates
                </mdb-checkbox>
                <div class="d-flex justify-content-center">
                  <div>
                    <button mdbBtn color="success" rounded="true" class="btn-width my-4 waves-effect" mdbWavesEffect
                      type="submit" (click)="savePersonalInfo();">Sign Up</button>
                  </div>
                </div>
              </form>
            </mdb-card-body>
          </mdb-card>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
