.intro-header {height: unset !important;}
// .view {height: 100vh !important;}
.top-nav-collapse {background-color: #3f51b5 !important;}
.navbar:not(.top-nav-collapse) {background: transparent !important;}
#showEye-Button {float: right;position: relative;bottom: 35px;font-size: 20px;color: #6fac48;border-radius: 50px;padding: 5px;}
.rgba-gradient .full-bg-img {background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);}
.card {background-color: rgba(229, 228, 255, 0.2);}
.md-form .prefix {font-size: 1.5rem;margin-top: 1rem;}
.md-form label {color: #ffffff;}
h6 {line-height: 1.7;}
.view {height: 100vh !important;}
.rgba-gradient .full-bg-img {background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);}
h6 {line-height: 1.7;}
.show-hide-text {display: none;}
.btn-success {background-color: #70ad48 !important;color: #fff !important;}
.text-success  {color: #70ad48 !important;}
.activation-msg {border: 1px solid green;border-radius: 10px;padding: 35px;background-color: #70ad48;margin: 18% 0 !important;}
.md-form {margin-bottom: 40px;}
::ng-deep .card-wrapper .face h4 {margin-bottom: 0 !important;}
::ng-deep .card-wrapper .card-rotating .content {position: relative;padding-top: 0;}
.green-bg {background-color: #70ad48;}
.form-header {margin-bottom: 0 !important;}
.form-row-height {height: 70px !important;}
.password-row {margin-top: -10px;}
::ng-deep mdb-card-body {padding-bottom: 0 !important;}
.appsignInheading{color: #fd7364;}
@media (max-width: 740px) {
.full-height, .full-height body, .full-height header, .full-height header .view { height: 1040px;}
.show-hide-text {display: inline;text-align: center;font-size: 2.5rem;margin-top: -45%; margin-left: 8%;}
}
@media (max-width: 768px) {
.navbar:not(.top-nav-collapse) {background: #3f51b5 !important;}
}
.userLogin-register-sectionLogo{
    margin-top: 8em;
}
.userLogin-register-section {
    width: 350px;
    color: #5e6c84;
    margin:  50px auto;
    border-radius: 3px;
}
