.save-btn {background: #70ad48;border-radius: 3px;padding: 6px 26px;color: #fff !important;text-align: center;}
.icon-color {color: #fb6a18 !important;}
.input-group-text { color: white; background-color: #70ad48; min-width: 160px;}
.btn-success {background-color: #70ad48 !important;color: #fff !important;}
@media (max-width: 481px) {.save-btn {width: 100%;}
.plans {width: 100%;margin-left: 0%;}
}
