<div class="mat4555GtuTab5752">
  <div class="container  p-3 mt-5 mb-5 animated fadeInRight">
    <div class="card">
      <h4 class="card-header h4-responsive p2p-card-heading py-3">
        <i class="fa fa-user icon-color mr-2"></i> Change Referral Code
      </h4>
      <form class="pt-3 px-4" [formGroup]="changeReferralCodeForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address">User ID
              <span class="p2p-required">*</span>
            </label>
            <input type="number" id="schedulerRunningDay" class="form-control" formControlName="userRegistrationId" placeholder="User ID"
              data-success=" " data-error="User ID should not be empty!" mdbInputDirective>
          </div>
          <div class="form-group col-md-6">
            <label for="address2">Current Sponsor's Referral Code
              <span class="p2p-required">*</span>
            </label>
            <input type="number" id="commissionPercentage" class="form-control" formControlName="currentReferralCode" placeholder="Current Sponsor's Referral Code"
              data-success=" " data-error="Referral Code should not be empty!" mdbInputDirective>
          </div>
          <div class="form-group col-md-6">
            <label for="address2">New Sponsor's Referral Code
              <span class="p2p-required">*</span>
            </label>
            <input type="number" id="commissionPercentage" class="form-control" formControlName="newReferralCode" placeholder="New Sponsor's Referral Code"
              data-success=" " data-error="Referral Code should not be empty!" mdbInputDirective>
          </div>
        </div>
        <div class="form-row">
          <div class="col pr-0">
            <a disabled class="mb-4 pull-right btn-md save-btn" type="submit" (click)="changeReferralCode();">Save</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>