.title-size {font-size: 1.25rem;}
.leftDropdown {width: 50%;float: left;}
.rightSearchBar {width: 50%;float: right;}
::ng-deep .tripTable .ui-table .ui-table-caption {min-height: 50px !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
.profile-headings {font-weight: 500;color: #585454;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep .ui-table-wrapper {overflow-x: scroll;}
::ng-deep .mergeForm .ui-inputtext {width: 100% !important;}
::ng-deep .tripFilter .ui-inputtext {width: 85% !important;}
::ng-deep .ui-calendar {width: 100% !important;}
::ng-deep .pac-container {z-index: 100000;}
