<div class="row mx-3 pb-3 tripFilter">
  <div class="col-md-3 mt-2">
    <p-calendar [(ngModel)]="date1" [showIcon]="true" placeholder="Date" dateFormat="mm-dd-yy"></p-calendar>
  </div>
  <div class="col-md-9">
    <button mdbBtn class="btn btn-md" type="button" (click)="filterTrips(date1)" color="success" mdbWavesEffect>
      Get Trips
    </button>
  </div>
</div>
<div class="card card-cascade narrower animated fadeInRight">
  <div
    class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <a class="white-text mx-3 title-size">Trips</a>

    <div class="butttons">
      <div mdbTooltip="Download" placement="left">
        <button type="button" (click)="dt.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>
  </div>
  <p-table [resizableColumns]="false"  columnResizeMode="expand"  class="p-4 tripTable" #dt [columns]="tableColumns"
    [value]="tripsData" [paginator]="true" [rows]="5" [responsive]="true" exportFilename="Trips Report">
    <ng-template pTemplate="caption" style="min-height: 50px">
      <div style="text-align: left" class="leftDropdown">
        <p-dropdown [style]="{ width: '50%' }" [(ngModel)]="selectedType" (onChange)="setTableData(selectedType)"
          placeholder="Select Trip Type" [options]="tripType"></p-dropdown>
      </div>
      <div style="text-align: right" class="rightSearchBar">
        <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
        <input type="text" pInputText size="80" placeholder="   Search"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:60%;vertical-align: -webkit-baseline-middle;" />
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of tableColumns" [style.width]="col.width" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
          <p-dropdown appendTo="body" [showClear]="true" *ngSwitchCase="'vehicle'" [options]="vehicleFilterList"
            [style]="{ width: '100%' }" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          <p-dropdown appendTo="body" [showClear]="true" *ngSwitchCase="'merged'" [options]="mergedFilter"
            [style]="{ width: '100%' }" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          <p-dropdown appendTo="body" [showClear]="true" *ngSwitchCase="'tripType'" [options]="tripTypeFilter"
            [style]="{ width: '100%' }" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
      <tr>
        <td>{{rowData.fromAddress}}</td>
        <td>{{rowData.toAddress}}</td>
        <td>{{rowData.tripDate}}</td>
        <td>{{rowData.flowName}}</td>
        <td>{{rowData.merged | booleanPipe}}</td>
        <td>{{rowData.vehicleName}}</td>
        <td>{{rowData.milesDriven |number : '.2-2'}}</td>
        <td>${{rowData.totalExpense |number : '.2-2'}}</td>
        <td>
          <button mdbTooltip="View" placement="top" type="button" mdbBtn floating="true" size="sm"
            class="my-0 p2p-sm-btn" gradient="blue" (click)="setTripDetails(rowData); detailsFrame.show()">
            <i class="fa fa-eye"></i>
          </button>
          <button mdbTooltip="Merge" placement="top" type="button" mdbBtn floating="true" size="sm"
            class="my-0 p2p-sm-btn" gradient="purple" (click)="filterMergeData(rowData); mergeFrame.show()">
            <img style="width: 20px;" src="../../../../assets/images/arrows-merge-pointing-to-right.svg"
              alt="merge-icon" />
          </button>
          <button mdbTooltip="Delete" placement="top" type="button" mdbBtn floating="true" size="sm"
            class="my-0 p2p-sm-btn peach-gradient" (click)="setTripDetails(rowData); deleteFrame.show()">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div mdbModal #detailsFrame="mdbModal" style="overflow-y: visible" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="detailsFrame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white">
          <i class="fa fa-eye icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Trip Details
        </h4>
      </div>
      <form [formGroup]="tripData" class="p2p-form pt-3 px-4 mergeForm">
        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="vehicle">Select Flow <span class="p2p-required">*</span></label>.
            <p-dropdown (onChange)="setFlow($event)" [showClear]="true" [style]="{ width: '100%' }"
              placeholder="Select Flow" [options]="flowList" formControlName="flowId" data-error="Field is required"
              data-success=" " mdbInputDirective>
            </p-dropdown>
          </div>
          <div class="form-group col-md-6">
            <label for="vehicle">Select Vehicle <span class="p2p-required">*</span></label>
            <p-dropdown [showClear]="true" [style]="{ width: '100%' }" placeholder="Select Vehicle"
              [options]="vehicleList" formControlName="vehicleId" data-error="Field is required" data-success=" "
              mdbInputDirective></p-dropdown>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-md-6 ">
            <label for="start">Start Time<span class="p2p-required">*</span></label>
            <p-calendar id="start" formControlName="startTime" styleClass="dateTimeField" timeOnly="true"
              showTime="true" hourFormat="12" (onSelect)="formatTime($event, 'start')" [style]="{ width: '100%' }"
              data-error="Field is required" data-success=" " mdbInputDirective>
            </p-calendar>
          </div>
          <div class="form-group col-md-6 ">
            <label for="end">End Time <span class="p2p-required">*</span></label>
            <p-calendar id="end" formControlName="endTime" styleClass="dateTimeField" timeOnly="true" showTime="true"
              hourFormat="12" (onSelect)="formatTime($event, 'end')" [style]="{ width: '100%' }"
              data-error="Field is required" data-success=" " mdbInputDirective></p-calendar>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-md-6 ">
            <label for="from">From<span class="p2p-required">*</span></label>
            <input type="text" ngx-google-places-autocomplete (onAddressChange)="setFromLocation($event)"
              #placesRef2="ngx-places" id="start" class="form-control" formControlName="fromAddress"
              data-error="Field is required" data-success=" " mdbInputDirective />
          </div>
          <div class="form-group col-md-6 ">
            <label for="to">To<span class="p2p-required">*</span></label>
            <input type="text" ngx-google-places-autocomplete (onAddressChange)="setToLocation($event)"
              #placesRef="ngx-places" id="to" class="form-control" formControlName="toAddress"
              data-error="Field is required" data-success=" " mdbInputDirective />
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="date">Date <span class="p2p-required">*</span></label>
            <p-calendar formControlName="tripDate" (onSelect)="formatDate()" [style]="{ width: '100%' }"
              styleClass="dateTimeField" dateFormat="mm-dd-yy" data-error="Field is required" data-success=" "
              mdbInputDirective></p-calendar>
          </div>
          <div class="form-group col-md-6 ">
            <label for="rate">Standard Mileage Rate ($)
              <span class="p2p-required">*</span></label>
            <input type="text" id="rate" placeholder="" class="form-control" formControlName="mileageRate"
              data-success=" " />
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="distance">Miles Driven (Miles) <span class="p2p-required">*</span></label>
            <input type="text" id="distance" placeholder="0.00" class="form-control" formControlName="milesDriven" />
          </div>
          <div class="form-group col-md-6 ">
            <label for="standardMiles">Total rate as per Standard Mileage Rate ($)
              <span class="p2p-required">*</span></label>
            <input type="text" id="standardMiles" placeholder="0.00" class="form-control" formControlName="tripCost" />
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="parking">Parking ($)</label>
            <input type="text" id="parking" (input)="onParkingInputChange($event.target.value)" placeholder="0.00"
              class="form-control" formControlName="parking" />
          </div>
          <div class="form-group col-md-6 ">
            <label for="tolls">Tolls ($) </label>
            <input type="text" id="tolls" placeholder="0.00" (input)="onTollInputChange($event.target.value)"
              class="form-control" formControlName="tolls" />
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="expense">Total Expense ($)<span class="p2p-required">*</span></label>
            <input type="text" id="expense" placeholder="0.00" class="form-control" formControlName="totalExpense" />
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="detailsFrame.hide()" mdbWavesEffect>
          Close <a class="fa fa-close ml-1"></a>
        </button>
        <button mdbBtn class="btn btn-md mx-3" type="button" (click)="updateTrip()" color="success" mdbWavesEffect>
          Update <a class="fa fa-check ml-1"></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete this Trip?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn gradient="peach" class=" btn-md waves-effect text-white btn-min-width" mdbWavesEffect
          (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" (click)="deleteTrip()"
          mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div mdbModal style="overflow-y: auto" #mergeFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Choose a Trip to Merge with</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mergeFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 *ngIf="filteredArray.length === 0" class="text-center p-3">
          No trips available to merge with selected trip.
        </h5>
        <p-table *ngIf="filteredArray.length !== 0" [columns]="secondTableColumns" [value]="filteredArray"
          [(selection)]="selectedTrips" dataKey="id"  [paginator]="true" [rows]="5"[responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td>{{rowData.fromAddress}}</td>
              <td>{{rowData.toAddress}}</td>
              <td>{{rowData.tripDate}}</td>
              <td>{{rowData.tripType}}</td>
              <td>{{rowData.totalExpense|number : '.2-2'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class=" btn-md waves-effect peach-gradient text-white btn-min-width" mdbWavesEffect
          (click)="mergeFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a *ngIf="filteredArray.length !== 0" type="button" mdbBtn color="success"
          class="waves-effect btn-min-width btn-md" (click)="mergeTrips()" mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>