<section>
    <div class="se2c-1122HFDHH-156fM212 mat4555GtuTab5752">
        <div class="container-fluid">
            <div class="mdb-tab">
                <ul class="text-center ma00t-5214UYT4125 m-0">
                    <li><a class="nav-link" [routerLink]="['/help-center/contact-us']" routerLinkActive="active">Contact
                            Us</a></li>
                    <li><a class="nav-link" [routerLink]="['/help-center/account-setup']"
                            routerLinkActive="active">Account Setup</a></li>
                    <li><a class="nav-link" [routerLink]="['/help-center/app-features']" routerLinkActive="active">App
                            Features</a></li>
                    <li><a class="nav-link" [routerLink]="['/help-center/faqs']" routerLinkActive="active">FAQ</a></li>
                    <li><a class="nav-link" [routerLink]="['/help-center/growing-your-money']"
                            routerLinkActive="active">Growing
                            Your Money</a></li>
                    <li><a class="nav-link" [routerLink]="['/help-center/how-do-i-cancel']"
                            routerLinkActive="active">How
                            do I cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>