
.mdb-tab ul li {
    display: inline-block
}

.mdb-tab ul li a {
    border: 1px solid #396eb6;
    border-radius: 4px;
    box-sizing: border-box;
    color: #396eb6;
    justify-content: center;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
    background-color: transparent;
    text-align: center;
    border-radius: 4px;
    margin: 5px;
    font-size: 15px;
    min-width: 200px;
    padding: 30px 20px;
    font-weight: 600;
    transition: all 0.4s;
    transform: scale(1);
}

.mdb-tab ul li a:hover {
    background-color: #70ad48;
    color: #fff;
    transform: scale(0.9);
    border: 1px solid #70ad48;
}

.ma00t-5214UYT4125 {
    background: transparent;
    padding: 10px;
    border-radius: 4px;
}

.mdb-tab ul li a.active {
    background-color: #70ad48;
    border: 1px solid #d3d3d3;
    color: #fff;
}

.cont0456897ARV-MN {
    background-color: #70ad48;
    padding: 5px;
}

.cont0456897ARV-MN h3 {
    color: #fff;
    font-size: 25px;
    margin: 5px 0 0 0;
    font-weight: 600;
}