<div class="container card pb-3">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">From :</h6>
      <p-calendar [(ngModel)]="filterFromDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">To :</h6>
      <p-calendar [(ngModel)]="filterToDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6 form-group">
      <button type="button" class="smallBtn btn-md" mdbBtn color="success" mdbWavesEffect (click)="getReceiptList()">
        Filter
      </button>
    </div>
  </div>
  <div class="card card-cascade narrower animated fadeInRight">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Receipt List</a>
      <div>
        <button type="button" (click)="
            frame.show(); resetForm(); setReceiptType('Income'); setDate()
          " class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-plus mt-o"></i>Income
        </button>
        <button type="button" (click)="
            frame.show(); resetForm(); setReceiptType('Expense'); setDate()
          " class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-plus mt-o"></i>Expense
        </button>
      </div>
    </div>
    <p-table [tableStyle]="{ 'table-layout': 'auto' }" [resizableColumns]="false" columnResizeMode="expand" class="p-4"
      #dt [columns]="tableColumns" [value]="receiptList" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%" />
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td>{{rowData.type}}</td>
          <td>${{rowData.amount |number : '.2-2'}}</td>
          <td>{{rowData.date}}</td>
          <td>{{rowData.recurring | booleanPipe}}</td>
          <td>
            <button *ngIf="rowData.type === 'EXPENSE'" mdbTooltip="View" placement="top" type="button" mdbBtn
              floating="true" size="sm" (click)="
                frame.show();
                dialogType = 'Expense';
                setFormData(rowData, rowData.moneyFlowExpenseId)
              " class="my-0 p2p-sm-btn blue-gradient">
              <i class="fa fa-eye"></i>
            </button>
            <button *ngIf="rowData.type === 'INCOME'" mdbTooltip="View" placement="top" type="button" mdbBtn
              floating="true" size="sm" (click)="
                frame.show();
                dialogType = 'Income';
                setFormData(rowData, rowData.moneyFlowIncomeId)
              " class="my-0 p2p-sm-btn blue-gradient">
              <i class="fa fa-eye"></i>
            </button>
            <button *ngIf="rowData.type === 'EXPENSE'" mdbTooltip="Delete" placement="top" type="button" mdbBtn
              floating="true" size="sm" (click)="
                deleteFrame.show();
                dialogType = 'Expense';
                setSelectedReceiptId(rowData.moneyFlowExpenseId)
              " class="my-0 p2p-sm-btn peach-gradient">
              <i class="fa fa-trash"></i>
            </button>
            <button *ngIf="rowData.type === 'INCOME'" mdbTooltip="Delete" placement="top" type="button" mdbBtn
              floating="true" size="sm" (click)="
                deleteFrame.show();
                dialogType = 'Income';
                setSelectedReceiptId(rowData.moneyFlowIncomeId)
              " class="my-0 p2p-sm-btn peach-gradient">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div mdbModal style="overflow-y: auto" #frame="mdbModal" class="modal fade top modal-calander" id="frameModalTop"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  (closed)="receiptForm.reset(); receiptForm.markAsUntouched()">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 *ngIf="receiptForm.controls.moneyFlowReceiptId.value === null" class="modal-title w-100 text-white"
          id="myModalLabel">
          <i class="fa fa-plus icon-size mr-2 text-white" aria-hidden="true"></i>Add {{ dialogType }} Receipt
        </h4>
        <h4 *ngIf="receiptForm.controls.moneyFlowReceiptId.value !== null" class="modal-title w-100 text-white"
          id="myModalLabel">
          <i class="fa fa-plus icon-size mr-2 text-white" aria-hidden="true"></i>Update {{ dialogType }} Receipt
        </h4>
      </div>
      <div class="modal-body mx-4">
        <form [formGroup]="receiptForm" class="text-center pb-2">
          <div class="form-row">
            <div class="col-10">
              <h6 class="text-left">Receipt Type :</h6>
              <select id="receipt-type" formControlName="receiptType"
                class="browser-default custom-select form-control mb-2" data-error="Field is required" data-success=" "
                mdbInputDirective>
                <option disabled value=" "></option>
                <option *ngFor="let type of receiptType" value="{{ type.name }}">{{ type.name }}</option>
              </select>
            </div>
            <div class="col-2">
              <div class="addUnassigned-btnIcon">
                <a *ngIf="!showAddNewType" mdbTooltip="Add new Type" mdbBtn floating="true" size="sm" color="success"
                  (click)="
                    showAddNewType = true;
                    receiptForm.controls.receiptType.disable();
                    receiptForm.controls.receiptType.reset();
                    setNewTypeValidation()
                  " mdbWavesEffect>
                  <i class="fa fa-plus"></i>
                </a>
                <a *ngIf="showAddNewType" mdbTooltip="Hide" mdbBtn floating="true" size="sm" color="danger" (click)="
                    showAddNewType = false;
                    receiptForm.controls.receiptType.enable();
                    setNewTypeValidation()
                  " mdbWavesEffect>
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="showAddNewType">
            <div class="col-10">
              <input type="text" id="newReceiptType" [formControl]="newReceiptType" class="form-control  mb-3"
                placeholder="New Receipt Type" aria-label="New Receipt Type" data-error="Field is required"
                data-success=" " mdbInputDirective />
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col-6">
              <h6 class="text-left">Date :</h6>
              <p-calendar dateFormat="mm-dd-yy" formControlName="date" data-error="Field is required" data-success=" "
                mdbInputDirective></p-calendar>
            </div>
            <div class="col-6">
              <h6 class="text-left">Amount :</h6>
              <input type="number" id="amount" class="form-control" formControlName="amount"
                data-error="Field is required" data-success=" " mdbInputDirective />
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <h6 class="text-left">Source :</h6>
              <input type="text" id="source" class="form-control mb-4 " formControlName="source" />
            </div>
            <div class="col-6">
              <h6 class="text-left">Notes :</h6>
              <input type="text" id="notes" class="form-control mb-4 " formControlName="notes" />
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <h6 class="text-left recurrenceLabel mr-5">Recurrence :</h6>
              <mdb-checkbox class="text-left" formControlName="recurring" (click)="setValidation()"></mdb-checkbox>
            </div>
            <div class="col-md-6">
              <p-calendar [hidden]="!receiptForm.controls.recurring.value" dateFormat="mm-dd-yy"
                formControlName="recurrenceDate" data-error="Field is required" data-success=" " mdbInputDirective>
              </p-calendar>
            </div>
          </div>
          <div class="form-row py-2">
            <div class="col-12 file-field">
              <div class="col-7 file-path-wrapper p-0">
                <input class="file-path" type="text" placeholder="Upload your file" [value]="showFile()" />
              </div>
              <div *ngIf="!selectedFile && !url" mdbBtn color="success" size="md" class="col-md-5 relative waves-light"
                mdbWavesEffect>
                <i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i>Upload
              </div>
              <input accept="image/*" type="file" mdbFileSelect formControlName="receiptFile"
                (change)="selectFile(fileInput)" #fileInput />
              <div class="col-5" *ngIf="selectedFile || url">
                <button mdbTooltip="Delete" type="button" mdbBtn floating="true" size="sm"
                  class="my-0 p2p-sm-btn peach-gradient" (click)="resetFileInput()">
                  <i class="fa fa-trash"></i>
                </button>
                <button mdbTooltip="Download" type="button" (click)="downloadImage()" mdbBtn floating="true" size="sm"
                  class="my-0 p2p-sm-btn btn-success">
                  <i class="fa fa-download"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="selectedFile" class="mt-4 mb-2" style="height:150px;width:100%">
            <img id="uploadImg" [src]="sanitizer.bypassSecurityTrustUrl(url)" height="200" />
          </div>
          <div *ngIf="url && !selectedFile" class="mt-4 mb-2" style="height:150px;width:100%">
            <img id="uploadImg" [src]="url" height="200" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-md" mdbBtn gradient="peach" aria-label="Close"
          (click)="frame.hide(); resetForm(); showAddNewType = false" mdbWavesEffect>
          Close <i class="fa fa-close ml-1"></i>
        </button>
        <button *ngIf="receiptForm.controls.moneyFlowReceiptId.value === null" type="submit" mdbBtn color="success"
          class="relative waves-light btn-md" mdbWavesEffect (click)="createNewReceipt()">
          Save <i class="fa fa-save ml-1"></i>
        </button>
        <button *ngIf="receiptForm.controls.moneyFlowReceiptId.value !== null" type="submit" mdbBtn color="success"
          class="relative waves-light btn-md" mdbWavesEffect (click)="updateReceipt()">
          Update <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient text-white btn-md btn-min-width" mdbWavesEffect
          (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" (click)="removeReceipt()"
          mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>