.halfInput {width: 50%;}
.save-btn {width: 32%; margin-left: auto;margin-right: auto;}
.plans {width: 30%;margin-left: 10%;margin-top: 20px;}
.fontSize {font-size: 14px;font-weight: 800;padding-left: 8px;}
.card-header {font-weight: 500 !important;line-height: 2.2 !important;}
.modal-header {background: #70ad48 !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
.icon-size {font-size: 2rem;}
::ng-deep .custom-gradient {background: #70ad48 !important;}
.title-size {font-size: 1.25rem;}
.btn-min-width {min-width: 149px;}
.label-size {font-size: 1.15rem;}
.sm-margin { margin-left: 0px !important;}
input.counter-danger ~ span.text-danger {top: 96px !important;right: 15px;}
.filter-alignment {margin-left: 2%;}
.filter-alignment h6 {font-weight: 500;color: #70ad48;font-size: 1.2rem;}
.smallBtn {padding: 9px 26px;margin-top: 32px !important;background-color: #70ad48 !important;color: #fff !important;}
::ng-deep body .ui-inputtext {padding-top: 8px !important;border: 1px solid #ced4da;}
::ng-deep .modal-calander .ui-inputtext {width: 100%;}
::ng-deep .modal-calander .ui-calendar { width: 100%;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep body .ui-button.ui-button-icon-only .ui-button-text {margin-top: 1px !important;margin-bottom: -1px !important;padding: 0.575em !important;}
::ng-deep body .ui-inputtext:enabled:hover:not(.ui-state-error) {border-color: #ced4da;}
::ng-deep .filter-alignment .ui-inputtext {width: 85% !important;}
::ng-deep .ui-calendar {width: 100% !important;}
@media (max-width: 740px) {
.halfInput {width: 100%;}
.save-btn {width: 100%;}
.pr-5, .pb-5, .py-5, .pl-5, .px-5 {padding: 0 !important;}
.plans {width: 100%;margin-left: 0%;}
td {border: 1px solid lightgrey;}
.sm-margin {margin-left: 6.1rem !important;}
.filter-alignment {margin-left: 0%;}
.smallBtn {padding: 12px 14px;margin-top: 0 !important;width: 95%;margin-left: 0%;}
}
