<div class="container  p-1 animated fadeInRight">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">From :</h6>
      <p-calendar [(ngModel)]="filterFromDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">To :</h6>
      <p-calendar [(ngModel)]="filterToDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6 form-group">
      <button type="button" class="smallBtn btn-md" mdbBtn mdbWavesEffect (click)="getMoneyFlowList()">
        Filter
      </button>
    </div>
  </div>
  <div class="card card-cascade narrower z-depth-1-half">
    <div
      class="view view-cascade gradient-card-header custom-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Account List</a>
      <div mdbTooltip="Add New Money Flow Account" placement="left">
        <button type="button" (click)="frame.show(); resetForm()" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-plus mt-o"></i>
        </button>
      </div>
    </div>
    <p-table [tableStyle]="{ 'table-layout': 'auto' }" [resizableColumns]="false" columnResizeMode="expand" class="p-4"
      #dt [columns]="tableColumns" [value]="table" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%" />
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td *ngFor="let col of tableColumns">
            {{ rowData[col.field] }}
            <button *ngIf="col.field === 'action'" mdbTooltip="View" placement="top" type="button" mdbBtn
              floating="true" size="sm" class="my-0 p2p-sm-btn blue-gradient"
              (click)="submitForNavigation(rowData.moneyFlowAccountId)">
              <i class="fa fa-eye"></i>
            </button>
            <button *ngIf="col.field === 'action'" mdbTooltip="Edit" placement="top" type="button" mdbBtn
              color="success" floating="true" size="sm" class="my-0 p2p-sm-btn"
              (click)="frame.show(); chooseMoneyFlow(rowData)">
              <i class="fa fa-pencil"></i>
            </button>
            <button *ngIf="col.field === 'action'" mdbTooltip="Delete" placement="top" type="button" mdbBtn
              floating="true" size="sm" class="my-0 p2p-sm-btn peach-gradient" (click)="
                setSelectedFlowId(rowData.moneyFlowAccountId);
                deleteFrame.show()
              ">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (closed)="newMoneyFlow.reset(); newMoneyFlow.markAsUntouched()">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant">
      <form [formGroup]="newMoneyFlow">
        <div class="modal-header">
          <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 *ngIf="newMoneyFlow.controls.moneyFlowAccountId.value === null" class="modal-title w-100 text-white">
            <i class="fa fa-plus icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Add New Money Flow Account
          </h4>
          <h4 *ngIf="newMoneyFlow.controls.moneyFlowAccountId.value != null" class="modal-title w-100 text-white">
            <i class="fa fa-pencil icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Update Money Flow Account
          </h4>
        </div>
        <div class="modal-body mx-2">
          <label for="flowName" class="label-size">Money Flow Name<span class="p2p-required">*</span></label>
          <input data-error="Flow name should not be empty!" data-success=" " type="text" id="flowName"
            formControlName="moneyFlowName" class="form-control mb-2" placeholder="Name" mdbInputDirective />
          <div class=" text-left mt-4">
            <label class="label-size">Type :</label>
            <div class="form-check form-check-inline mx-5">
              <input formControlName="moneyFlowType" value="BUSINESS" type="radio" class="form-check-input"
                id="materialInline1" />
              <label class="form-check-label label-size" (click)="selectedPlan('BUSINESS')"
                for="materialInline1">Business</label>
            </div>
            <div class="form-check form-check-inline  mx-5 sm-margin">
              <input formControlName="moneyFlowType" value="HOME" type="radio" class="form-check-input"
                id="materialInline2" />
              <label class="form-check-label label-size" (click)="selectedPlan('HOME')"
                for="materialInline2">Home</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
            (click)="frame.hide()" mdbWavesEffect>
            Close <i class="fa fa-close ml-1"></i>
          </button>
          <button *ngIf="newMoneyFlow.controls.moneyFlowAccountId.value === null" type="submit" mdbBtn color="success"
            class="relative waves-light btn-md" mdbWavesEffect (click)="createNewMoneyFlow()">
            Add Money Flow Account <i class="fa fa-plus ml-1"></i>
          </button>
          <button *ngIf="newMoneyFlow.controls.moneyFlowAccountId.value != null" type="submit" mdbBtn color="success"
            class="relative waves-light btn-md" mdbWavesEffect (click)="updateMoneyFlow()">
            Save changes <i class="fa fa-save ml-1"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete this Money Flow Account ?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect btn-md peach-gradient text-white btn-min-width" mdbWavesEffect
          (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" (click)="removeMoneyFlow()"
          mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>