<div class="container p-1">
  <p-tabMenu *ngxPermissionsOnly="['ROLE_PROSPECT','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']" class="ui-tabmenu-list"
    [model]="items" [activeItem]="currentTab"></p-tabMenu>
  <router-outlet></router-outlet>
</div>