.view {
  height: 100vh !important;
}

.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}

h6 {
  line-height: 1.7;
}

.show-hide-text {
  display: none;
}

.green-bg {
  background-color: #70ad48;
}

.form-header {
  margin-bottom: 0 !important;
}

.btn-success {
  background-color: #70ad48 !important;
  color: #fff !important;
}

.text-success {
  color: #70ad48 !important;
}

.apploginheading {
  color: #fd7364;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.loginImg {
  margin-top: 6.5rem;
}

#showEye-Button {
  float: right;
  position: relative;
  bottom: 35px;
  font-size: 20px;
  color: #6fac48;
  border-radius: 50px;
  padding: 5px;
}

@media (max-width: 991px) {
  .login-div {
    padding: 0 !important;
    margin-top: 2rem;
  }
}

@media (max-width: 740px) {

  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }
}

.userLogin-register-sectionLogo {
  margin-top: 8em;
}

.userLogin-register-section {
  width: 350px;
  color: #5e6c84;
  margin: 50px auto;
  border-radius: 3px;
}
