<main class="text-center">
  <section class="h-auto">
    <div class="view"
      style="background-image: url('assets/images/Stacked Coins.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask justify-content-center align-items-center">
        <div class="container">
          <!-- <div class="d-flex align-items-center content-height w-100 right-login-div"> -->
          <!-- <div class="row pt-lg-5 mt-lg-5"> -->
          <!-- <div class="col-md-8 col-sm-12 left-login-div" (deferLoad)="image[0].show = true">
              <ng-container *ngIf="image[0].show">
                <img src="{{image[0].url}}" class="img-fluid mb-3 loginImg">
              </ng-container>
            </div> -->
          <!-- <div class="col-md-4 col-xl-4 col-sm-12 offset-xl-0 px-5 animated fadeInRight login-div mt-5 pt-5"> -->
          <!-- <h1 class="h1 h1-responsive font-weight-bold wow fadeInLeft apploginheading text-center"
            data-wow-delay="0.3s">"Earn While You Learn" </h1> -->
          <div class="userLogin-register-sectionLogo text-center">
            <img src="assets/images/P2P Unleash-2.png" width="400" height="60" class="d-inline-block align-top">
          </div>
          <div class="userLogin-register-section">
            <mdb-card *ngIf="showLogin" class="animated fadeInRight">
              <mdb-card-body class="pb-5">
                <div class="form-header green-bg">
                  <h3>
                    <i class="fa fa-lock"></i> Login</h3>
                </div>
                <br>
                <!-- <div (deferLoad)="image[1].show = true">
                    <ng-container *ngIf="image[1].show">
                      <img src="{{image[1].url}}" class="img-fluid">
                    </ng-container>
                  </div> -->
                <form style="color: #757575;" class="text-left" [formGroup]="loginForm">
                  <div class="md-form">
                    <label class="text-success " for="materialLoginFormEmail">Username</label>
                    <input type="text" data-error="Please provide a user name." data-success=" "
                      id="materialLoginFormEmail" class="form-control" formControlName="userName" mdbInputDirective>
                  </div>
                  <div class="md-form">
                    <input mdbInputDirective data-error="Please provide a password." data-success=" "
                      formControlName="password" [type]="show_button1 ? 'text' : 'password'" class="form-control"
                      id="materialLoginFormPassword">
                    <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('first')"
                      id="showEye-Button"></i>
                    <label class="text-success " for="materialLoginFormPassword">Password</label>
                  </div>
                  <div class="d-flex justify-content-around">
                    <div>
                      <a class="text-success" (click)="changeState('showResetPassword')">Forgot password?</a>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div>
                      <button mdbBtn color="success" rounded="true" class="btn-width my-4 waves-effect" mdbWavesEffect
                        type="submit" (click)="login()">Sign in</button>
                    </div>
                  </div>
                  <p class="text-center pb-3">Not a member?
                    <a class="text-success" [routerLink]="['../signup']">Register</a>
                  </p>
                </form>
              </mdb-card-body>
            </mdb-card>
            <mdb-card *ngIf="showResetPassword" class="animated fadeInRight">
              <mdb-card-body>
                <div class="form-header green-bg">
                  <h3><i class="fa fa-lock"></i> Forgot Password?</h3>
                </div>
                <br>
                <ng-container *ngIf="image[1].show">
                  <img src="{{image[1].url}}" class="img-fluid">
                </ng-container>
                <form style="color: #757575;" class="text-left" [formGroup]="forgotForm">
                  <div class="md-form">
                    <input type="email" data-error="Please provide valid email address." data-success=" "
                      id="forgotFormEmail" class="form-control" formControlName="email" mdbInputDirective>
                    <label class="text-success " for="forgotFormEmail">Registered Email Address</label>
                  </div>
                  <div class="text-center text-white">
                    <a mdbBtn gradient="peach" rounded="true" mdbWavesEffect (click)="changeState('showLogin')"><i
                        class="fa fa-chevron-left"></i> &nbsp; Go Back</a>
                    <button mdbBtn color="success" rounded="true" mdbWavesEffect type="submit"
                      (click)="getNewPassword()">Reset
                      Password</button>
                  </div>
                  <p class="text-center py-3">Not a member?
                    <a class="text-success" [routerLink]="['../signup']">Register</a>
                  </p>
                </form>
              </mdb-card-body>
            </mdb-card>
            <mdb-card *ngIf="showOtpBox" class="animated fadeInRight">
              <mdb-card-body>
                <div class="form-header green-bg">
                  <h3><i class="fa fa-lock"></i> Reset Password</h3>
                </div>
                <br>
                <form style="color: #757575;" class="text-left" [formGroup]="resetForm">
                  <div class="md-form">
                    <input type="email" class="form-control" readonly formControlName="oldEmail" id="oldEmail"
                      mdbInputDirective>
                    <label class="text-success " for="forgotFormEmail">Registered Email Address</label>
                  </div>
                  <div class="md-form">
                    <input type="text" data-error="Please enter valid OTP." data-success=" " id="forgotFormOTP"
                      class="form-control" formControlName="otp" mdbInputDirective>
                    <label class="text-success" for="forgotFormOTP">OTP</label>
                  </div>
                  <div class="md-form">
                    <input data-error="Please enter new password." data-success=" " id="newPassword"
                      class="form-control" [type]="show_button1 ? 'text' : 'password'" formControlName="password"
                      mdbInputDirective>
                    <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('first')"
                      id="showEye-Button"></i>
                    <label class="text-success" for="newPassword">New Password</label>
                  </div>
                  <div class="md-form">
                    <input data-error="Please re-enter password." data-success=" " id="confirmPassword"
                      class="form-control" [type]="show_button2 ? 'text' : 'password'" formControlName="confirmPassword"
                      mdbInputDirective>
                    <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('second')"
                      id="showEye-Button"></i>
                    <label class="text-success" for="confirmPassword">Confirm Password</label>
                  </div>
                  <div class="text-center text-white">
                    <a mdbBtn gradient="peach" rounded="true" mdbWavesEffect
                      (click)="changeState('showResetPassword')"><i class="fa fa-chevron-left"></i> &nbsp; Go Back</a>
                    <button mdbBtn color="success" rounded="true" mdbWavesEffect type="submit"
                      (click)="resetPassword()">Reset
                      Password</button>
                  </div>
                  <p class="text-center py-3">Not a member?
                    <a class="text-success" [routerLink]="['../signup']">Register</a>
                  </p>
                </form>
              </mdb-card-body>
            </mdb-card>
          </div>
          <!-- </div> -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>
</main>
