.icon-color {color: #fb6a18 !important;}
::ng-deep .manualMileageForm .ui-inputtext {width: 100% !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
  
  
