<div class="container animated fadeInRight">
  <div class="card">
    <h4 class="card-header h4-responsive p2p-card-heading py-3">
      <i class="fa fa-plus icon-color mr-2"></i> ADD MILEAGE MANUALLY
    </h4>
    <form [formGroup]="manualMileage" class="p2p-form pt-3 px-4 manualMileageForm">
      <div class="form-row mb-3">
        <div class="form-group col-md-6">
          <label for="tripType">Select Money Flow Account <span class="p2p-required">*</span></label>
          <p-dropdown (onChange)="setFlow($event)" [style]="{ width: '100%' }"
            placeholder="Select Money Flow Account" [options]="flowList" formControlName="flowId"
            data-error="Field is required" data-success=" " mdbInputDirective></p-dropdown>
        </div>
        <div class="form-group col-md-6">
          <label for="vehicle">Select Vehicle <span class="p2p-required">*</span></label>
          <p-dropdown [style]="{ width: '100%' }" placeholder="Select Vehicle"
            [options]="vehicleList" formControlName="vehicleId" data-error="Field is required" data-success=" "
            mdbInputDirective></p-dropdown>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="form-group col-md-6 ">
          <label for="start">Start Time<span class="p2p-required">*</span></label>
          <p-calendar id="start" formControlName="startTime" styleClass="dateTimeField" timeOnly="true" showTime="true"
            hourFormat="12" (onSelect)="checkValidity($event)" [style]="{ width: '100%' }"
            data-error="Field is required" data-success=" " mdbInputDirective></p-calendar>
        </div>
        <div class="form-group col-md-6 ">
          <label for="end">End Time <span class="p2p-required">*</span></label>
          <p-calendar id="end" formControlName="endTime" styleClass="dateTimeField" timeOnly="true" showTime="true"
            hourFormat="12" (onSelect)="checkValidity($event)" [style]="{ width: '100%' }"
            data-error="Field is required" data-success=" " mdbInputDirective></p-calendar>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="form-group col-md-6 ">
          <label for="from">From<span class="p2p-required">*</span></label>
          <input type="text" ngx-google-places-autocomplete (onAddressChange)="setFromLocation($event)"
            #placesRef="ngx-places" id="start" class="form-control" formControlName="fromAddress"
            data-error="Field is required" data-success=" " mdbInputDirective />
        </div>
        <div class="form-group col-md-6 ">
          <label for="to">To<span class="p2p-required">*</span></label>
          <input type="text" ngx-google-places-autocomplete (onAddressChange)="setToLocation($event)"
            #placesRef="ngx-places" id="to" class="form-control" formControlName="toAddress"
            data-error="Field is required" data-success=" " mdbInputDirective />
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="form-group col-md-6">
          <label for="date">Date <span class="p2p-required">*</span></label>
          <p-calendar formControlName="tripDate" [style]="{ width: '100%' }" styleClass="dateTimeField"
            dateFormat="mm-dd-yy" data-error="Field is required" data-success=" " mdbInputDirective></p-calendar>
        </div>
        <div class="form-group col-md-6 ">
          <label for="rate">Standard Mileage Rate ($)
            <span class="p2p-required">*</span></label>
          <input type="text" id="rate" placeholder="" class="form-control" formControlName="mileageRate"
            data-success=" " />
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="form-group col-md-6">
          <label for="distance">Miles Driven (Miles) <span class="p2p-required">*</span></label>
          <input type="text" id="distance" placeholder="0.00" class="form-control" formControlName="milesDriven" />
        </div>
        <div class="form-group col-md-6 ">
          <label for="standardMiles">Total rate as per Standard Mileage Rate ($)
            <span class="p2p-required">*</span></label>
          <input type="text" id="standardMiles" placeholder="0.00" class="form-control" formControlName="tripCost" />
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="form-group col-md-6">
          <label for="parking">Parking ($)</label>
          <input type="text" id="parking" (input)="onParkingInputChange($event.target.value)" placeholder="0.00"
            class="form-control" formControlName="parking" />
        </div>
        <div class="form-group col-md-6 ">
          <label for="tolls">Tolls ($) </label>
          <input type="text" id="tolls" placeholder="0.00" (input)="onTollInputChange($event.target.value)"
            class="form-control" formControlName="tolls" />
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="form-group col-md-6">
          <label for="expense">Total Expense ($)<span class="p2p-required">*</span></label>
          <input type="text" id="expense" placeholder="0.00" class="form-control" formControlName="totalExpense" />
        </div>
      </div>
    </form>
    <button mdbBtn class="aboutus-btn btn-width mx-3 mb-4" type="button" (click)="addMileage()" color="success"
      mdbWavesEffect>
      Save
    </button>
  </div>
</div>