<div class="container-fluid  p-1 animated fadeInRight">
  <div style="margin:10px">
<div *ngIf="!showCustomers" class="card card-cascade narrower animated fadeInRight">
  <div
    class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <a class="white-text mx-3 title-size">All Customers</a>
    <div class="butttons">
      <div mdbTooltip="Download"  placement="left" customHeight="50">
        <button type="button" (click)="dt1.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-download"></i>
        </button>
      </div>
      <div mdbTooltip="Refresh" placement="left" customHeight="50">
        <button type="button" (click)="getAllCustomers();" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>
  <p-table class="p-4" #dt1 [columns]="tableColumns" [loading]="loading" [value]="referrerList" [paginator]="true"
    [rows]="5" [responsive]="true" exportFilename="All Customers Report">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="   Search"
          (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:30%">
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of tableColumns" [style.width]="col.width">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
          <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList"
            defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
          <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}"
            [options]="accountType" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
          </p-multiSelect>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
      <tr>
        <td *ngFor="let col of tableColumns">
          {{rowData[col.field]}}
          <button *ngIf="col.field === 'action'" color="success" mdbTooltip="View profile" placement="top"
            type="button" mdbBtn floating="true" size="sm"
            (click)="showUserDetails(rowData,'');profileFrame.show();"
            class="my-0 delete-button-gap p2p-sm-btn"><i class="fa fa-eye"></i></button>
          <button *ngIf="col.field === 'action' && rowData.status==='ACTIVATION PENDING'" mdbTooltip="Resend Mail"
            placement="top" type="button" mdbBtn color="info" floating="true" size="sm"
            class="my-0 delete-button-gap p2p-sm-btn" (click)="resendMail(rowData);"><i class="fa fa-envelope"></i>
          </button>
          <button
            *ngIf="col.field === 'action' && rowData.status !=='ACTIVATION PENDING' && rowData.status !=='ARCHIVED'&& rowData.status !=='SUBSCRIPTION PENDING'"
            mdbTooltip="Archive Customer Rep" placement="top" type="button" mdbBtn gradient="peach" floating="true"
            size="sm" class="my-0 delete-button-gap p2p-sm-btn"
            (click)="showUserDetails(rowData , 'archive');actionFrame.show();"><i
              class="fa fa-user-times"></i>
          </button>
          <button
            *ngIf="col.field === 'action' && rowData.status === 'ACTIVE' && rowData.status !=='ACTIVATION PENDING'"
            mdbTooltip="Deactivate Customer Rep" placement="top" type="button" mdbBtn gradient="purple"
            floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn"
            (click)="showUserDetails(rowData , 'deactivate');actionFrame.show();"><i class="fa fa-ban"></i>
          </button>

          <button *ngIf="col.field === 'action'" mdbTooltip="Delete Customer Rep" placement="top" type="button"
            mdbBtn gradient="aqua" floating="true" size="sm" class="delete-button-gap p2p-sm-btn"
            (click)="setUserToDelete(rowData);deletionFrame.show();"><i class="fa fa-trash"></i>
          </button>

          <button
            *ngIf="col.field === 'action' && rowData.status === 'INACTIVE' && rowData.status !=='ACTIVATION PENDING'"
            mdbTooltip="Activate Customer Rep" placement="top" type="button" mdbBtn gradient="blue" floating="true"
            size="sm" class="my-0 delete-button-gap delete-button-gap p2p-sm-btn"
            (click)="showUserDetails(rowData , 'activate');actionFrame.show();"><i class="fa fa-check"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
</div>
<div mdbModal #profileFrame="mdbModal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right text-white" aria-label="Close" (click)="profileFrame.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100 text-white"><i class="fa fa-eye icon-size mr-2 text-white mr-3"
          aria-hidden="true"></i>Customer
        Profile</h4>
    </div>
    <div class="form-row mx-5 mt-3">
      <div class="col-md-5">
        <h6 class="profile-headings ">Name :</h6>
      </div>
      <div class="col-md-7">
        <p class="m-0">{{selectedUser?.name}}</p>
      </div>
    </div>
    <div class="form-row mx-5 mt-3">
      <div class="col-md-5">
        <h6 class="profile-headings ">Phone Number :</h6>
      </div>
      <div class="col-md-7">
        <p class="m-0">{{selectedUser?.contactNumber}}</p>
      </div>
    </div>
    <div class="form-row mx-5 mt-3">
      <div class="col-md-5">
        <h6 class="profile-headings ">Email ID :</h6>
      </div>
      <div class="col-md-7">
        <p class="m-0">{{selectedUser?.email}}</p>
      </div>
    </div>
    <div class="form-row mx-5 mt-3">
      <div class="col-md-5">
        <h6 class="profile-headings ">Joining Date :</h6>
      </div>
      <div class="col-md-7">
        <p class="m-0">{{selectedUser?.joiningDate}}</p>
      </div>
    </div>
    <div class="form-row mx-5 mt-3"
      *ngIf="selectedUser?.status!=='ACTIVATION PENDING' && selectedUser?.status!=='SUBSCRIPTION PENDING' && selectedUser?.userType!=='Customer'">
      <div class="col-md-5">
        <h6 class="profile-headings ">Referral Code :</h6>
      </div>
      <div class="col-md-7">
        <p class="m-0">{{selectedUser?.referrerCode}}</p>
      </div>
    </div>
    <div class="form-row mx-5 mt-3">
      <div class="col-md-5">
        <h6 class="profile-headings ">Account Type :</h6>
      </div>
      <div class="col-md-7">
        <p class="m-0">{{selectedUser?.accountType}}</p>
      </div>
    </div>
    <div class="form-row mx-5 mt-3">
      <div class="col-md-5">
        <h6 class="profile-headings ">Status :</h6>
      </div>
      <div class="col-md-7">
        <p class="m-0">{{selectedUser?.status}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
        (click)="profileFrame.hide()" mdbWavesEffect>Close <a class="fa fa-close ml-1"></a></button>
    </div>
  </div>
</div>
</div>
<div mdbModal #actionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-notify modal-success" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <p class="heading lead">Confirmation</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="actionFrame.hide()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
        <h3>Are you sure you want to {{toggleAction}} {{selectedUser?.name}}'s account?</h3>
      </div>
    </div>
    <div class="modal-footer justify-content-center">
      <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
        (click)="actionFrame.hide()">Close
        <i class="fa fa-close ml-1 text-white"></i>
      </a>
      <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
        (click)="updateReferrerAccount();">Confirm
        <i class="fa fa-check ml-1 text-white"></i>
      </a>
    </div>
  </div>
</div>
</div>
<div mdbModal #updateEmail="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right text-white" aria-label="Close" (click)="updateEmail.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100 text-white"><i class="fa fa-pencil icon-size mr-2 text-white mr-3"
          aria-hidden="true"></i>Update Email ID
      </h4>
    </div>
    <div class="modal-body mx-2">
      <div class="form-group">
        <label class="label-size">Email ID<span class="p2p-required">*</span></label>
        <input [formControl]="email_id" data-error="Please provide a valid email address." data-success=" "
          type="text" class="form-control mb-2" placeholder="E-mail" mdbInputDirective>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
        (click)="updateEmail.hide()" mdbWavesEffect>Close <a class="fa fa-close ml-1"></a></button>
      <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect
        (click)="updateReferrerEmail();">
        update
        <a class="fa fa-pencil ml-1"></a>
      </button>
    </div>
  </div>
</div>
</div>

<div mdbModal #deletionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-notify modal-success" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <p class="heading lead">Confirmation</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deletionFrame.hide()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
        <h3>Are you sure you want to delete {{selectedUser?.name}}'s account?</h3>
      </div>
    </div>
    <div class="modal-footer justify-content-center">
      <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
        (click)="deletionFrame.hide()">Close
        <i class="fa fa-close ml-1 text-white"></i>
      </a>
      <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
        (click)="deleteUser();">Confirm
        <i class="fa fa-check ml-1 text-white"></i>
      </a>
    </div>
  </div>
</div>
</div>