::ng-deep .ui-picklist .ui-picklist-list {width: auto !important;}
::ng-deep .ui-picklist {margin: 0 auto !important;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep body .ui-button:hover {background-color: #fb6a18 !important; border: 1px solid #fb6a18 !important;}
.btn-success { background-color: #70ad48 !important;color: #fff !important;}
.profile-headings {font-weight: 500;color: #585454;font-size: 16px;}
.icon-size {color: #fb6a18 !important;}
  

