<div class="container p-1 animated fadeInRight">
  <div class="card">
    <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-sticky-note-o icon-size mr-2"></i>
      MARKETING EMAIL TEMPLATE</h4>
    <div class="row">
      <div class="col-md-5">
        <div class="row mt-4 mx-1">
          <div class="col-md-4">
            <h6 class="profile-headings ">Date : </h6>
          </div>
          <div class="col-md-8">
            <p>{{currentDate}}</p>
          </div>
        </div>
        <div class="row mx-1 my-3">
          <div class="col-md-4">
            <h6 class="profile-headings ">From : </h6>
          </div>
          <div class="col-md-8">
            <p>{{name|uppercase}}</p>
          </div>
        </div>
        <div class="row mx-1 my-3">
          <div class="col-md-4">
            <h6 class="profile-headings ">Roles : </h6>
          </div>
          <div class="col-md-8">
            <!-- <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_SUPER_ADMIN']">
              <input type="radio" class="form-check-input" id="materialInline1" value="PROSPECT_USERS"
                [(ngModel)]="role">
              <label class="form-check-label label-size" for="materialInline1"
                (click)="setRole('PROSPECT_USERS')">Prospect
                Users</label>
            </div> -->
            <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <input type="radio" class="form-check-input" id="materialInline2" value="ALL" [(ngModel)]="role">
              <label class="form-check-label label-size" for="materialInline2"
                (click)="setRole('INDIRECT_CUSTOMER')">Indirect
                Customers</label>
            </div>
            <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <input type="radio" class="form-check-input" id="materialInline7" value="YEA"
                [(ngModel)]="role">
              <label class="form-check-label label-size" for="materialInline7"
                (click)="setRole('YEA')">P2P
                YEA</label>
            </div>
            <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <input type="radio" class="form-check-input" id="materialInline3" value="CUSTOMER_REPS"
                [(ngModel)]="role">
              <label class="form-check-label label-size" for="materialInline3"
                (click)="setRole('CUSTOMER_REPS')">App
                Ambassadors</label>
            </div>
            <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <input type="radio" class="form-check-input" id="materialInline6" value="AAP"
                [(ngModel)]="role">
              <label class="form-check-label label-size" for="materialInline6"
                (click)="setRole('AAP')">App
                Ambassadors Plus</label>
            </div>
            <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <input type="radio" class="form-check-input" id="materialInline5" value="P2P_DISTRIBUTORS"
                [(ngModel)]="role">
              <label class="form-check-label label-size" for="materialInline5"
                (click)="setRole('P2P_DISTRIBUTORS')">Legacy Members</label>
            </div>
            <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <input type="radio" class="form-check-input" id="materialInline4" value="CUSTOMERS" [(ngModel)]="role">
              <label class="form-check-label label-size" for="materialInline4"
                (click)="setRole('CUSTOMERS')">Customers</label>
            </div>
            <div class="form-check form-check-inline mr-5" *ngxPermissionsOnly="['ROLE_CUSTOMER_REP']">
                <input type="radio" class="form-check-input" id="materialInline4" value="CUSTOMERS" [(ngModel)]="role">
                <label class="form-check-label label-size" for="materialInline4"
                  (click)="setRole('CUSTOMERS')">My Referrals</label>
              </div>
          </div>
        </div>
        <div *ngIf="showReferrerList" class="row mx-1 my-3">
          <div class="col-md-4">
            <h6 class="profile-headings ">Sponsor List : </h6>
          </div>
          <div class="col-md-8">
            <select id="user-type" class="browser-default custom-select form-control" [(ngModel)]="selectedReferrer"
              (ngModelChange)="onReferrerSelection($event)">
              <option *ngFor="let referrers of referrersArray" [ngValue]="referrers.customers">{{referrers.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row mx-1 my-3">
          <div class="col-md-4">
            <h6 class="profile-headings">Status : </h6>
          </div>
          <div class="col-md-8">
            <select id="user-type" class="browser-default custom-select form-control" [(ngModel)]="status"
              (ngModelChange)="onChangeStatus($event)">
              <option *ngFor="let type of statusList" [ngValue]="type.name">{{type.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <p-pickList class="m-3" [source]="allUsers" [target]="selectedUsers" dragdrop="true" sourceHeader="All Users"
          targetHeader="Selected Users" filterBy="name">
          <ng-template let-user pTemplate="item">
            <div class="ui-helper-clearfix">
              <div style="font-size:14px;float:right;margin:15px 5px 0 0;">{{user.name}}</div>
            </div>
          </ng-template>
        </p-pickList>
      </div>
    </div>
    <div class="mx-3 mb-3 form-group">
      <label for="exampleForm2" class="profile-headings">Subject :</label>
      <input type="text" [formControl]="subject" mdbValidate id="exampleForm2" class="form-control"
        data-error="Field is required" data-success=" " mdbInputDirective>
    </div>
    <div class="fileupload mx-3 mb-3">
      <p-fileUpload name="myfile[]" [showUploadButton]="false" (onSelect)="onUpload($event)" multiple="multiple"
        maxFileSize="10000000">
        <ng-template pTemplate="content">
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="mx-3">
      <h6 class="profile-headings">Body : </h6>
    </div>
    <app-ckeditor class="mx-3 mb-4"></app-ckeditor>
    <button mdbBtn class="aboutus-btn btn-width mx-3 mb-4" type="button" color="success" mdbWavesEffect
      (click)="sendMail();">Send</button>
  </div>
</div>