<div class="footer00013TRE565556 py-3 text-uppercase">
  <h2>
    <marquee>***This Commission will be released provided you have met the 3 customer requirement***</marquee>
  </h2>
  </div>
<div class="container pb-5 mb-5 animated fadeInRight">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">Select Week Range :</h6>
      <p-calendar [(ngModel)]="values" selectionMode="range" (onSelect)="select($event)" [style]="{ width: '100%' }" [showIcon]="true" dateFormat="mm-dd-yy">
      </p-calendar>
    </div>
    <!-- <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">To :</h6>
      <p-calendar [(ngModel)]="toDate" [style]="{ width: '100%' }" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div> -->
    <div class="ui-g-12 ui-md-6 form-group">
      <button (click)="getBonusPayouts()" type="button" class="smallBtn btn-md" mdbBtn color="success" mdbWavesEffect>
        Filter
      </button>
    </div>
  </div>
  <div class="mt-3">
<div class="card card-cascade narrower animated fadeInRight">
  <div
    class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <a class="white-text mx-3 title-size">Bonus Payouts</a>
    <div  placement="left" customHeight="50"> 
      <a class="white-text mx-3 title-size">My Customers: {{customerCount}}</a>
    </div>
    <div class="butttons">
      <div mdbTooltip="Download"  placement="left" customHeight="50">
        <button type="button" (click)="dt1.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-download"></i>
        </button>
      </div>
      <div mdbTooltip="Refresh" placement="left" customHeight="50">
        <button type="button" (click)="getBonusPayouts();" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>
  <p-table class="p-4" #dt1 [columns]="tableColumns" [value]="bonusList" [paginator]="true"
    [rows]="5" [responsive]="true" exportFilename="Bonus Payouts Report">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="   Search"
          (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:30%">
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of tableColumns" [style.width]="col.width">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
      <!-- <tr>
        <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
          <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList"
            defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
          <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}"
            [options]="accountType" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
          </p-multiSelect>
        </th>
      </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
      <tr>
      <td>{{rowData.firstName}}</td>
      <td>{{rowData.bonusEarnedFrom}}</td>
      <td>{{rowData.disbursementDate|date:'MM-dd-yyyy'}}</td>
      <td class="text-right">${{rowData.bonuseAmount |number : '.2-2'}}</td>
    </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="3">Total</td>
        <td class="text-right">${{totalBonus |number : '.2-2'}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
</div>