<div class="container-fluid  p-1 animated fadeInRight">
  <div style="margin:10px">
  <div class="card card-cascade narrower">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Admins</a>
      <div class="butttons">
        <div mdbTooltip="Add Admin"  placement="left" customHeight="50">
          <button type="button" (click)="addframe.show()" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-plus mt-o"></i>
          </button>
        </div>
        <div mdbTooltip="Download" placement="left" customHeight="50">
          <button type="button" (click)="dt4.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-download"></i>
          </button>
        </div>
        <div mdbTooltip="Refresh"  placement="left" customHeight="50">
          <button type="button" (click)="getAllAdmins();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </div>
    </div>
    <p-table [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt4 [columns]="tableColumns"
      [value]="adminList" [paginator]="true" [rows]="10" [responsive]="true" exportFilename="Admins Report">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt4.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tableColumns" style="width:150px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
            <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList"
              defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
            <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}"
              [options]="accountType" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
            </p-multiSelect>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td *ngFor="let col of tableColumns">
            {{rowData[col.field]}}
            <button
              *ngIf="col.field === 'action' && rowData.status !=='ACTIVATION_PENDING' && rowData.status !=='ARCHIVED'&& rowData.status !=='SUBSCRIPTION_PENDING'"
              mdbTooltip="Archive Admin" placement="bottom" type="button" mdbBtn gradient="peach" floating="true"
              size="sm" class="my-0 .delete-button-gap p2p-sm-btn" (click)="showUserDetails(rowData , 'archive');actionFrame.show();"><i
                class="fa fa-user-times"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && rowData.status === 'ACTIVE' && rowData.status !=='ACTIVATION_PENDING'"
              mdbTooltip="Deactivate Admin" placement="bottom" type="button" mdbBtn gradient="purple" floating="true"
              size="sm" class="my-0 .delete-button-gap p2p-sm-btn" (click)="showUserDetails(rowData , 'deactivate');actionFrame.show();"><i
                class="fa fa-ban"></i>
            </button>
            <button *ngIf="col.field === 'action'" mdbTooltip="Delete Admin" placement="bottom" type="button" mdbBtn
              gradient="aqua" floating="true" size="sm" class=" .delete-button-gap p2p-sm-btn"
              (click)="setUserToDelete(rowData);deletionFrame.show();"><i class="fa fa-trash"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && rowData.status === 'INACTIVE' && rowData.status !=='ACTIVATION_PENDING'"
              mdbTooltip="Activate Admin" placement="bottom" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0  .delete-button-gap p2p-sm-btn" (click)="showUserDetails(rowData , 'activate');actionFrame.show();"><i
                class="fa fa-check"></i>
            </button>
            <button *ngIf="col.field === 'action' && rowData.status === 'ACTIVATION PENDING'"
              mdbTooltip="Update Email ID" placement="bottom" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0 .delete-button-gap p2p-sm-btn" (click)="updateEmail.show();selectedAdmin(rowData)"><i
                class="fa fa-pencil"></i>
            </button>
            <button *ngIf="col.field === 'action' && rowData.status==='ACTIVATION PENDING'" mdbTooltip="Resend Mail"
              placement="bottom" type="button" mdbBtn color="info" floating="true" size="sm" class="my-0 .delete-button-gap p2p-sm-btn"
              (click)="resendMail(rowData);"><i class="fa fa-envelope"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
</div>
<div mdbModal #addframe="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (closed)="adminForm.reset();adminForm.markAsUntouched();">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="addframe.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white"><i class="fa fa-plus icon-size mr-2 text-white mr-3"
            aria-hidden="true"></i>Add
          New Admin</h4>
      </div>
      <form [formGroup]="adminForm">
        <div class="modal-body mx-2">
          <div class="form-group">
            <label class="label-size">First Name<span class="p2p-required">*</span></label>
            <input data-error="First name should not be empty!" data-success=" " type="text" formControlName="firstName"
              class="form-control mb-2" placeholder="First Name" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control mb-2" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="label-size">Email ID<span class="p2p-required">*</span></label>
            <input data-error="Please provide a valid email address." data-success=" " type="text"
              formControlName="email" class="form-control mb-2" placeholder="Email ID" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size">Phone Number</label>
            <input data-error="Please enter valid phone number!" data-success=" " type="text"
              formControlName="contactNumber" class="form-control mb-2" placeholder="Phone Number" mdbInputDirective
              phoneMask [preValue]="adminForm.value.contactNumber" maxlength="14"
              [ngClass]="(adminForm.controls['contactNumber'].invalid)? 'counter-danger' : ''">
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="addframe.hide()" mdbWavesEffect>Close <a class="fa fa-close ml-1"></a></button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect
          (click)="createNewAdmin();">
          Add
          <a class="fa fa-plus ml-1"></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #actionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="actionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to {{toggleAction}} {{selectedUser?.name}}'s account?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
          (click)="actionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
          (click)="updateAdminAccount();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div mdbModal #updateEmail="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="updateEmail.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white"><i class="fa fa-pencil icon-size mr-2 text-white mr-3"
            aria-hidden="true"></i>Update Email ID
        </h4>
      </div>
      <div class="modal-body mx-2">
        <div class="form-group">
          <label class="label-size">Email ID<span class="p2p-required">*</span></label>
          <input [formControl]="email_id" data-error="Please provide a valid email address." data-success=" "
            type="text" class="form-control mb-2" placeholder="E-mail" mdbInputDirective>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="updateEmail.hide()" mdbWavesEffect>Close <a class="fa fa-close ml-1"></a></button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect
          (click)="updateAdminEmail();">
          update
          <a class="fa fa-pencil ml-1"></a>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #deletionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deletionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete {{selectedUser?.name}}'s account?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
          (click)="deletionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
          (click)="deleteAdmin();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>