.title-size {font-size: 1.25rem;}
::ng-deep.ui-multiselect .ui-multiselect-label {font-weight: 300; height: auto;text-align: center; width: 100%;font-size: 12px; padding-top: 0px;margin-bottom: 0;padding: 0px 10px;}
::ng-deep .ui-table-wrapper {overflow-x: scroll;}
@media (max-width: 740px) {
.sm-margin { margin-left: 6.1rem !important;} 
}
.delete-button-gap.btn-floating{
    margin: 5px;
}