.modal-header {background: #70ad48 !important;}
.custom-gradient {background: #70ad48 !important; height: 50px !important;}
.title-size {font-size: 1.25rem;}
.profile-headings {font-weight: 500;color: #585454;}
::ng-deep.ui-multiselect .ui-multiselect-label {text-align: center;font-weight: 300;height: auto; width: 100%;padding-top: 0px; margin-bottom: 0;padding: 0px 10px;font-size: 12px;}
::ng-deep .ui-table-wrapper { overflow-x: scroll;}
@media (max-width: 740px) {
.sm-margin {margin-left: 6.1rem !important;}
}
.delete-button-gap.btn-floating{
    margin: 1px;
}
.buttons-customer-report{display: flex;}


.save-btn {background: #70ad48;border-radius: 3px;padding: 6px 26px;color: #fff !important;text-align: center;}
.icon-color {color: #fb6a18 !important;}
.input-group-text { color: white; background-color: #70ad48; min-width: 160px;}
.btn-success {background-color: #70ad48 !important;color: #fff !important;}
@media (max-width: 481px) {.save-btn {width: 100%;}
.plans {width: 100%;margin-left: 0%;}
}


