<div class="container-fluid  p-1 animated fadeInRight">
  <div style="margin:10px">
    <div *ngIf="!showCustomers &&!showLevelsReport" class="card card-cascade narrower">
      <div class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
          <a class="white-text mx-3 title-size">My Customers</a>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']">
          <a class="white-text mx-3 title-size">My Referrals</a>
        </ng-template>
        <div placement="left" customHeight="50">

          <a class="white-text mx-3 title-size">Team Total: {{teamSize}}</a>
        </div>
        <div class="butttons">
          <div mdbTooltip="Add Customer" placement="left" customHeight="50">
            <button type="button" (click)="frame.show();this.addCustomerForm.controls.test.setValue('1');" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-plus mt-o"></i>
            </button>
          </div>
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt2.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Refresh" placement="left" customHeight="50">
            <button type="button" (click)="getCustomerList();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>
      </div>
      <p-table [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt2 [columns]="tableColumns" [value]="customerList"
        [paginator]="true" [rows]="5" [responsive]="true" exportFilename="Customers Report">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search" (input)="dt2.filterGlobal($event.target.value, 'contains')"
              style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList" defaultLabel="All"
                (onChange)="dt2.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}" [options]="accountType" defaultLabel="All"
                (onChange)="dt2.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'isAppAmbassador'" [style]="{'width':'100%'}" [options]="bool" defaultLabel="All"
                (onChange)="dt2.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'userType'" [style]="{'width':'100%'}" [options]="userType" defaultLabel="All"
                (onChange)="dt2.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'recognitionCategory'" [style]="{'width':'100%'}" [options]="rankType" defaultLabel="All"
                (onChange)="dt2.filter($event.value, col.field, 'in')">
              </p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
              <button *ngIf="col.field === 'action' && (rowData.status !=='ACTIVATION PENDING' && rowData.status !=='SUBSCRIPTION PENDING'  && rowData.status !=='ARCHIVED'&&rowData.userType!=='Customer')"
                mdbTooltip="View AAP Team" placement="top" type="button" mdbBtn gradient="blue" floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn"
                (click)="getDrillDownList(rowData);">
                <i class="fa fa-users"></i>
              </button>
              <button *ngIf="col.field === 'action' && (rowData.status !=='ACTIVATION PENDING' && rowData.status !=='SUBSCRIPTION PENDING'  && rowData.status !=='ARCHIVED'&&rowData.userType!=='Customer')"
                mdbTooltip="Level Report" placement="top" type="button" mdbBtn gradient="blue" floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn"
                (click)="getLevelReport(rowData);">
                <i class="fa fa-sitemap"></i>
              </button>
              <button *ngIf="col.field === 'action'" mdbTooltip="View" placement="top" type="button" mdbBtn color="success" floating="true"
                size="sm" class="my-0 delete-button-gap p2p-sm-btn" (click)="showUserDetails(rowData);profileFrame.show()">
                <i class="fa fa-eye"></i>
              </button>
              <button *ngIf="col.field === 'action' && isEligibleForPromotion" mdbTooltip="Change Referral Code" placement="top" type="button"
                mdbBtn color="success" floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn" (click)="selectUser(rowData);changeReferralCodeFrame.show()">
                <i class="fa fa-cog"></i>
              </button>
              <button *ngIf="col.field === 'action' && rowData.status==='ACTIVATION PENDING'" mdbTooltip="Resend Mail" placement="top"
                type="button" mdbBtn color="info" floating="true" size="sm" class="my-0 delete-button-gap  p2p-sm-btn" (click)="resendMail(rowData);">
                <i class="fa fa-envelope"></i>
              </button>
              <button *ngIf="col.field === 'action' && rowData.status !=='ACTIVATION PENDING' && rowData.status !=='ARCHIVED'&& rowData.status !=='SUBSCRIPTION PENDING'"
                mdbTooltip="Archive Customer" placement="top" type="button" mdbBtn gradient="peach" floating="true" size="sm"
                class="my-0 delete-button-gap  p2p-sm-btn" (click)="showUserDetails(rowData , 'archive');actionFrame.show();">
                <i class="fa fa-user-times"></i>
              </button>
              <button *ngIf="col.field === 'action' && rowData.status === 'ACTIVE' && rowData.status !=='ACTIVATION PENDING'" mdbTooltip="Deactivate Customer"
                placement="top" type="button" mdbBtn gradient="purple" floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn"
                (click)="showUserDetails(rowData , 'deactivate');actionFrame.show();">
                <i class="fa fa-ban"></i>
              </button>
              <button *ngIf="col.field === 'action'" mdbTooltip="Delete Customer" placement="top" type="button" mdbBtn gradient="aqua"
                floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn">
                <i class="fa fa-trash" (click)="setUserToDelete(rowData);deletionFrame.show();"></i>
              </button>
              <button *ngIf="col.field === 'action' && rowData.status === 'INACTIVE' && rowData.status !=='ACTIVATION PENDING'" mdbTooltip="Activate Customer"
                placement="top" type="button" mdbBtn gradient="blue" floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn"
                (click)="showUserDetails(rowData , 'activate');actionFrame.show();">
                <i class="fa fa-check"></i>
              </button>
              <button *ngIf="col.field === 'action' && rowData.status === 'ACTIVATION PENDING'" mdbTooltip="Update Email ID" placement="top"
                type="button" mdbBtn gradient="blue" floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn" (click)="updateEmail.show();selectCustomer(rowData);">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="showCustomers" class="card card-cascade narrower animated fadeInRight">
      <div class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">{{selectedCustomerName}}'s AAP Team</a>
        <div class="buttons buttons-customer-report">
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt2.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Go Back" placement="left" customHeight="50">
            <button type="button" (click)="showCustomers = false;" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <a class="fa fa-back "></a> Back
            </button>
          </div>
        </div>
      </div>
      <p-table scrollHeight="200px" [resizableColumns]="false" exportFilename="Team Report" columnResizeMode="expand" class="p-4"
        #dt2 [columns]="drilldownTableColumns" [value]="drilldownList" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search" (input)="dt2.filterGlobal($event.target.value, 'contains')"
              style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of drilldownTableColumns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of drilldownTableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of drilldownTableColumns" [ngSwitch]="col.field">
              <p-multiSelect appendTo="body" *ngSwitchCase="'level'" [style]="{'width':'100%'}" [options]="levelType" defaultLabel="All"
                (onChange)="dt2.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'sponsorName'" [style]="{'width':'100%'}" [options]="sponsorNames" defaultLabel="All"
                (onChange)="dt2.filter($event.value, col.field, 'in')"></p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="drilldownTableColumns">
          <tr>
            <td *ngFor="let col of drilldownTableColumns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="showLevelsReport" class="card card-cascade narrower animated fadeInRight">
      <div class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">{{selectedCustomerName}}'s Level Report</a>
        <div class="buttons buttons-customer-report">
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt3.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Go Back" placement="left" customHeight="50">
            <button type="button" (click)="showLevelsReport = false;" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <a class="fa fa-back "></a> Back
            </button>
          </div>
        </div>
      </div>
      <p-table scrollHeight="200px" [resizableColumns]="false" exportFilename="Level Report" columnResizeMode="expand" class="p-4"
        #dt3 [columns]="levelReportColumns" [value]="levelReport" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search" (input)="dt3.filterGlobal($event.target.value, 'contains')"
              style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of levelReportColumns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of levelReportColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of levelReportColumns" [ngSwitch]="col.field">
              <p-multiSelect appendTo="body" *ngSwitchCase="'level'" [style]="{'width':'100%'}" [options]="levelType" defaultLabel="All"
                (onChange)="dt3.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'referrerName'" [style]="{'width':'100%'}" [options]="sponsorNames" defaultLabel="All"
                (onChange)="dt3.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList" defaultLabel="All"
                (onChange)="dt3.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}" [options]="accountType" defaultLabel="All"
                (onChange)="dt3.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'isAppAmbassador'" [style]="{'width':'100%'}" [options]="bool" defaultLabel="All"
                (onChange)="dt3.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'userType'" [style]="{'width':'100%'}" [options]="userType" defaultLabel="All"
                (onChange)="dt3.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'recognitionCategory'" [style]="{'width':'100%'}" [options]="rankType" defaultLabel="All"
                (onChange)="dt3.filter($event.value, col.field, 'in')">
              </p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="levelReportColumns">
          <tr>
            <td *ngFor="let col of levelReportColumns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div mdbModal #updateEmail="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="updateEmail.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white">
          <i class="fa fa-pencil icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Update Email ID
        </h4>
      </div>
      <div class="modal-body mx-2">
        <div class="form-group">
          <label class="label-size">Email ID
            <span class="p2p-required">*</span>
          </label>
          <input [formControl]="email_id" data-error="Please provide a valid email address." data-success=" " type="text" class="form-control mb-2"
            placeholder="E-mail" mdbInputDirective>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close" (click)="updateEmail.hide()"
          mdbWavesEffect>Close
          <a class="fa fa-close ml-1"></a>
        </button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect (click)="updateCustomerEmail();">
          update
          <a class="fa fa-pencil ml-1"></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #frame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"
  (closed)="addCustomerForm.reset();addCustomerForm.markAsUntouched();">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white">
          <i class="fa fa-plus icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Add New Customer</h4>
      </div>
      <form [formGroup]="addCustomerForm">
        <div class="modal-body mx-2">
          <div class="form-group">
            <label class="label-size">First Name
              <span class="p2p-required">*</span>
            </label>
            <input data-error="First name should not be empty!" data-success=" " type="text" formControlName="firstName" class="form-control mb-2"
              placeholder="First Name" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control mb-2" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="label-size">Email ID
              <span class="p2p-required">*</span>
            </label>
            <input data-error="Please provide a valid email address." data-success=" " type="email" formControlName="email" class="form-control mb-2"
              placeholder="Email ID" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size">Phone Number</label>
            <input data-error="Please enter valid phone number!" data-success=" " type="text" formControlName="contactNumber" class="form-control mb-2"
              placeholder="Phone Number" mdbInputDirective phoneMask [preValue]="addCustomerForm.value.contactNumber" maxlength="14"
              [ngClass]="(addCustomerForm.controls['contactNumber'].invalid)? 'counter-danger' : ''">
          </div>
          <div *ngxPermissionsOnly="['ROLE_SUPER_ADMIN']" class="form-row">
            <div class="col-4">
              <label>Type
                <span class="p2p-required">*</span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="test" type="radio" class="form-check-input" value="1" id="materialInline1" name="test" mdbInput>
              <label class="form-check-label" for="materialInline1" (click)="selectedPlan('1');">Paid</label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="test" type="radio" class="form-check-input" value="2" id="materialInline2" name="test" mdbInput>
              <label class="form-check-label" for="materialInline2" (click)="selectedPlan('2');">Free</label>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close" (click)="frame.hide()" mdbWavesEffect>Close
          <i class="fa fa-close ml-1"></i>
        </button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect (click)="createNewUser();">Add
          <i class="fa fa-plus ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #profileFrame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="profileFrame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white">
          <i class="fa fa-eye icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Customer Profile
        </h4>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Name :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.name}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Phone Number :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.contactNumber}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Email ID :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.email}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Joining Date :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.joiningDate}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Account Type :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.accountType}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Status :</h6>
        </div>
        <div class="col-md-7">
          <p>{{selectedUser?.status}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close" (click)="profileFrame.hide()"
          mdbWavesEffect>Close
          <a class="fa fa-close ml-1"></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #actionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="actionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to {{toggleAction}} {{selectedUser?.name}}'s account?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect (click)="actionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect (click)="updateCustomerAccount();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div mdbModal #deletionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deletionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete {{selectedUser?.name}}'s account?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect (click)="deletionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect (click)="deleteUser();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<div mdbModal #changeReferralCodeFrame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="changeReferralCodeFrame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white">
          <i class="fa fa-cog icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Change Sponsor Code
        </h4>
      </div>
      <form class="pt-3 px-4" [formGroup]="changeReferralCodeForm">
        <div class="form-row mx-5 mt-3">
          <div class="col-md-7">
            <h6 class="profile-headings ">User ID :</h6>
          </div>
          <div class="col-md-5">
            <input type="number" id="schedulerRunningDay" class="form-control" formControlName="userRegistrationId" placeholder="User ID"
              data-success=" " data-error="User ID should not be empty!" mdbInputDirective disabled>
          </div>
        </div>
        <div class="form-row mx-5 mt-3">
          <div class="col-md-7">
            <h6 class="profile-headings ">Current Sponsor's Referral Code :</h6>
          </div>
          <div class="col-md-5">
            <input type="number" id="002" class="form-control" formControlName="currentReferralCode" placeholder="Sponsor Code"
              data-success=" " data-error="Referral Code should not be empty!" mdbInputDirective disabled>
          </div>
        </div>
        <div class="form-row mx-5 mt-3">
          <div class="col-md-7">
            <h6 class="profile-headings ">New Sponsor's Referral Code :</h6>
          </div>
          <div class="col-md-5">
            <input type="number" id="001" class="form-control" formControlName="newReferralCode" placeholder="Sponsor Code"
              data-success=" " data-error="Referral Code should not be empty!" mdbInputDirective>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="pull-right btn-md  btn " aria-label="Close" (click)="changeReferralCodeFrame.hide()"
          mdbWavesEffect>Close
          <a class="fa fa-close ml-1"></a>
        </button>

        <button type="button" mdbBtn class="pull-right btn-md btn btn-success" aria-label="Close" (click)="changeReferralCode();" mdbWavesEffect>Save
          <a class="fa fa-floppy-o"></a>
        </button>
      </div>
    </div>
  </div>
</div>