<div class="container card p-4 animated fadeInRight">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-4 form-group">
      <h6 class="text-left">Select Account :</h6>
      <p-dropdown [showClear]="true" [options]="moneyFLowManagerList" [(ngModel)]="selectedMoneyFlowManager"
        [style]="{'width':'100%'}" placeholder="Select Account" filter="true"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-4 form-group">
      <h6 class="text-left">Select Year :</h6>
      <p-dropdown [showClear]="true" [options]="yearList" [(ngModel)]="selectedYear" [style]="{'width':'100%'}"
        placeholder="Select Year" filter="true"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-4 form-group">
      <button (click)="getProfitLossReport()" type="button" class="smallBtn btn-md" mdbBtn
        mdbWavesEffect>Generate</button>
    </div>
  </div>
  <div class="card card-cascade narrower z-depth-1-half">
    <div
      class="view view-cascade gradient-card-header custom-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a href="" class="white-text mx-3 title-size">Profit Loss Report</a>
    </div>
    <div *ngIf="tableData!=[] && budgetTableData!=[]" style="padding:15px;">
      <p-table [loading]="loading" exportFilename="Profit Loss Report" [autoLayout]="true" [scrollable]="true"
        [scrollable]="true" [style]="{width:'auto'}" #dt1 [columns]="tableColumns" [value]="tableData"
        [paginator]="true" [rows]="10" [responsive]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="caption">
          <span style="float:left;padding-top: 15px;">Profit/Loss</span>
          <div class="text-right">
            <button mdbBtn class="relative waves-light btn-md peach-gradient" mdbWavesEffect
              (click)="dt1.exportCSV()">Download Excel<i class="fa fa-file-excel-o ml-1"></i></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr>
            <td *ngIf="rowGroupMetadata[rowData.type].index === rowIndex"
              [style.text-align]="rowData.type==='Total Expense($)'||rowData.type==='Total Income($)'||rowData.type==='Profit/Loss($)'?'left':'center'"
              [style.font-weight]="'bold'" [attr.colspan]="rowData.subtype==='' ? 2:0"
              [attr.rowspan]="rowGroupMetadata[rowData.type].size">
              {{rowData.type}}
            </td>
            <td
              *ngIf="(rowData.type!='Profit/Loss($)')&&(rowData.type!='Total Income($)')&&(rowData.type!='Total Expense($)')">
              {{rowData.subtype}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.january<0}">
              $ {{rowData.january| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.february<0}">
              $ {{rowData.february| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.march<0}">
              $ {{rowData.march| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.april<0}">
              $ {{rowData.april| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.may<0}">
              $ {{rowData.may| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.june<0}">
              $ {{rowData.june| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.july<0}">
              $ {{rowData.july| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.august<0}">
              $ {{rowData.august| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.september<0}">
              $ {{rowData.september| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.october<0}">
              $ {{rowData.october| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.november<0}">
              $ {{rowData.november| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.december<0}">
              $ {{rowData.december| number : '1.2-2'}}</td>
            <td [ngClass]="{'text-color-red': rowData.type==='Profit/Loss($)' && rowData.total<0}">
              $ {{rowData.total| number : '1.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div style="padding:15px;">
      <p-table [autoLayout]="true" [loading]="loading" exportFilename="Budget Report" [scrollable]="true"
        [style]="{width:'auto'}" #dt2 [columns]="budgetTableColumns" [value]="budgetTableData" [paginator]="true"
        [rows]="10" [responsive]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns"  [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="caption">
          <span style="float:left;padding-top: 15px;">Budget</span>
          <div class="text-right">
            <button mdbBtn class="relative waves-light btn-md peach-gradient" mdbWavesEffect
              (click)="dt2.exportCSV()">Download Excel<i class="fa fa-file-excel-o ml-1"></i></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td
              [ngClass]="{'red-cell': rowData.type=='Variance'&&rowData[col.field]>= 95, 'amber-cell': rowData.type=='Variance'&&rowData[col.field]>= 85 && rowData[col.field]<95,'green-cell':rowData.type=='Variance'&&rowData[col.field]<85}"
              [style.font-weight]="rowData[col.field]==='Variance'||rowData[col.field]==='Total Expense($)'||rowData[col.field]==='Budget($)'?'bold':'normal'"
              *ngFor="let col of columns">
              {{((rowData[col.field]!='Variance')&&(rowData[col.field]!='Budget($)')&&(rowData[col.field]!='Total
              Expense($)'))?'$':''}} {{((rowData[col.field]!='Variance')&&(rowData[col.field]!='Budget($)')&&(rowData[col.field]!='Total
            Expense($)'))?(rowData[col.field]|number : '1.2-2'):(rowData[col.field])}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ul class="legend">
      <li><span class="red mr-2"></span>Budget above 95%</li>
      <li><span class="yellow mr-2"></span>Budget between (85-95)%</li>
      <li><span class="green mr-2"></span>Budget below 85%</li>
    </ul>
  </div>
</div>