.icon-size {font-size: 1.7rem;}
@keyframes bounce {0%,20%,60%,100% {-webkit-transform: translateY(0); transform: translateY(0);}
40% {-webkit-transform: translate(-20px); transform: translateY(-20px); }
80% {-webkit-transform: translate(-10px); transform: translateY(-10px);}} 
::ng-deep mdb-navbar .container {width: 100%; padding-right: 0 !important;padding-left: 0 !important;margin-right: auto;margin-left: 0 !important;}
.link-width li { min-width: 90px;vertical-align: middle; text-align: center; margin: 1.5px; background: white; color: #4a4a4a;border: 1px solid #4a4a4a; transition: all 200ms ease-in-out;
& .icon-size { color: #4a4a4a; margin-top: 10%;}}
.link-width li:hover {transform: scale(1.2);box-shadow: 0.5px 2px 8px grey;cursor: pointer;}
.active-item { background: #70ad48 !important;border: 1px solid #70ad48 !important;
i,a{ color: white !important;}}
.small-device-menu {display: none;}
::ng-deep section .navbar {box-shadow: none !important;}
.navbar-headings {font-size: .8rem; font-weight: 500;}
.navbar-headings {font-size: .75rem !important;}
.small-nav-size .nav-item .navbar-headings{font-size: 14px !important;}
.small-nav-size .nav-item .nav-link{color: #ffffff !important;}
::ng-deep.small-device-menu .navbar.navbar-dark .navbar-toggler-icon {background-image: url('/assets/images/iconfinder.jpg')}
::ng-deep.small-device-menu .navbar.navbar-dark .navbar-toggler:after {font-size: 12px;font-weight: 600;content: "ooo";position: relative;left: 60px;}
::ng-deep.small-device-menu .navbar.navbar-dark .navbar-toggler{background: none;}
::ng-deep.navbar-dark.uniques-color1 {background: #000 !important;}
@media (max-width: 768px) {
.distributor-menu {display: none;}
.small-device-menu {margin-top: -50px;margin-bottom: 12px;display: block;}
.icon-size { font-size: 1.3rem; margin-right: 20px;}
.small-nav-size {font-size: 1.3rem;}
}

// .small-nav-size .active-item {
//     /* background: #70ad48 !important; */
//     /* border: 1px solid #70ad48 !important; */
//     background-color: rgba(17, 17, 17, 0.1) !important;
//     border: 0 !important;
//     border-radius: 3px;
// }