<div class="mat4555GtuTab5752">
  <section class="mt-4 my-1 menu-bar">
    <div class="container">
      <mdb-navbar SideClass="navbar navbar-expand-lg  p-0 mb-2 dashboard-expanded">
        <links style="width:100%;">
          <ul class="navbar-nav link-width">
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(4)" [ngClass]="{'active-item': selectedIndex === 4}" class="nav-item"
                [routerLink]="['money-flow-reports']">
                <i class="fa fa-tasks icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>Reports </a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(4)" [ngClass]="{'active-item': selectedIndex === 4}" class="nav-item"
                [routerLink]="['money-flow-reports/admin-report']">
                <i class="fa fa-tasks icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>Reports </a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(1)" [ngClass]="{'active-item': selectedIndex === 1}" class="nav-item"
                [routerLink]="['./money-flow-manager']">
                <i class="fa fa-line-chart icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>MEC</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(2)" [ngClass]="{'active-item': selectedIndex === 2}" class="nav-item"
                [routerLink]="['app-ambassadors']">
                <i class="fa fa-users icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>App Ambassadors</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(11)" [ngClass]="{'active-item': selectedIndex === 11}" class="nav-item"
                [routerLink]="['all-customers']">
                <i class="fa fa-users icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>All Customers</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(13)" [ngClass]="{'active-item': selectedIndex === 13}" class="nav-item"
                [routerLink]="['manage-app-customers']">
                <i class="fa fa-users icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>AAP</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(3)" [ngClass]="{'active-item': selectedIndex === 3}" class="nav-item"
                [routerLink]="['customers']">
                <i class="fa fa-users icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>My Customers</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(3)" [ngClass]="{'active-item': selectedIndex === 3}" class="nav-item"
                [routerLink]="['customers']">
                <i class="fa fa-users icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>My Referrals</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(5)" [ngClass]="{'active-item': selectedIndex === 5}" class="nav-item"
                [routerLink]="['transactions']">
                <i class="fa fa-credit-card icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Transactions</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(6)" [ngClass]="{'active-item': selectedIndex === 6}" class="nav-item"
                [routerLink]="['commission/app-ambassadors']">
                <i class="fa fa-suitcase icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Commission</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(6)" [ngClass]="{'active-item': selectedIndex === 6}" class="nav-item"
                [routerLink]="['commission/admin']">
                <i class="fa fa-suitcase icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Commission</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(12)" [ngClass]="{'active-item': selectedIndex === 12}" class="nav-item"
                [routerLink]="['bonus/view']">
                <i class="fa fa-suitcase icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Bonus</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(12)" [ngClass]="{'active-item': selectedIndex === 12}" class="nav-item"
                [routerLink]="['bonus/admin']">
                <i class="fa fa-suitcase icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect>Bonus</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(7)" [ngClass]="{'active-item': selectedIndex === 7}" class="nav-item"
                [routerLink]="['marketing']">
                <i class="fa fa-rocket icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Marketing</a>
              </li>
            </ng-template>
            <!-- <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(8)" [ngClass]="{'active-item': selectedIndex === 8}" class="nav-item"
                [routerLink]="['manage-admins']">
                <i class="fa fa-lock icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Admins</a>
              </li>
            </ng-template> -->
            <!-- <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN','ROLE_ADMIN']"
            [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
            <li (click)="setSelectedIndex(9)" [ngClass]="{'active-item': selectedIndex === 9}" class="nav-item"
              [routerLink]="['manage-prospects']">
              <i class="fa fa-id-badge icon-size" aria-hidden="true"></i>
              <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Prospect Users</a>
            </li>
          </ng-template> -->
            <ng-template [ngxPermissionsOnly]="['ROLE_PROSPECT','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']">
              <li (click)="setSelectedIndex(0)" [ngClass]="{'active-item': selectedIndex === 0}" class="nav-item"
                [routerLink]="['profile']">
                <i class="fa fa-address-card-o icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Profile</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <li (click)="setSelectedIndex(0)" [ngClass]="{'active-item': selectedIndex === 0}" class="nav-item"
                [routerLink]="['profile/personal-information']">
                <i class="fa fa-address-card-o icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Profile</a>
              </li>
            </ng-template>
            <!-- <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(10)" [ngClass]="{'active-item': selectedIndex === 10}" class="nav-item"
                [routerLink]="['manage-plans']">
                <i class="fa fa-address-card-o icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Subscription</a>
              </li>
            </ng-template> -->
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(10)" [ngClass]="{'active-item': selectedIndex === 10}" class="nav-item"
                [routerLink]="['contact-manager']">
                <i class="fa fa-address-book-o icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Contact Manager</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN','ROLE_ADMIN']">
              <li (click)="setSelectedIndex(14)" [ngClass]="{'active-item': selectedIndex === 14}" class="nav-item"
                [routerLink]="['leaders-team']">
                <i class="fa fa-trophy icon-size" aria-hidden="true"></i>
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> Leaders Team</a>
              </li>
            </ng-template>


          </ul>
        </links>
      </mdb-navbar>
    </div>
    <div class="small-device-menu">
      <mdb-navbar SideClass="navbar navbar-1 navbar-dark uniques-color1" [containerInside]="false">
        <mdb-navbar-brand>
          <a class="navbar-brand text-white font-weight-bold" href="#">Dashboard</a>
        </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav mr-auto small-nav-size">
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(4)" [ngClass]="{'active-item': selectedIndex === 4}" class="nav-item"
                [routerLink]="['money-flow-reports']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-tasks icon-size"
                    aria-hidden="true"></i>Reports </a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(4)" [ngClass]="{'active-item': selectedIndex === 4}" class="nav-item"
                [routerLink]="['money-flow-reports/admin-report']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-tasks icon-size"
                    aria-hidden="true"></i>Reports</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(1)" [ngClass]="{'active-item': selectedIndex === 1}" class="nav-item"
                [routerLink]="['./money-flow-manager']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-line-chart icon-size"
                    aria-hidden="true"></i>MEC</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(2)" [ngClass]="{'active-item': selectedIndex === 2}" class="nav-item"
                [routerLink]="['app-ambassadors']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-users icon-size"
                    aria-hidden="true"></i>App Ambassadors</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(11)" [ngClass]="{'active-item': selectedIndex === 11}" class="nav-item"
                [routerLink]="['all-customers']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-users icon-size"
                    aria-hidden="true"></i>All Customers</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(13)" [ngClass]="{'active-item': selectedIndex === 13}" class="nav-item"
                [routerLink]="['manage-app-customers']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-users icon-size"
                    aria-hidden="true"></i>AAP</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">

              <li (click)="setSelectedIndex(3)" [ngClass]="{'active-item': selectedIndex === 3}" class="nav-item"
                [routerLink]="['customers']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-users icon-size"
                    aria-hidden="true"></i>My Customers</a>
              </li>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">

              <li (click)="setSelectedIndex(3)" [ngClass]="{'active-item': selectedIndex === 3}" class="nav-item"
                [routerLink]="['customers']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-users icon-size"
                    aria-hidden="true"></i>My Referrals</a>
              </li>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">

              <li (click)="setSelectedIndex(5)" [ngClass]="{'active-item': selectedIndex === 5}" class="nav-item"
                [routerLink]="['transactions']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-credit-card icon-size"
                    aria-hidden="true"></i>Transactions</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(6)" [ngClass]="{'active-item': selectedIndex === 6}" class="nav-item"
                [routerLink]="['commission/app-ambassadors']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-suitcase icon-size"
                    aria-hidden="true"></i>Commission</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(6)" [ngClass]="{'active-item': selectedIndex === 6}" class="nav-item"
                [routerLink]="['commission/admin']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-suitcase icon-size"
                    aria-hidden="true"></i>Commission</a>
              </li>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(12)" [ngClass]="{'active-item': selectedIndex === 12}" class="nav-item"
                [routerLink]="['bonus/view']">

                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> <i class="fa fa-suitcase icon-size"
                    aria-hidden="true"></i> Bonus</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(12)" [ngClass]="{'active-item': selectedIndex === 12}" class="nav-item"
                [routerLink]="['bonus/admin']">

                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> <i class="fa fa-suitcase icon-size"
                    aria-hidden="true"></i>Bonus</a>
              </li>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(7)" [ngClass]="{'active-item': selectedIndex === 7}" class="nav-item"
                [routerLink]="['marketing']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-rocket icon-size"
                    aria-hidden="true"></i>Marketing</a>
              </li>
            </ng-template>
            <!-- <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(8)" [ngClass]="{'active-item': selectedIndex === 8}" class="nav-item"
                [routerLink]="['manage-admins']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-lock icon-size"
                    aria-hidden="true"></i>Admins</a>
              </li>
            </ng-template> -->
            <!-- <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN','ROLE_ADMIN']"
            [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
            <li (click)="setSelectedIndex(9)" [ngClass]="{'active-item': selectedIndex === 9}" class="nav-item"
              [routerLink]="['manage-prospects']">
              <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-id-badge icon-size"
                  aria-hidden="true"></i>Prospect Users</a>
            </li>
          </ng-template> -->
            <ng-template [ngxPermissionsOnly]="['ROLE_PROSPECT','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']">
              <li (click)="setSelectedIndex(0)" [ngClass]="{'active-item': selectedIndex === 0}" class="nav-item"
                [routerLink]="['profile']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-address-card-o icon-size"
                    aria-hidden="true"></i> Profile</a>
              </li>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']">
              <li (click)="setSelectedIndex(0)" [ngClass]="{'active-item': selectedIndex === 0}" class="nav-item"
                [routerLink]="['profile/personal-information']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect> <i
                    class="fa fa-address-card-o icon-size" aria-hidden="true"></i> Profile</a>
              </li>
            </ng-template>
            <!-- <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(10)" [ngClass]="{'active-item': selectedIndex === 10}" class="nav-item"
                [routerLink]="['manage-plans']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-address-card-o icon-size"
                    aria-hidden="true"></i>Subscription</a>
              </li>
            </ng-template> -->
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
              [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <li (click)="setSelectedIndex(10)" [ngClass]="{'active-item': selectedIndex === 10}" class="nav-item"
                [routerLink]="['contact-manager']">
                <a class="nav-link waves-light navbar-headings" mdbWavesEffect><i class="fa fa-address-book-o icon-size"
                    aria-hidden="true"></i>Contact Manager</a>
              </li>
            </ng-template>
          </ul>
        </links>
      </mdb-navbar>
    </div>
    <router-outlet></router-outlet>
  </section>
</div>
