<div class="container  card pb-3">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">From :</h6>
      <p-calendar [(ngModel)]="filterFromDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">To :</h6>
      <p-calendar [(ngModel)]="filterToDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6 form-group">
      <button type="button" class="smallBtn btn-md" mdbBtn color="success" mdbWavesEffect (click)="getExpenseList()">
        Filter
      </button>
    </div>
  </div>
  <div class="card card-cascade narrower animated fadeInRight">
    <div class="view view-cascade custom-gradient gradient-card-header  narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Expense List</a>
      <div mdbTooltip="Add Expense" placement="left">
        <button type="button" (click)="frame.show(); resetForm(); setDate()" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-plus mt-o"></i>
        </button>
      </div>
    </div>
    <p-table [tableStyle]="{ 'table-layout': 'auto' }" [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt [columns]="tableColumns"
      [value]="expenseList" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search" (input)="dt.filterGlobal($event.target.value, 'contains')"
            style="width:30%" />
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td>{{rowData.expenseType}}</td>
          <td>${{rowData.amount |number : '.2-2'}}</td>
          <td>{{rowData.date}}</td>
          <td>{{rowData.recurring | booleanPipe}}</td>
          <td>
            <button mdbTooltip="Edit" placement="top" type="button" mdbBtn color="success" floating="true" size="sm" class="my-0 p2p-sm-btn"
              (click)="frame.show(); setFormData(rowData)">
              <i class="fa fa-eye"></i>
            </button>
            <button mdbTooltip="Delete" placement="top" type="button" mdbBtn floating="true" size="sm" class="my-0 p2p-sm-btn peach-gradient"
              (click)="setSelectedExpenseId(rowData); deleteFrame.show()">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div mdbModal style="overflow-y: auto" #frame="mdbModal" class="modal fade top modal-calander" id="frameModalTop" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (closed)="expenseForm.reset(); expenseForm.markAsUntouched()">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 *ngIf="expenseForm.controls.moneyFlowExpenseId.value === null" class="modal-title w-100 text-white" id="myModalLabel">
          <i class="fa fa-plus icon-size mr-2 text-white" aria-hidden="true"></i>Add Expense
        </h4>
        <h4 *ngIf="expenseForm.controls.moneyFlowExpenseId.value !== null" class="modal-title w-100 text-white" id="myModalLabel">
          <i class="fa fa-plus icon-size mr-2 text-white" aria-hidden="true"></i>Update Expense
        </h4>
      </div>
      <div class="modal-body mx-4">
        <form [formGroup]="expenseForm" class="text-center pb-2">
          <div class="form-row">
            <div class="col-10">
              <h6 class="text-left">
                Expense Type :
                <span class="requiredField">*</span>
              </h6>
              <select id="expense-type" formControlName="expenseType" class="browser-default custom-select form-control" data-error="Field is required"
                data-success=" " mdbInputDirective>
                <option disabled>Expense Type</option>
                <option *ngFor="let type of expenseType" value="{{ type.name }}">{{ type.name }}</option>
              </select>
            </div>
            <div class="col-2">
              <div class="addExpenses-btnIcon">
                <a *ngIf="!showAddNewType" mdbTooltip="Add new Expense Type" mdbBtn floating="true" size="sm" color="success" (click)="
                    showAddNewType = true;
                    expenseForm.controls.expenseType.disable();
                    expenseForm.controls.expenseType.reset();
                    setNewTypeValidation()
                  " mdbWavesEffect>
                  <i class="fa fa-plus"></i>
                </a>
                <a *ngIf="showAddNewType" mdbTooltip="Hide" mdbBtn floating="true" size="sm" color="danger" (click)="
                    showAddNewType = false;
                    expenseForm.controls.expenseType.enable();
                    setNewTypeValidation()
                  " mdbWavesEffect>
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="showAddNewType">
            <div class="col-10 mb-3 px-2">
              <input type="text" id="newExpenseType" [formControl]="newExpenseType" class="form-control" placeholder="New Expense Type"
                aria-label="New Expense Type" data-error="Field is required" data-success=" " mdbInputDirective />
            </div>
          </div>
          <div class="form-row mb-1">
            <div class="col-6">
              <h6 class="text-left">
                Date :
                <span class="requiredField">*</span>
              </h6>
              <p-calendar dateFormat="mm-dd-yy" formControlName="date" data-error="Field is required" data-success=" " mdbInputDirective></p-calendar>
            </div>
            <div class="col-6">
              <h6 class="text-left">
                Amount :
                <span class="requiredField">*</span>
              </h6>
              <input type="number" id="amount" class="form-control" formControlName="amount" data-error="Field is required" data-success=" "
                mdbInputDirective />
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <h6 class="text-left">Source :</h6>
              <input type="text" id="source" class="form-control mb-4 " formControlName="source" />
            </div>
            <div class="col-6">
              <h6 class="text-left">Notes :</h6>
              <input type="text" id="notes" class="form-control mb-4 " formControlName="notes" />
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <h6 class="text-left recurrenceLabel mr-5">Recurrence :</h6>
              <mdb-checkbox class="text-left" formControlName="recurring" (change)="setValidation()"></mdb-checkbox>
            </div>
            <div class="col-md-6">
              <p-calendar dateFormat="mm-dd-yy" [hidden]="!expenseForm.controls.recurring.value" formControlName="recurrenceDate" data-error="Field is required"
                data-success=" " mdbInputDirective>
              </p-calendar>
            </div>
          </div>

          <div class="form-row" [hidden]="!expenseForm.controls.recurring.value">
            <div class="col-md-4">
              <input value="WEEKLY" formControlName="recurrenceInterval" type="radio" class="form-check-input" id="materialInline1" />
              <label class="form-check-label label-size" (click)="selectedInterval('WEEKLY')" for="materialInline1">Weekly</label>
            </div>

            <div class="col-md-4">
              <input value="BI_WEEKLY" formControlName="recurrenceInterval" type="radio" class="form-check-input" id="materialInline2"
              />
              <label class="form-check-label label-size" (click)="selectedInterval('BI_WEEKLY')" for="materialInline2">Bi Weekly</label>
            </div>

            <div class="col-md-4">
              <input value="MONTHLY" formControlName="recurrenceInterval" type="radio" class="form-check-input" id="materialInline3" />
              <label class="form-check-label label-size" (click)="selectedInterval('MONTHLY')" for="materialInline3">Monthly</label>
            </div>
            <mdb-error *ngIf="expenseForm.controls.recurrenceInterval.invalid && (expenseForm.controls.recurrenceInterval.dirty || expenseForm.controls.recurrenceInterval.touched)">Field is required</mdb-error>
          </div>



          <div class="form-row mt-3">
            <div class="col-12 file-field">
              <div class="col-7 file-path-wrapper p-0">
                <input class="file-path" type="text" placeholder="Upload your file" [value]="showFile()" />
              </div>
              <div *ngIf="!selectedFile && !url" mdbBtn color="success" size="md" class="col-md-5 relative waves-light" mdbWavesEffect>
                <i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i>Upload
              </div>
              <input accept="image/*" type="file" mdbFileSelect formControlName="expenseFile" (change)="selectFile(fileInput)" #fileInput
              />
              <div class="col-5" *ngIf="selectedFile || url">
                <button mdbTooltip="Delete" type="button" mdbBtn floating="true" size="sm" class="my-0 p2p-sm-btn peach-gradient" (click)="resetFileInput()">
                  <i class="fa fa-trash"></i>
                </button>
                <button *ngIf="expenseForm.controls.moneyFlowExpenseId.value != null" mdbTooltip="Download" type="button" (click)="downloadImage()"
                  mdbBtn floating="true" size="sm" class="my-0 p2p-sm-btn btn-success">
                  <i class="fa fa-download"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="selectedFile" class="mt-4 mb-2" style="height:150px;width:100%">
            <img id="uploadImg" [src]="sanitizer.bypassSecurityTrustUrl(url)" height="200" />
          </div>
          <div *ngIf="url && !selectedFile" class="mt-4 mb-2" style="height:150px;width:100%">
            <img id="uploadImg" [src]="url" height="200" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="btn-md" gradient="peach" aria-label="Close" (click)="frame.hide(); resetForm(); showAddNewType = false"
          mdbWavesEffect>
          Close
          <i class="fa fa-close ml-1"></i>
        </button>
        <button *ngIf="expenseForm.controls.moneyFlowExpenseId.value === null" type="submit" mdbBtn color="success" class="relative waves-light btn-md"
          mdbWavesEffect (click)="createNewExpense()">
          Save
          <i class="fa fa-save ml-1"></i>
        </button>
        <button *ngIf="expenseForm.controls.moneyFlowExpenseId.value !== null" type="submit" mdbBtn color="success" class="relative waves-light btn-md"
          mdbWavesEffect (click)="updateExpense()">
          Update
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" (click)="removeExpense()" mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>
