<header class="intro-header" id="top">
  <mdb-navbar SideClass="navbar navbar-expand-lg custom navbar-dark fixed-top scrolling-navbar" [ngClass]="{'custom':mainComponentLoaded}"
    [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect [routerLink]="['']">
        <img src="assets/images/LOGOPNG.png" />
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav nav005Yu-565UN-REMK25 ml-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['the-academy']">The Academy
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/help-center/app-features']">The App
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Aap Benefits<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu me02nu00_buttons dropdown dropdown-success" role="menu">
            <a class="dropdown-item waves-light" [routerLink]="['the-academy']" mdbWavesEffect href="#">The
              Academy</a>
            <a class="dropdown-item waves-light" [routerLink]="['fundraising']" mdbWavesEffect href="#">Fundraising </a>
            <a class="dropdown-item waves-light" [routerLink]="['credit-repair']" mdbWavesEffect href="#">Free
              Credit Repair/Funding</a>
          </div>
        </li> -->
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://moneyflowapp.com/assets/static/pay-increase.html" target="_blank">Pay Estimator
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['leaders-team']">TrendSetters</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['help-center']">Support</a>
        </li>

        <li *ngxPermissionsExcept="['ROLE_ADMIN','ROLE_PROSPECT','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect id="login_button" [routerLink]="['login']">Login</a>
        </li>
        <li *ngxPermissionsExcept="['ROLE_ADMIN','ROLE_PROSPECT','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']" class="nav-item waves-light"
          mdbWavesEffect>
          <a class="nav-link peach-gradient" id="signup_button" [routerLink]="['signup']">Register</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']">
          <a class="nav-link announcement" mdbTooltip="Subscribe To Receive Updates and Announcements" placement="top" target="_blank"
            href="https://eztxt.s3.amazonaws.com/249328/widgets/5ed97fec6ca1d2.00845515.html">
            <img src="assets/images/image.png" width="80">
          </a>
        </li>


        <li class="nav-item waves-light dropdown my-account-dropdown dropdown-btn profile-btn" *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_PROSPECT','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']"
          dropdown>
          <a dropdownToggle mdbWavesEffect class="nav-link text-white waves-light dropdown-toggle waves-effect" id="navbar-account"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
            <span>{{name}}</span>
            <span class="caret text-white"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-success" aria-labelledby="userDropdown" data-dropdown-in="fadeIn"
            data-dropdown-out="fadeOut">

            <ng-template [ngxPermissionsOnly]="['ROLE_PROSPECT']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">

              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/dashboard/profile']">
                <i class="fa fa-dashboard"></i>
                Dashboard</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <a class="dropdown-item waves-light " mdbWavesEffect [routerLink]="['/dashboard/money-flow-reports/admin-report']">
                <i class="fa fa-dashboard"></i>
                Dashboard</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/change-referral-code']">
                <i class="fa fa-dashboard"></i>
                Change Referral Code</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/manage-promotions']">
                <i class="fa fa-dashboard"></i>
                Manage Promotions</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP','ROLE_CUSTOMER']" [ngxPermissionsExcept]="'SUBSCRIPTION CANCELLED'">

              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/dashboard/money-flow-reports']">
                <i class="fa fa-dashboard"></i>
                Dashboard</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['SUBSCRIPTION CANCELLED']">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/dashboard/profile']">
                <i class="fa fa-dashboard"></i>
                Dashboard</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN']">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-settings']">
                <i class="fa fa-dashboard"></i>
                App Setting</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN']">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact-enquiries']">
                <i class="fa fa-dashboard"></i>
                Contact Enquiries</a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_SUPER_ADMIN']">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/directory']">
                <i class="fa fa-dashboard"></i>
                Directory</a>
            </ng-template>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/dashboard/profile']">
              <i class="fa fa-user-circle-o"></i>
              My Profile</a>
            <a *ngxPermissionsOnly="['ROLE_ADMIN','ROLE_PROSPECT','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP','ROLE_CUSTOMER']" class="dropdown-item"
              (click)="logout()" mdbWavesEffect>
              <i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </li>
        <li class="nav-item  waves-light ">
          <ng-template [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_CUSTOMER_REP']">
            <a class="nav-link referralCode">My Referral Code: {{referralCode}}</a>
          </ng-template>
          <br>
        </li>
        <!-- <ng-template [ngxPermissionsOnly]="['ROLE_CUSTOMER_REP']">
          <li *ngIf="userReferenceType==='P2P DISTRIBUTOR'" class="nav-item waves-light " mdbWavesEffect>
            <a class="nav-link p2p3255JGH-454JHh">My P2P Link: <span class="pencilIcon" (click)="basicModal.show()">
                <i class="fa fa fa-pencil"></i></span></a>
          </li>
          <li class="nav-item waves-light p2pConnection" mdbWavesEffect>
            <a appExternalUrl [href]="p2pLinkVal" class="nav-link p2pConnectionlink">{{p2pLinkVal}}</a>
          </li>
        </ng-template> -->
      </ul>
    </links>
  </mdb-navbar>
</header>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel" class="text-white">
          <b>
            <i class="fa fa-plus icon-size mr-2 text-white" aria-hidden="true"></i>My P2P Link</b>
        </h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group mb-3">
            <input type="text" [formControl]="p2pLink" class="form-control" placeholder="P2P Link" aria-label="p2p name" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button mdbBtn mdbTooltip="Update" placement="top" outline="true" size="md" class="m-0 px-3 py-2 checkbutton" type="button"
                id="button-addon2" mdbWavesEffect (click)="updatep2pLink()">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>