.menu_buttons{margin-top:-10px;color:#000!important}
.menu_buttons a{color:#000!important;border-radius:0;text-transform:uppercase;font-weight:500;display: block;}
// ul li{padding:0 10px 0 0}
.menu_buttons a:hover{background-color:#70ad48;color:#fff!important}
#login_button{background:#70ad48;color:#fff!important;padding: 8px 30px;border-radius: 50px;}
#signup_button{color:#fff!important;    padding: 8px 30px;border-radius: 50px;}
.dropdown-font-size{font-size:1vw!important}
.company-logo .navbar-brand{padding:0}
.referralCode{margin-top: 1.4em !important;}
.nav-item .p2plinkborder:hover{background:0 0;color:#000!important}
.nav-item .pencilIcon{box-shadow:none;color:#70ad48}
.nav-item.waves-light.p2pConnection .nav-link.p2pConnectionlink{color:#2797c7!important;font-weight:500;text-transform:unset}
.nav-item.waves-light.p2pConnection .nav-link.p2pConnectionlink:hover{background:0 0}
.nav-item .btn-pencil:hover{border:1px solid #70ad48}
.my-account-dropdown .dropdown-toggle{background:#70ad48;color:#fff}
.my-account-dropdown .dropdown-toggle .caret{margin-left:5px;margin-right:5px;color:#fff}
.my-account-dropdown .dropdown-menu a{text-transform:none}
.my-account-dropdown .dropdown-menu a .fa{margin-right:10px;color:#70ad48}
.my-account-dropdown .dropdown-menu a:hover .fa{color:#fff}
.profile-btn .dropdown-toggle::after{color:#fff}
.dropdown .dropdown-menu.dropdown-success .dropdown-item:hover{background-color:#70ad48!important}
::ng-deep .my-account-dropdown .dropdown-toggle{background:#70ad48}
.input-group-append .checkbutton{border-color:#6fac48;background-color:#6fac48;color:#fff}
@media only screen and (max-width:768px){.my-account-dropdown{margin-left:0}}
// ---------------------------------------------------------------------------------------------------------
//                     New integration componenet Css
// ---------------------------------------------------------------------------------------------------------

.navbar-nav .nav-item .nav-link {color: #000;transition: .35s;margin: 0 8px;font-size: 14px;font-weight: 400;text-transform: uppercase;}
.navbar-nav.nav005Yu-565UN-REMK25 .nav-item .nav-link:hover{background-color: #6fad48;color: #fff;border-radius: 2px;}
.navbar-nav.nav005Yu-565UN-REMK25 .nav-item .nav-link.referralCode:hover{background-color: transparent; color: #000 !important;}
.navbar-nav.nav005Yu-565UN-REMK25 .nav-item .nav-link.p2p3255JGH-454JHh:hover{background-color: transparent; color: #000 !important;}
.navbar-nav.nav005Yu-565UN-REMK25 .nav-item .nav-link.p2pConnectionlink:hover{background-color: transparent;}
.logo.navbar-brand.waves-light img {width: 70px;}
.me02nu00_buttons a {text-transform: uppercase;font-weight: 400;}
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active {background-color: #00c851 !important;}
// .slider-banner-overlay {width: 600px;position: absolute;left: -15em;right: 0;bottom: -10em;}
.readButton {background: #d35400;color: #fff;text-transform: capitalize;font-size: 15px;padding: 12px 20px;}
.registerButton {background: #70ad48;color: #fff;text-transform: capitalize;font-size: 15px;padding: 12px 20px;}
.navbar-nav.nav005Yu-565UN-REMK25 .nav-item .announcement:hover {background-color: transparent !important;}