<div class="container-fluid  p-1 animated fadeInRight">
    <div style="margin:10px">
  <div *ngIf="!showCustomers &&!showLevelsReport" class="card card-cascade narrower animated fadeInRight">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">App Ambassadors</a>
      <div class="butttons">
        <div mdbTooltip="New App Ambassador" placement="left" customHeight="50">
          <button type="button" (click)="addframe.show();this.addReferrerForm.controls.test.setValue('1');"
            class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-plus mt-o"></i>
          </button>
        </div>
        <div mdbTooltip="Download"  placement="left" customHeight="50">
          <button type="button" (click)="dt1.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-download"></i>
          </button>
        </div>
        <div mdbTooltip="Refresh" placement="left" customHeight="50">
          <button type="button" (click)="getAllReferrers();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </div>
    </div>
    <p-table class="p-4" #dt1 [columns]="tableColumns" [loading]="loading" [value]="referrerList" [paginator]="true"
      [rows]="5" [responsive]="true" exportFilename="Customer Rep Report">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tableColumns" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
            <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList"
              defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
            <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}"
              [options]="accountType" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect appendTo="body" *ngSwitchCase="'isAppAmbassador'" [style]="{'width':'100%'}"
            [options]="bool" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
          </p-multiSelect>
          <p-multiSelect appendTo="body" *ngSwitchCase="'recognitionCategory'" [style]="{'width':'100%'}"
          [options]="rankType" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
        </p-multiSelect>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td *ngFor="let col of tableColumns">
            {{rowData[col.field]}}
            <button *ngIf="col.field === 'action'" color="success" mdbTooltip="View profile" placement="top"
              type="button" mdbBtn floating="true" size="sm"
              (click)="showUserDetails(rowData,'','referrer');profileFrame.show();"
              class="my-0 delete-button-gap p2p-sm-btn"><i class="fa fa-eye"></i></button>
            <button *ngIf="col.field === 'action' && rowData.status==='ACTIVATION PENDING'" mdbTooltip="Resend Mail"
              placement="top" type="button" mdbBtn color="info" floating="true" size="sm"
              class="my-0 delete-button-gap p2p-sm-btn" (click)="resendMail(rowData);"><i class="fa fa-envelope"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && (rowData.status !=='ACTIVATION PENDING' && rowData.status !=='SUBSCRIPTION PENDING'  && rowData.status !=='ARCHIVED')"
              mdbTooltip="View Customers" placement="top" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="showCustomers = true;selectedReferrer(rowData);"><i class="fa fa-users"></i></button>
              <button
              *ngIf="col.field === 'action' && (rowData.status !=='ACTIVATION PENDING' && rowData.status !=='SUBSCRIPTION PENDING'  && rowData.status !=='ARCHIVED')"
              mdbTooltip="Level Report" placement="top" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="getLevelReport(rowData);"><i class="fa fa-sitemap"></i></button>
            <button
              *ngIf="col.field === 'action' && rowData.status !=='ACTIVATION PENDING' && rowData.status !=='ARCHIVED'&& rowData.status !=='SUBSCRIPTION PENDING'"
              mdbTooltip="Archive Customer Rep" placement="top" type="button" mdbBtn gradient="peach" floating="true"
              size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="showUserDetails(rowData , 'archive','referrer');actionFrame.show();"><i
                class="fa fa-user-times"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && rowData.status === 'ACTIVE' && rowData.status !=='ACTIVATION PENDING'"
              mdbTooltip="Deactivate Customer Rep" placement="top" type="button" mdbBtn gradient="purple"
              floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="showUserDetails(rowData , 'deactivate','referrer');actionFrame.show();"><i class="fa fa-ban"></i>
            </button>

            <button *ngIf="col.field === 'action'" mdbTooltip="Delete Customer Rep" placement="top" type="button"
              mdbBtn gradient="aqua" floating="true" size="sm" class="delete-button-gap p2p-sm-btn"
              (click)="setUserToDelete(rowData,'referrer');deletionFrame.show();"><i class="fa fa-trash"></i>
            </button>

            <button
              *ngIf="col.field === 'action' && rowData.status === 'INACTIVE' && rowData.status !=='ACTIVATION PENDING'"
              mdbTooltip="Activate Customer Rep" placement="top" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0 delete-button-gap delete-button-gap p2p-sm-btn"
              (click)="showUserDetails(rowData , 'activate','referrer');actionFrame.show();"><i class="fa fa-check"></i>
            </button>
            <button *ngIf="col.field === 'action' && rowData.status === 'ACTIVATION PENDING'"
              mdbTooltip="Update Email ID" placement="top" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="updateEmail.show();selectedReferrer(rowData)"><i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="showCustomers" class="card card-cascade narrower animated fadeInRight">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">{{selectedReferrerName}}'s Customers</a>
      <div class="buttons buttons-customer-report">
        <div mdbTooltip="Download" placement="left" customHeight="50">
          <button type="button" (click)="dt2.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-download"></i>
          </button>
        </div>
        <div mdbTooltip="Go Back"  placement="left" customHeight="50">
          <button type="button" (click)="showCustomers = false;" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <a class="fa fa-back "></a> Back
          </button>
        </div>
      </div>
    </div>
    <p-table scrollHeight="200px" [resizableColumns]="false" exportFilename="Customer Report" columnResizeMode="expand"
      class="p-4" #dt2 [columns]="customerTableColumns" [value]="customerList" [paginator]="true" [rows]="5"
      [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of customerTableColumns" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of customerTableColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of customerTableColumns" [ngSwitch]="col.field">
            <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList"
              defaultLabel="All" (onChange)="dt2.filter($event.value, col.field, 'in')"></p-multiSelect>
            <p-multiSelect appendTo="body" *ngSwitchCase="'userType'" [style]="{'width':'100%'}"
              [options]="userType" defaultLabel="All" (onChange)="dt2.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect appendTo="body" *ngSwitchCase="'isAppAmbassador'" [style]="{'width':'100%'}"
            [options]="bool" defaultLabel="All" (onChange)="dt2.filter($event.value, col.field, 'in')">
          </p-multiSelect>
          <p-multiSelect appendTo="body" *ngSwitchCase="'recognitionCategory'" [style]="{'width':'100%'}"
          [options]="rankType" defaultLabel="All" (onChange)="dt2.filter($event.value, col.field, 'in')">
        </p-multiSelect>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="customerTableColumns">
        <tr>
          <td *ngFor="let col of customerTableColumns">
            {{rowData[col.field]}}
            <button *ngIf="col.field === 'action'" mdbTooltip="View" placement="top" type="button" mdbBtn
              color="success" floating="true" size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="showUserDetails(rowData,'','customer');profileFrame.show();"><i class="fa fa-eye"></i></button>
            <button
              *ngIf="col.field === 'action' && rowData.status !=='ACTIVATION PENDING' && rowData.status !=='ARCHIVED'&& rowData.status !=='SUBSCRIPTION PENDING'"
              mdbTooltip="Archive Customer" placement="top" type="button" mdbBtn gradient="peach" floating="true"
              size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="showUserDetails(rowData , 'archive','customer');actionFrame.show();"><i
                class="fa fa-user-times"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && rowData.status === 'ACTIVE' && rowData.status !=='ACTIVATION PENDING'"
              mdbTooltip="Deactivate Customer" placement="top" type="button" mdbBtn gradient="purple" floating="true"
              size="sm" class="my-0  delete-button-gap p2p-sm-btn"
              (click)="showUserDetails(rowData ,  'deactivate','customer');actionFrame.show();"><i
                class="fa fa-ban"></i>
            </button>
            <button *ngIf="col.field === 'action'" mdbTooltip="Delete Customer" placement="top" type="button" mdbBtn
              gradient="aqua" floating="true" size="sm" class="delete-button-gap p2p-sm-btn"><i class="fa fa-trash"
                (click)="setUserToDelete(rowData,'customer');deletionFrame.show();"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && rowData.status === 'INACTIVE' && rowData.status !=='ACTIVATION PENDING'"
              mdbTooltip="Activate Customer" placement="top" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0 delete-button-gap p2p-sm-btn"
              (click)="showUserDetails(rowData , 'activate','customer');actionFrame.show();"><i class="fa fa-check"></i>
            </button>
            <button *ngIf="col.field === 'action' && rowData.status==='ACTIVATION PENDING'" mdbTooltip="Resend Mail"
              placement="top" type="button" mdbBtn color="info" floating="true" size="sm"
              class="my-0 delete-button-gap p2p-sm-btn" (click)="resendMail(rowData);"><i class="fa fa-envelope"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <div *ngIf="showLevelsReport" class="card card-cascade narrower animated fadeInRight">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">{{selectedCustomerName}}'s Level Report</a>
      <div class="buttons buttons-customer-report">
        <div mdbTooltip="Download" placement="left" customHeight="50">
          <button type="button" (click)="dt3.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-download"></i>
          </button>
        </div>
        <div mdbTooltip="Go Back"  placement="left" customHeight="50">
          <button type="button" (click)="showLevelsReport = false;" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <a class="fa fa-back "></a> Back
          </button>
        </div>
      </div>
    </div>
    <p-table scrollHeight="200px" [resizableColumns]="false" exportFilename="Level Report" columnResizeMode="expand"
      class="p-4" #dt3 [columns]="levelReportColumns" [value]="levelReport" [paginator]="true" [rows]="5"
      [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt3.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of levelReportColumns" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of levelReportColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of levelReportColumns" [ngSwitch]="col.field">
            <p-multiSelect appendTo="body" *ngSwitchCase="'level'" [style]="{'width':'100%'}" [options]="levelType"
              defaultLabel="All" (onChange)="dt3.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'referrerName'" [style]="{'width':'100%'}" [options]="sponsorNames"
              defaultLabel="All" (onChange)="dt3.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statusList"
              defaultLabel="All" (onChange)="dt3.filter($event.value, col.field, 'in')"></p-multiSelect>
            <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}"
              [options]="accountType" defaultLabel="All" (onChange)="dt3.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect appendTo="body" *ngSwitchCase="'isAppAmbassador'" [style]="{'width':'100%'}"
            [options]="bool" defaultLabel="All" (onChange)="dt3.filter($event.value, col.field, 'in')">
          </p-multiSelect>
          <p-multiSelect appendTo="body" *ngSwitchCase="'userType'" [style]="{'width':'100%'}"
          [options]="userType" defaultLabel="All" (onChange)="dt3.filter($event.value, col.field, 'in')">
        </p-multiSelect>
        <p-multiSelect appendTo="body" *ngSwitchCase="'recognitionCategory'" [style]="{'width':'100%'}"
        [options]="rankType" defaultLabel="All" (onChange)="dt3.filter($event.value, col.field, 'in')">
      </p-multiSelect>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="levelReportColumns">
        <tr>
          <td *ngFor="let col of levelReportColumns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
</div>
<div mdbModal #addframe="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (closed)="addReferrerForm.reset();addReferrerForm.markAsUntouched();showReferralCodeField=false;"
  style="overflow-y : visible">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="addframe.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white"><i class="fa fa-plus icon-size mr-2 text-white mr-3"
            aria-hidden="true"></i>Add
          New App Ambassador</h4>
      </div>
      <form [formGroup]="addReferrerForm">
        <div class="modal-body mx-2">
          <div class="form-group">
            <label class="label-size">First Name<span class="p2p-required">*</span></label>
            <input data-error="First name should not be empty!" data-success=" " type="text" formControlName="firstName"
              class="form-control mb-2" placeholder="First Name" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control mb-2" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="label-size">Email ID<span class="p2p-required">*</span></label>
            <input data-error="Please provide a valid email address." data-success=" " type="text"
              formControlName="email" class="form-control mb-2" placeholder="Email ID" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size" for="contactNumber">Phone Number</label>
            <input type="text" formControlName="contactNumber" class="form-control mb-2" id="contactNumber"
              placeholder="Phone Number" data-error="Please enter valid phone number!" data-success=" "
              mdbInputDirective phoneMask [preValue]="addReferrerForm.value.contactNumber" maxlength="14"
              [ngClass]="(addReferrerForm.controls['contactNumber'].invalid)? 'counter-danger' : ''">
          </div>
          <div *ngxPermissionsOnly="['ROLE_SUPER_ADMIN','ROLE_ADMIN']" class="form-row" style="display:inline-flex">
            <div class="col-12">
              <label class="label-size">Type<span class="p2p-required">*</span></label>
              <div class="form-check form-check-inline">
                <input formControlName="test" type="radio" class="form-check-input" value="1" id="materialInline1"
                  name="test" mdbInput>
                <label class="form-check-label" for="materialInline1" (click)="selectedPlan('1');">Paid</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="test" type="radio" class="form-check-input" value="2" id="materialInline2"
                  name="test" mdbInput>
                <label class="form-check-label" for="materialInline2" (click)="selectedPlan('2');">Free</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="test" type="radio" class="form-check-input" value="3" id="materialInline3"
                  name="test" mdbInput>
                <label class="form-check-label" for="materialInline3"
                  (click)="selectedPlan('3');">Legacy Member</label>
              </div>
            </div>
          </div>
          <div class="form-group mt-4" *ngIf="showReferralCodeField">
            <label class="label-size">Referral Code</label>
            <input type="text" formControlName="referralCode" class="form-control mb-2" placeholder="Referral Code">
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="addframe.hide()" mdbWavesEffect>Close <a class="fa fa-close ml-1"></a></button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect
          (click)="createNewReferrer();">
          Add
          <a class="fa fa-plus ml-1"></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #profileFrame="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="profileFrame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white"><i class="fa fa-eye icon-size mr-2 text-white mr-3"
            aria-hidden="true"></i>Customer
          Profile</h4>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Name :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.name}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Phone Number :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.contactNumber}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Email ID :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.email}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Joining Date :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.joiningDate}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3"
        *ngIf="selectedUser?.status!=='ACTIVATION PENDING' && selectedUser?.status!=='SUBSCRIPTION PENDING' && selectedUser?.userType!=='Customer'">
        <div class="col-md-5">
          <h6 class="profile-headings ">Referral Code :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.referrerCode}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Account Type :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.accountType}}</p>
        </div>
      </div>
      <div class="form-row mx-5 mt-3">
        <div class="col-md-5">
          <h6 class="profile-headings ">Status :</h6>
        </div>
        <div class="col-md-7">
          <p class="m-0">{{selectedUser?.status}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="profileFrame.hide()" mdbWavesEffect>Close <a class="fa fa-close ml-1"></a></button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #actionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="actionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to {{toggleAction}} {{selectedUser?.name}}'s account?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
          (click)="actionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
          (click)="updateReferrerAccount();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div mdbModal #updateEmail="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="updateEmail.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white"><i class="fa fa-pencil icon-size mr-2 text-white mr-3"
            aria-hidden="true"></i>Update Email ID
        </h4>
      </div>
      <div class="modal-body mx-2">
        <div class="form-group">
          <label class="label-size">Email ID<span class="p2p-required">*</span></label>
          <input [formControl]="email_id" data-error="Please provide a valid email address." data-success=" "
            type="text" class="form-control mb-2" placeholder="E-mail" mdbInputDirective>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="updateEmail.hide()" mdbWavesEffect>Close <a class="fa fa-close ml-1"></a></button>
        <button type="submit" mdbBtn color="success" class="relative waves-light btn-md" mdbWavesEffect
          (click)="updateReferrerEmail();">
          update
          <a class="fa fa-pencil ml-1"></a>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #deletionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deletionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete {{selectedUser?.name}}'s account?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
          (click)="deletionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
          (click)="deleteUser();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>