<div class="container p-1">
  <div>
    <p-tabMenu class="ui-tabmenu-list" [model]="items" [activeItem]="currentTab">
    </p-tabMenu>
  </div>

  <div >
    <router-outlet></router-outlet>
  </div>
</div>
