::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {background-color: #fd9961;border: 1px solid #fd9961;} 
@media (max-width: 740px) { 
 ::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {width: 100%;}
}
