.icon-size {color: #fb6a18 !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;}
#showEye-Button {float: right; position: relative;bottom: 35px;font-size: 20px; color: #6fac48;border-radius: 50px;padding: 5px;}
  

