<div class="card  p-3 animated fadeInRight">
  <div class="card">
    <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-user icon-size mr-2"></i>
      Change Password</h4>
    <form [formGroup]="passwordManagementForm" class="p2p-form pt-3 px-4">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="address">Old Password <span class="p2p-required">*</span></label>
          <input formControlName="oldPassword" [type]="show_button1 ? 'text' : 'password'" id="address"
            class="form-control" placeholder="Old Password" data-success=" " data-error="field should not be empty!"
            mdbInputDirective>
          <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('first')"
            id="showEye-Button"></i>
        </div>
        <div class="form-group col-md-4">
          <label for="newPassword">New Password<span class="p2p-required">*</span></label>
          <input mdbInputDirective formControlName="newPassword" [type]="show_button2 ? 'text' : 'password'"
            id="newPassword" class="form-control" placeholder="New Password" data-success=" "
            data-error="field should not be empty!">
          <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('second')"
            id="showEye-Button"></i>
        </div>
        <div class="form-group col-md-4">
          <label for="confirmNewPassword">Confirm New Password<span class="p2p-required">*</span></label>
          <input formControlName="confirmNewPassword" [type]="show_button3 ? 'text' : 'password'"
            id="confirmNewPassword" class="form-control" placeholder="Confirm New Password" data-success=" "
            data-error="field should not be empty!" mdbInputDirective>
          <i [class]="show_eye3 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('third')"
            id="showEye-Button"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="col pr-0">
          <button (click)="updatePassword();" mdbBtn color="success" class="mb-4 pull-right btn-md"
            type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>