.title-size {font-size: 1.25rem;}
::ng-deep.ui-multiselect .ui-multiselect-label {font-weight: 300;text-align: center;height: auto;padding-top: 0px;width: 100%;margin-bottom: 0;padding: 0px 10px;font-size: 12px;}   
::ng-deep .ui-table-wrapper {overflow-x: scroll;}  
@media (max-width: 740px) {
.sm-margin {margin-left: 6.1rem !important;}   
}