<div class="container-fluid  p-1 animated fadeInRight">
  <div style="margin:10px">
    <div class="card card-cascade narrower">
      <div
        class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <a class="white-text mx-3 title-size">Transactions</a>
        <div class="butttons">
          <div mdbTooltip="Download" placement="left" customHeight="50">
            <button type="button" (click)="dt3.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-download"></i>
            </button>
          </div>
          <div mdbTooltip="Refresh" placement="left" customHeight="50">
            <button type="button" (click)="getAllTransactions();" class="btn btn-outline-white btn-rounded btn-sm px-2">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>
      </div>
      <p-table [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt3 [columns]="tableColumns"
        [value]="transactionList" [paginator]="true" [rows]="5" [responsive]="true" exportFilename="Transactions Report"
        (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search"
              (input)="dt3.filterGlobal($event.target.value, 'contains')" style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of tableColumns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon *ngIf="col.field == 'transactionDate'" [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
          <tr>
            <td>{{rowData.name}}</td>
            <td>{{rowData.referredBy}}</td>
            <td>{{rowData.referrerCode}}</td>
            <td>{{rowData.transactionId}}</td>
            <td>{{rowData.planType}}</td>
            <td>{{rowData.transactionType}}</td>
            <td>{{rowData.transactionDate|date:'MM/dd/yyyy'}}</td>
            <td>${{rowData.transactionAmount |number : '.2-2'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>