<div class="container-fluid  p-1 animated fadeInRight">
  <div style="margin:10px">
  <div class="card card-cascade narrower">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Contact Manager</a>
      <div mdbTooltip="Add Contact" placement="left">
        <button type="button" (click)="frame.show();addContactDetails();"
          class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-plus mt-o"></i>
        </button>
      </div>
    </div>
    <p-table [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt [columns]="tableColumns"
      [value]="contactList" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tableColumns" style="width:150px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td *ngFor="let col of tableColumns">
            {{rowData[col.field]}}
            <button *ngIf="col.field === 'action'" mdbTooltip="Edit" placement="top" type="button" mdbBtn
              color="success" floating="true" size="sm" class="my-0 p2p-sm-btn"
              (click)="frame.show();setContatactDetails(rowData);"><i class=" fa fa-pencil"></i>
            </button>
            <button *ngIf="col.field === 'action'" mdbTooltip="Delete" placement="top" type="button" mdbBtn
              color="success" floating="true" size="sm" class="my-0 p2p-sm-btn peach-gradient"
              (click)="showContactDetails(rowData, 'delete');actionFrame.show();"><i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
    </p-table>
  </div>
</div>
</div>
<div mdbModal #frame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (closed)="contactManagerForm.reset();contactManagerForm.markAsUntouched();">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close"
          (click)="frame.hide();contactManagerForm.reset();">
          <span aria-hidden="true">×</span>
        </button>
        <h4 *ngIf="contactManagerForm.controls.contactId.value === null" class="modal-title w-100 text-white">
          <i class="fa fa-plus icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Add new Contact
        </h4>
        <h4 *ngIf="contactManagerForm.controls.contactId.value != null" class="modal-title w-100 text-white">
          <i class="fa fa-pencil icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Update Contact
        </h4>
      </div>
      <form [formGroup]="contactManagerForm">
        <div class="modal-body mx-2">
          <div class="form-group">
            <label class="label-size">Name<span class="p2p-required">*</span></label>
            <input data-error="Name should not be empty!" data-success=" " type="text" formControlName="name"
              class="form-control mb-2" placeholder="Name" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size">Email ID<span class="p2p-required">*</span></label>
            <input data-error="Please enter valid email address!" data-success=" " type="email"
              formControlName="emailAddress" class="form-control mb-2" placeholder="Email ID" mdbInputDirective>
          </div>
          <div class="form-group">
            <label class="label-size">Phone Number</label>
            <input data-error="Please enter valid phone number!" data-success=" " type="text"
              formControlName="contactNumber" class="form-control mb-2" placeholder="Phone Number" mdbInputDirective
              phoneMask [preValue]="contactManagerForm.value.contactNumber" formControlName="contactNumber"
              maxlength="14" [ngClass]="(contactManagerForm.controls['contactNumber'].invalid)? 'counter-danger' : ' '">
          </div>
          <div class="form-group">
            <label class="label-size">Contact Type</label>
            <input type="text" formControlName="contactType" class="form-control mb-2" placeholder="Contact Type">
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
          (click)="frame.hide();contactManagerForm.reset();" mdbWavesEffect>Close <i
            class="fa fa-close ml-1"></i></button>
        <button *ngIf="contactManagerForm.controls.contactId.value === null" type="submit" mdbBtn color="success"
          class="relative waves-light btn-md" mdbWavesEffect (click)="createNewContact();">Add Contact
          <i class="fa fa-plus ml-1"></i>
        </button>
        <button *ngIf="contactManagerForm.controls.contactId.value !== null" type="submit" mdbBtn color="success"
          class="relative waves-light btn-md" mdbWavesEffect (click)="updateExistsContact();"> Save changes
          <i class="fa fa-save ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #actionFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="actionFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to {{toggleAction}} {{selectedUser?.name}}'s contact details?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
          (click)="actionFrame.hide()">Close
          <i class="fa fa-close ml-1 text-white"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" mdbWavesEffect
          (click)="updateContactByAction();">Confirm
          <i class="fa fa-check ml-1 text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>