.modal-header {background: #70ad48 !important;}
.custom-gradient {background: #70ad48 !important;height: 50px !important;}
.title-size {font-size: 1.25rem;}
.profile-headings {font-weight: 500; color: #585454;}
::ng-deep.ui-multiselect .ui-multiselect-label {font-weight: 300;text-align: center;width: 100%; height: auto;padding-top: 0px;margin-bottom: 0;font-size: 12px;padding: 0px 10px;}
::ng-deep .ui-table-wrapper {overflow-x: scroll;}
@media (max-width: 740px) {
.sm-margin {margin-left: 6.1rem !important; }
}
  