<div class="container mb-5 mat4555GtuTab5752">
  <div class="card mt-5 animated fadeInRight">
    <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-user icon-color mr-2 twxt-warning"></i>
      User Activation</h4>
    <form [formGroup]="userActivationForm" class="p2p-form pt-3 px-4">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="address">User Name<span class="p2p-required">*</span></label>
          <input formControlName="userName" type="text" class="form-control" placeholder="User Name" data-success=" "
            data-error="field should not be empty!" mdbInputDirective>
        </div>
        <div class="form-group col-md-4">
          <label for="address2">Password<span class="p2p-required">*</span></label>
          <input mdbInputDirective formControlName="password" [type]="show_button1 ? 'text' : 'password'"
            class="form-control" placeholder="Password" data-success=" " data-error="field should not be empty!">
          <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('first')"
            id="showEye-Button"></i>
        </div>
        <div class="form-group col-md-4">
          <label for="address2">Confirm Password<span class="p2p-required">*</span></label>
          <input formControlName="confirmPassword" [type]="show_button2 ? 'text' : 'password'" class="form-control"
            placeholder="Confirm Password" data-success=" " data-error="field should not be empty!" mdbInputDirective>
          <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('second')"
            id="showEye-Button"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="col pr-2 mb-3">
          <a class="nav-link waves-light pull-right" id="login_button" (click)="activateUser();"
            mdbWavesEffect>ACTIVATE</a>
        </div>
      </div>
    </form>
  </div>
</div>