.icon-color {color: #fb6a18 !important;}
.activateUserBtn{background: #6fac48;}
.activateUserBtn:hover{background: #6fac48;color: #fff;}
#login_button {background: #70ad48;color: white !important;padding: 10px 20px;}
#showEye-Button {float: right;position: relative;bottom: 35px;font-size: 20px;color: #6fac48;border-radius: 50px;padding: 5px;}