<div class="container card p-4 animated fadeInRight">
  <div class="card card-cascade narrower">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Prospects</a>
      <div class="butttons">
        <div mdbTooltip="Download Prospects Report" placement="left">
          <button type="button" (click)="dt.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-download"></i>
          </button>
        </div>
      </div>
    </div>
    <p-table [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt [columns]="tableColumns"
      [value]="prospectsList" [paginator]="true" [rows]="10" [responsive]="true" exportFilename="Prospects Report">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tableColumns" style="width:255px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td *ngFor="let col of tableColumns">
            {{rowData[col.field]}}
            <button
              *ngIf="col.field === 'action' && rowData.status !=='ACTIVATION_PENDING' && rowData.status !=='ARCHIVED'&& rowData.status !=='SUBSCRIPTION_PENDING'"
              mdbTooltip="Archive Admin" placement="bottom" type="button" mdbBtn gradient="peach" floating="true"
              size="sm" class="my-0 p2p-sm-btn" (click)="showUserDetails(rowData , 'archive');actionFrame.show();"><i
                class="fa fa-user-times"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && rowData.status === 'ACTIVE' && rowData.status !=='ACTIVATION_PENDING'"
              mdbTooltip="Deactivate Admin" placement="bottom" type="button" mdbBtn gradient="purple" floating="true"
              size="sm" class="my-0 p2p-sm-btn" (click)="showUserDetails(rowData , 'deactivate');actionFrame.show();"><i
                class="fa fa-ban"></i>
            </button>
            <button
              *ngIf="col.field === 'action' && rowData.status === 'INACTIVE' && rowData.status !=='ACTIVATION_PENDING'"
              mdbTooltip="Activate Admin" placement="bottom" type="button" mdbBtn gradient="blue" floating="true"
              size="sm" class="my-0 p2p-sm-btn" (click)="showUserDetails(rowData , 'activate');actionFrame.show();"><i
                class="fa fa-check"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>