<div class=" card p-3 animated fadeInRight">
  <div class="card card-cascade narrower z-depth-1-half">
    <div
      class="view view-cascade gradient-card-header custom-green-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <div class="white-text mx-3 h4">Billing Addresses</div>
      <div mdbTooltip="Add new address" placement="left">
        <button type="button" (click)="frame.show();resetForm();setStateAndCountry();"
          class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-plus mt-o"></i>
        </button>
      </div>
    </div>
    <p-table [tableStyle]="{'table-layout':'auto'}" [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt
      [columns]="tableColumns" [value]="table" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td *ngFor="let col of tableColumns">
            {{rowData[col.field]}}
            <button *ngIf="col.field === 'action' && rowData.userBillingAddressId!=null" mdbTooltip="Edit"
              placement="bottom" type="button" mdbBtn color="success" floating="true" size="sm" class="my-0 p2p-sm-btn"
              (click)="frame.show();chooseBillingAddress(rowData);"><i class="fa fa-pencil"></i></button>
            <button *ngIf="col.field === 'action' && rowData.userBillingAddressId!=null" mdbTooltip="Delete"
              placement="bottom" type="button" mdbBtn floating="true" size="sm" class="my-0 p2p-sm-btn peach-gradient"
              (click)="setBillingAddressId(rowData.userBillingAddressId);deleteFrame.show();"><i
                class="fa fa-trash"></i></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div mdbModal style="overflow-y: auto" #frame="mdbModal" class="modal fade top p2p-lg-modal" id="frameModalTop"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="billingAddressForm" class="p2p-form">
        <div class="modal-header text-white">
          <button type="button" class="close pull-right" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true" class="text-white">×</span>
          </button>
          <h4 *ngIf="billingAddressForm.controls.userBillingAddressId.value===null" class="modal-title w-100"><i
              class="fa fa-plus icon-size mr-2" aria-hidden="true"></i>Add Billing Address</h4>
          <h4 *ngIf="billingAddressForm.controls.userBillingAddressId.value!=null" class="modal-title w-100"><i
              class="fa fa-pencil icon-size mr-2" aria-hidden="true"></i>Update Billing Address</h4>
        </div>
        <div class="modal-body mx-2">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="address">New Address Name (Home, Office, etc.) <span class="p2p-required">*</span></label>
              <input type="text" id="address" formControlName="addressName" class="form-control"
                placeholder="New Address Name" data-error="Address name should not be empty!" data-success=" "
                mdbInputDirective>
            </div>
            <div class="col-md-6 form-group">
              <label for="companyName" class="pb-1">Company Name</label>
              <input type="text" id="companyName" formControlName="companyName" class="form-control"
                placeholder="Company Name">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="firstName">First Name <span class="p2p-required">*</span></label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control"
                placeholder="First Name" data-error="First name should not be empty!" data-success=" "
                mdbInputDirective>
            </div>
            <div class="col-md-6 form-group">
              <label for="lastName">Last Name <span class="p2p-required">*</span></label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last Name"
                data-error="Last name should not be empty!" data-success=" " mdbInputDirective>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="billingAddress1">Address Line 1 <span class="p2p-required">*</span></label>
              <input type="text" id="billingAddress1" formControlName="billingAddress1" class="form-control"
                placeholder="Address 1" data-error="Address 1 should not be empty!" data-success=" " mdbInputDirective>
            </div>
            <div class="col-md-6 form-group">
              <label for="billingAddress2" class="pb-1">Address Line 2</label>
              <input type="text" id="billingAddress2" formControlName="billingAddress2" class="form-control"
                placeholder="Address 2">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="contactNumber">Contact Number</label>
              <input type="text" id="contactNumber" formControlName="contactNumber" class="form-control mb-2" phoneMask
                [preValue]="billingAddressForm.value.contactNumber" maxlength="14"
                [ngClass]="(billingAddressForm.controls['contactNumber'].invalid)? 'counter-danger' : ''">
            </div>
            <div class="col-md-6 form-group">
              <label for="faxNumber">Fax Number</label>
              <input type="number" id="faxNumber" formControlName="faxNumber" class="form-control mb-2"
                placeholder="Fax Number">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="city">City <span class="p2p-required">*</span></label>
              <input type="text" id="city" formControlName="billingAddressCity" class="form-control" placeholder="City"
                data-error="City should not be empty!" data-success=" " mdbInputDirective>
            </div>
            <div class="col-md-6 form-group">
              <label for="pincode" class="pb-1">Zipcode<span class="p2p-required">*</span></label>
              <input type="number" id="pincode" formControlName="billingAddressPinCode" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 form-group">
              <label for="country">Country<span class="p2p-required">*</span></label>
              <select id="country" formControlName="billingAddressCountry"
                class="browser-default custom-select form-control" (change)="selectCountry()">
                <option *ngFor="let country of countries" value="{{country.countryName}}">{{country.countryName}}
                </option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for="state">State<span class="p2p-required">*</span></label>
              <select id="state" formControlName="billingAddressState"
                class="browser-default custom-select form-control">
                <option *ngFor="let state of states" value="{{state.stateName}}">{{state.stateName}}</option>
              </select>
            </div>
            <div class="col-md-4 form-group pt-3">
              <label class="recurrenceLabel pt-4 pr-5 pt-2" for="state">Primary :</label>
              <mdb-checkbox class="text-left pl-4 pt-4" formControlName="primaryAddress"></mdb-checkbox>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
            (click)="frame.hide()" mdbWavesEffect>Close <i class="fa fa-close ml-1"></i></button>
          <button *ngIf="billingAddressForm.controls.userBillingAddressId.value===null" type="submit" mdbBtn
            color="success" class="relative waves-light btn-md" mdbWavesEffect (click)="saveBillingAddress();">Save
            Billing Address <i class="fa fa-save ml-1"></i></button>
          <button *ngIf="billingAddressForm.controls.userBillingAddressId.value!=null" type="submit" mdbBtn
            color="success" class="relative waves-light btn-md" mdbWavesEffect (click)="updateBillingAddress();">Save
            changes <i class="fa fa-save ml-1"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete this flow ?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect btn-md btn-min-width"
          (click)="deleteBillingAddress()" mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1"></i>
        </a>
        <a type="button" mdbBtn outline="true" class="waves-effect btn-md peach-gradient text-white btn-min-width"
          mdbWavesEffect (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>