<div class="mat4555GtuTab5752">
  <div class="container card mt-5">
    <h4 class="cardTable-header px-4 py-3"><i class="fa fa-user icon-color mr-2"></i> Contact Enquiry
    </h4>
    <p-dataView #dv [value]="enquiries" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="name"
      [sortField]="sortField" [sortOrder]="sortOrder" class="dataviewselection py-3">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-4 filter-container">
              <div class="searchBy" style="position:relative">
                <input type="search" pInputText placeholder="Search by Name" (keyup)="dv.filter($event.target.value)">
              </div>
            </div>
            <div class="ui-g-6 ui-md-4 gridButtons" style="text-align:right">
              <p-dataViewLayoutOptions class="dataDisplay-card"></p-dataViewLayoutOptions>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-enquiry pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
          <div class="ui-g-12 ui-md-8 enquiry-details">
            <div class="ui-g">
              <div class="ui-g-2 ui-sm-6 titleName">Name: </div>
              <div class="ui-g-10 ui-sm-6 enquiriesName"><b>{{enquiry.name}}</b></div>
              <div class="ui-g-2 ui-sm-6 titleName">Email ID: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{enquiry.emailId}}</b></div>
              <div class="ui-g-2 ui-sm-6 titleName">Date: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{enquiry.date}}</b></div>
              <div class="ui-g-2 ui-sm-6 titleName">Referred By: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{enquiry.referredBy}}</b></div>
              <div class="ui-g-2 ui-sm-6 titleName">Subject: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{enquiry.subject}}</b></div>
              <div class="ui-g-2 ui-sm-6 titleName">Message: </div>
              <div class="ui-g-10 ui-sm-6"><b class="message">{{enquiry.message}}</b></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-enquiry pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
          <p-panel [header]="enquiry.name" [style]="{'text-align':'center'}">
            <div class="enquiry-detail">{{enquiry.date}} {{enquiry.emailId}}</div>
            <hr class="ui-widget-content">

            <button pTooltip="View" tooltipPosition="right" pButton type="button" class="view"
              (click)="selectEnquiry($event, enquiry)" style="margin-top:0"><i class="fa fa-eye"></i></button>
          </p-panel>
        </div>
      </ng-template>
    </p-dataView>
  </div>


  <p-dialog class="enquiry-dialog" header="Enquiry Details" [(visible)]="displayDialog" [style]="{width: '500px'}"
    [responsive]="true" showEffect="fade" [modal]="true" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedEnquiry">
      <div class="ui-g-4">Name: </div>
      <div class="ui-g-8">{{selectedEnquiry.name}}</div>
      <div class="ui-g-4">Email ID: </div>
      <div class="ui-g-8">{{selectedEnquiry.emailId}}</div>
      <div class="ui-g-4">Date: </div>
      <div class="ui-g-8">{{selectedEnquiry.date}}</div>
      <div class="ui-g-4">Referred By: </div>
      <div class="ui-g-8">{{selectedEnquiry.referredBy}}</div>
      <div class="ui-g-4">Subject: </div>
      <div class="ui-g-8">{{selectedEnquiry.subject}}</div>
      <div class="ui-g-4">Message: </div>
      <div class="ui-g-8 message">{{selectedEnquiry.message}}</div>
    </div>
  </p-dialog>
</div>