<section class="se2c-1122HFDHH-156fM212 mt-5">

  <section
    style="background-image: url('assets/images/Scattered-Stars.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container pb-5">
      <div class="row">
        <h2 class="font-weight-bold se2c-title554Htnd545d text-center wow slideInRight my-4 mt-5 text-center mx-auto">
          Founders Club</h2>
      </div>
      <div class="row">
        <mdb-image-modal class="h-1216637 img.ng-thumb" #ImageModalComponent [modalImages]="foundingMembers"
          type="margin">
        </mdb-image-modal>
      </div>
      <div class="row">
        <img class="img-fluid" src="assets/images/Founders Qualification.jpg">
      </div>
    </div>
  </section>

  <section
    style="background-image: url('assets/images/Scattered-Stars.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container pb-5">
      <div class="row">
        <h2 class="font-weight-bold se2c-title554Htnd545d text-center wow slideInRight my-4 text-center mx-auto">
          Platinum Ambassasors</h2>
      </div>

      <div class="row">
        <mdb-image-modal #ImageModalComponent2 class="h-1216637 img.ng-thumb" [modalImages]="platinumLeaders" type="margin"></mdb-image-modal>
      </div>
    </div>
  </section>

  <section
    style="background-image: url('assets/images/Scattered-Stars.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container pb-5">
      <div class="row">
        <h2 class="font-weight-bold se2c-title554Htnd545d text-center wow slideInRight my-4 text-center mx-auto">Diamond
          Ambassadors</h2>
      </div>

      <div class="row">
        <mdb-image-modal  #ImageModalComponent3 class="h-1216637 img.ng-thumb" [modalImages]="diamondLeaders" type="margin"></mdb-image-modal>
      </div>
    </div>
  </section>

  <section
    style="background-image: url('assets/images/Scattered-Stars.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container pb-5">
      <div class="row">
        <h2 class="font-weight-bold se2c-title554Htnd545d text-center wow slideInRight my-4 text-center mx-auto">Bronze
          Ambassadors</h2>
      </div>

      <div class="row">
        <mdb-image-modal #ImageModalComponent4 class="h-1216637 img.ng-thumb" [modalImages]="bronzeLeaders" type="margin"></mdb-image-modal>
      </div>
    </div>
  </section>

</section>
