::ng-deep img.ng-thumb {
  height: 350px !important;
}

::ng-deep .h-100Vue0024 img {
  width: 350px;
  height: 264px !important;
}

::ng-deep .h-1216637 img.ng-thumb {
  border-radius: 50%;
  width: 300px !important;
  height: 300px !important;
  padding: 25px;

}

// ::ng-deep .ng-overlay .ng-gallery-content > img {width: 800px !important;height: 800px !important;}
@media (max-width: 740px) {
  ::ng-deep .h-1216637 img.ng-thumb {
    border-radius: 50%;
    padding: 25px;
    width: 400px !important;
    height: 400px !important;
  }
}

::ng-deep .carousel-multi-item .controls-top {
  display: none;
}

.card.card-cascade.wider .view.view-cascade.Aca4756Hgt455655 {
  width: 800px;
  height: auto !important;
  margin: 0 auto;
}

.card.card-cascade.wider.reverse .card-body.card-body-cascade {
  margin-top: -5px;
}

.ava005UYT52-2300TF img {
  position: absolute;
  width: 250px;
  left: 4em;
}

.academyButton {
  background: #d35400;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  padding: 12px 20px;
}
