.modal-header {background: #70ad48 !important;}
.custom-gradient {background: #70ad48 !important;height: 50px !important;}
.title-size {font-size: 1.25rem;}
.profile-headings {font-weight: 500;color: #585454;}
.buttons-customer-report{display: flex;}
::ng-deep.ui-multiselect .ui-multiselect-label {font-weight: 300;height: auto;text-align: center;width: 100%;padding-top: 0px;margin-bottom: 0;padding: 0px 10px; font-size: 12px;}
::ng-deep .ui-table-wrapper {overflow-x: scroll;}
@media (max-width: 740px) {
.sm-margin {margin-left: 6.1rem !important;}
}
.smallBtn {padding: 12px 24px;margin-top: 29px !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
.filter-alignment {margin-left: 2%;margin-bottom: -1%;}
.filter-alignment h6 {font-weight: 500;color: #70ad48;font-size: 1.2rem;}
::ng-deep body .ui-inputtext {padding-top: 8px !important; border: 1px solid #ced4da;}
::ng-deep .modal-calander .ui-inputtext {width: 100%;}
::ng-deep .modal-calander .ui-calendar {width: 100%;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep body .ui-button.ui-button-icon-only .ui-button-text {margin-top: 1px !important;margin-bottom: -1px !important;padding: 0.575em !important;}
::ng-deep body .ui-inputtext:enabled:hover:not(.ui-state-error) {border-color: #ced4da;}
::ng-deep .filter-alignment .ui-inputtext {width: 85% !important;}
::ng-deep .ui-calendar {width: 100% !important;}
@media (max-width: 740px) {
    .card-1 {width: 100%;margin-left: 0%;margin-top: -5%;}
    table th {font-size: 12px !important;}
    .card-2 {width: 100%;margin-left: 0%;padding-bottom: 0px;}
    .smallBtn {padding: 9px 14px;margin-top: 5px !important;}
    .filter-alignment {margin-left: 0%;}
    }
    .footer00013TRE565556 h2 {
        font-size: 15px;
        font-weight: 600;
        color: #71ad47;
    }