<section>
    <div class="se2c-1122HFDHH-156fM212 pb-5 wow slideInDown">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight">Answers and Advice from the MEC Team </h2>
            <mdb-accordion [multiple]="false">
                <mdb-accordion-item [collapsed]="false">
                    <mdb-accordion-item-head>Who is the P2P Mec Designed for? </mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        Everyone who is running a business or who is interested in creating a household budget to determine how to better manage ongoing expenses
                    </mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item>
                    <mdb-accordion-item-head>Does it help me avoid an audit?</mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        Even though no program can help you avoid an audit, the P2P MEC can assist you in audit protecting your records to be readily prepared in case there is one
                    </mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item>
                    <mdb-accordion-item-head>Where are my records stored and who has access to them?
                    </mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        All of your entries are stored in your personal password protected account in the cloud which gives to instant access to them no matter where you are.
                    </mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item>
                    <mdb-accordion-item-head>Is the MEC a subscription based app?
                    </mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        Yes, the monthlty subscription ensures that you are always able to record, store and access all of the data without having to use data on your phone or desktop. There is No obligation to keep the subscription once it’s set up. To find out how to cancel
                        your subscription, please follow the “How To Cancel My Account” link
                    </mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item>
                    <mdb-accordion-item-head>What is an App Ambassador and am I required to make referrals
                    </mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        An App Ambassador is someone who not only uses the app but make want to share the benefits of the app to others, becoming an App Ambassador gives you a referral code that qualifies you to receive a $5 referral fee for every user that enters your code.
                    </mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item>
                    <mdb-accordion-item-head>What is the advantage of paying for the App for 1 year vs monthly?
                    </mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        First, the yearly subscription gives you 2 months of free service and secondly if requested you are given access in the Academy for Free Credit Repair.
                    </mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item>
                    <mdb-accordion-item-head>I’m getting a message that I am not a member, what should I do?
                    </mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        Check to be sure you did not get a subscription cancelled message due to a declined card. After you have verified that you have an active account, go to <a href="#"> www.p2pmec.com </a>to access the login screen, enter the same
                        email address you set your account up with and click on forget password, go to your email and copy the OTP (One Time Password), once it’s entered you can set a new password. ***Be sure and verity the username which is poplulated
                        in the OTP email***
                    </mdb-accordion-item-body>
                </mdb-accordion-item>
            </mdb-accordion>
        </div>
    </div>
</section>