<div class="container p-1">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-6 form-group">
      <button (click)="frame.show();resetForm();" type="button" class="smallBtn btn-md" mdbBtn color="success" mdbWavesEffect>
        <i class="fa fa-plus mr-1"></i>Add Leader
      </button>
    </div>
  </div>
  <div>
    <p-tabMenu class="ui-tabmenu-list" [model]="items">
    </p-tabMenu>
  </div>

  <div >
    <router-outlet></router-outlet>
  </div>
</div>

<div mdbModal style="overflow-y: auto" #frame="mdbModal" class="modal fade top modal-calander" id="frameModalTop"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  (closed)="uploadForm.reset();uploadForm.markAsUntouched();">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white" id="myModalLabel"><i class="fa fa-plus icon-size mr-2 text-white" aria-hidden="true"></i>Add Leader</h4>
      </div>
      <div class="modal-body mx-4">
        <form [formGroup]="uploadForm" class="text-center pb-2">
          <div class="form-row" style="display:inline-flex">
              <label class="label-size mr-5 mb-0">Select Leader Category:<span class="p2p-required">*</span></label>
              <div class="form-check form-check-inline">
                <input formControlName="category" type="radio" class="form-check-input" value="1" id="materialInline1"
                  name="category" mdbInput (click)="selectCategory('1');">
                <label class="form-check-label" for="materialInline1">Bronze</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="category" type="radio" class="form-check-input" value="2" id="materialInline2"
                  name="category" mdbInput>
                <label class="form-check-label" for="materialInline2" (click)="selectCategory('2');">Diamond</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="category" type="radio" class="form-check-input" value="3" id="materialInline3"
                  name="category" mdbInput>
                <label class="form-check-label" for="materialInline3" (click)="selectCategory('3');">Platinum</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="category" type="radio" class="form-check-input" value="4" id="materialInline4"
                  name="category" mdbInput>
                <label class="form-check-label" for="materialInline4" (click)="selectCategory('4');">Founding Member</label>
            </div>
          </div>
          <div class="form-row mt-3">
            <div class="col-12 file-field">
              <div class="col-7 file-path-wrapper p-0">
                <input class="file-path" type="text" placeholder="Upload your file" [value]="showFile()">
              </div>
              <div *ngIf="!selectedFile && !url" mdbBtn color="success" size="md" class="col-md-5 relative waves-light"
                mdbWavesEffect>
                <i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i> Upload
              </div>
              <input accept="image/*" type="file" mdbFileSelect formControlName="file"
                (change)="selectFile(fileInput)" #fileInput>
              <div class="col-5" *ngIf="selectedFile || url">
                <button mdbTooltip="Delete" type="button" mdbBtn floating="true" size="sm"
                  class="my-0 p2p-sm-btn peach-gradient" (click)="resetFileInput()"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
          <div *ngIf="selectedFile" class="mt-4 mb-2" >
            <img id="uploadImg" [src]="sanitizer.bypassSecurityTrustUrl(url)" height="400">
          </div>
          <div *ngIf="url && !selectedFile" class="mt-4 mb-2">
            <img id="uploadImg" [src]="url" height="400">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="close-btn btn-md" gradient="peach" aria-label="Close"
          (click)="frame.hide();resetForm();" mdbWavesEffect>Close<i
            class="fa fa-close ml-1"></i></button>
        <button  type="submit" mdbBtn color="success"
          class="relative waves-light close-btn btn-md" mdbWavesEffect (click)="addLeader();">Save <i
            class="fa fa-save ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
