::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {background-color: #fd9961;border: 1px solid #fd9961;} 
@media (max-width: 740px) { 
 ::ng-deep body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {width: 100%;}
}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
::ng-deep .filter-alignment .ui-inputtext {width: 85% !important;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep body .ui-button.ui-button-icon-only .ui-button-text {margin-top: 1px !important;margin-bottom: -1px !important;padding: 0.575em !important;}
::ng-deep body .ui-inputtext:enabled:hover:not(.ui-state-error) {border-color: #ced4da;}
@media (max-width: 740px) {
    .filter-alignment {margin-left: 0%;}
    }
  