.customer-card{min-height: 20rem;}
.custom-gradient {height: 50px !important;font-size: 20px;}
.custom-gradient.gradient-card-header-graph{box-shadow: 0 3px 10px 0 rgba(0,0,0,.15), 0 3px 12px 0 rgba(0,0,0,.15);padding: 1.6rem 1rem;border-radius: .25rem;height: 60px !important;position: relative;top: -20px;bottom: 0;}
.custom-gradient.gradient-card-header-graph .title-size{font-size: 24px;font-weight: 500;}
.customer_heading h2{color: #666;font-size: 17px;font-weight: 800;letter-spacing: 1px;}
.customer_heading{float: right;}
.customer_heading h4{font-weight: 700 !important;font-size: 25px;text-align: center;color: #666;}
.custumer-table th,td{color: #747373;font-size:14px;font-weight: 500;line-height: 0.8rem;}
.distributors_heading h2{color: #666;font-size: 17px;font-weight: 800;letter-spacing: 1px;}
.distributors_heading{float: right;}
.distributors_heading h4{font-weight: 700 !important;font-size: 25px;text-align: center;color: #666;}
.distributors-table th,td{color: #747373;font-size: 14px;font-weight: 500;line-height: 0.8rem;}
.earnings_heading h2{color: #666;font-size: 17px;font-weight: 800;letter-spacing: 1px;}
.earnings_heading{float: right;}
.earnings_heading h4{font-weight: 700 !important;font-size: 25px;text-align: center;color: #666;}
.earnings-table th,td{color: #747373;font-size: 14px;font-weight: 500;line-height: 0.8rem;}
.commission_heading h2{color: #666;font-size: 17px;font-weight: 800;letter-spacing: 1px;}
.commission_heading{float: right;}
td{padding: 13px 0px;}
.commission_heading h4{font-weight: 700 !important;font-size: 25px;text-align: center;color: #666;}
.commission-table th,td{color: #747373;font-size: 14px;font-weight: 500;line-height: 0.8rem;}
.users .fa-users{background: hsl(96, 41%, 48%);color: #fff;padding: 1.5rem;font-size: 2rem;border-radius: 3px;box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);position: absolute;top: -25px;   }
.users .fa-line-chart{background-color: #fd9961!important;color: #fff;padding: 1.5rem;font-size: 2rem;border-radius: 3px;box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);position: absolute;top: -25px; }
.users .fa-pie-chart{background-color: #6c6c6c !important;color: #fff;padding: 1.5rem;font-size: 2rem;border-radius: 3px;box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);position: absolute;top: -25px; }
.users .fa-bar-chart{background-color: #a2633e !important;color: #fff;padding: 1.5rem;font-size: 2rem;border-radius: 3px;box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);position: absolute;top: -25px;}
.earning-table th{font-size: 2rem;}
 button.blue-gradient.btn-sm.btn-floating {width: 36px;height: 36px;}
.card.card-graph{margin-top: 5.2rem;height: 320px !important;}
.commission-table{margin-top: 1rem;}
.p-chart{margin-top: 4.5rem;}
table{border: 1px solid #ddd;}
th{color: #000 !important;}