<div class="container card  px-4 pb-4">
  <div class=" narrower animated fadeInRight my-5">
    <div class="row">
      <div class="col-md-6">
        <mdb-card class="mb-5">
          <mdb-card-body class="customer-card">
            <mdb-card-title>
              <div class="users">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <div class="customer_heading">
                <h2>CUSTOMERS</h2>
                <h4>{{this.totalCustomers}}</h4>
              </div>
            </mdb-card-title>
            <mdb-card-text mt-5>
              <div class="table-responsive">
                <table class="table table-striped  custumer-table" borderless="true">
                  <tbody>
                    <tr>
                      <th>Today</th>
                      <td>{{this.currentDateCustomer}}</td>
                      <th>Yesterday :</th>
                      <td>{{this.previousDateCustomer}}</td>
                    </tr>
                    <tr>
                      <th>This Week</th>
                      <td>{{this.currentWeekCustomer}}</td>
                      <th>Last Week</th>
                      <td>{{this.previousWeekCustomer}}</td>
                    </tr>
                    <tr>
                      <th>This Month</th>
                      <td>{{this.currentMonthCustomer}}</td>
                      <th>Last Month</th>
                      <td>{{this.previousMonthCustomer}}</td>
                    </tr>
                    <tr>
                      <th>This Year</th>
                      <td>{{this.currentYearCustomer}}</td>
                      <th>Last Year</th>
                      <td>{{this.previousYearCustomer}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-6">
        <mdb-card class="mb-5">
          <mdb-card-body class="customer-card">
            <mdb-card-title>
              <div class="users">
                <i class="fa fa-users"></i>
              </div>
              <div class="distributors_heading">
                <h2>APP AMBASSADORS</h2>
                <h4>{{this.totalCustomersReps}}</h4>
              </div>
            </mdb-card-title>
            <mdb-card-text mt-5>
              <div class="table-responsive">
                <table class="table table-striped distributors-table" borderless="true">
                  <tbody>
                    <tr>
                      <th>Today</th>
                      <td>{{this.currentDateCustomerRaps}}</td>
                      <th>Yesterday</th>
                      <td>{{this.previousDateCustomerRaps}}</td>
                    </tr>
                    <tr>
                      <th>This Week</th>
                      <td>{{this.currentWeekCustomerRaps }}</td>
                      <th>Last Week</th>
                      <td>{{this.previousWeekCustomerRaps}}</td>
                    </tr>
                    <tr>
                      <th>This Month</th>
                      <td>{{this.currentMonthCustomerRaps}}</td>
                      <th>Last Month</th>
                      <td>{{this.previousMonthCustomerRaps}}</td>
                    </tr>
                    <tr>
                      <th>This Year</th>
                      <td>{{this.currentYearCustomerRaps}}</td>
                      <th>Last Year</th>
                      <td>{{this.previousYearCustomerRaps}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
   
    </div>
    <div class="row">
      <div class="col-md-6">
        <mdb-card>
          <mdb-card-body class="customer-card">
            <mdb-card-title>
              <div class="users">
                <i class="fa fa-users"></i>
              </div>
              <div class="earnings_heading">
                <h2>APP AMBASSADOR PLUS</h2>
                <h4>{{this.totalProspectUsers}}</h4>
              </div>
            </mdb-card-title>
            <mdb-card-text mt-5>
              <div class="table-responsive">
                <table class="table table-striped earnings-table" borderless="true">
                  <tbody>
                    <tr>
                      <th>Today</th>
                      <td>{{this.currentDateGuestUser}}</td>
                      <th>Yesterday</th>
                      <td>{{this.previousDateGuestUser}}</td>
                    </tr>
                    <tr>
                      <th>This Week</th>
                      <td>{{this.currentWeekGuestUser}}</td>
                      <th>Last Week</th>
                      <td>{{this.previousWeekGuestUser}}</td>
                    </tr>
                    <tr>
                      <th>This Month</th>
                      <td>{{this.currentMonthGuestUser}}</td>
                      <th>Last Month</th>
                      <td>{{this.previousMonthGuestUser}}</td>
                    </tr>
                    <tr>
                      <th>This Year</th>
                      <td>{{this.currentYearGuestUser}}</td>
                      <th>Last Year</th>
                      <td>{{this.previousYearGuestUser}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-6">
        <mdb-card>
          <mdb-card-body class="customer-card">
            <mdb-card-title>
              <div class="users">
                <i class="fa fa-users"></i>
              </div>
              <div class="earnings_heading">
                <h2>P2P YEA</h2>
                <h4>{{this.totalYEA}}</h4>
              </div>
            </mdb-card-title>
            <mdb-card-text mt-5>
              <div class="table-responsive">
                <table class="table table-striped earnings-table" borderless="true">
                  <tbody>
                    <tr>
                      <th>Today</th>
                      <td>{{this.currentDateYEA}}</td>
                      <th>Yesterday</th>
                      <td>{{this.previousDateYEA}}</td>
                    </tr>
                    <tr>
                      <th>This Week</th>
                      <td>{{this.currentWeekYEA}}</td>
                      <th>Last Week</th>
                      <td>{{this.previousWeekYEA}}</td>
                    </tr>
                    <tr>
                      <th>This Month</th>
                      <td>{{this.currentMonthYEA}}</td>
                      <th>Last Month</th>
                      <td>{{this.previousMonthYEA}}</td>
                    </tr>
                    <tr>
                      <th>This Year</th>
                      <td>{{this.currentYearYEA}}</td>
                      <th>Last Year</th>
                      <td>{{this.previousYearYEA}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
  <div class="card mt-4 pb-4 px-2">
    <div class="row animated fadeInRight">
      <div class="col-md-5">
        <div
          class="view view-cascade custom-gradient gradient-card-header-graph narrower d-flex justify-content-between align-items-center">
          <a class="white-text mx-3 title-size">COMMISSIONS</a>
        </div>
        <mdb-card class="commission-table">
          <mdb-card-body class="customer-card mt-3">
            <mdb-card-title>
              <div class="users">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="commission_heading">
                <h2></h2>
                <h4></h4>
              </div>
            </mdb-card-title>
            <mdb-card-text class="mt-5">
              <div class="table-responsive">
                <table class="table table-striped commission-table" borderless="true">
                  <tbody>
                    <tr>
                      <th>This Period</th>
                      <td>${{this.thisPeriod |number : '.2-2'}}</td>
                      <th>Last Period</th>
                      <td>${{this.lastPeriod |number : '.2-2'}}</td>
                    </tr>
                    <tr>
                      <th>This Year</th>
                      <td>${{this.thisYear |number : '.2-2'}}</td>
                      <th>Last Year</th>
                      <td>${{this.lastYear|number : '.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-7">
        <div class="p-chart">
          <p-chart #barChartCommission type="line" [data]="commissionGraphData">
          </p-chart>
        </div>
        <!-- <div style="display: block;"> -->

        <!-- <canvas class="card card-graph p-3" mdbChart [chartType]="chartType" [datasets]="chartDatasets"
            [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [legend]="true"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>