<div class="card card-cascade narrower animated fadeInRight">
  <div
    class="view view-cascade custom-gradient gradient-card-header  narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <a class="white-text mx-3 title-size">Vehicle List</a>
    <div mdbTooltip="Add Vehicle" placement="left">
      <button type="button" (click)="frame.show();" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <p-table [tableStyle]="{'table-layout':'auto'}" [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt
    [columns]="tableColumns" [value]="vehicleList" [paginator]="true" [rows]="3" [responsive]="true">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="   Search"
          (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
      <tr>
        <td *ngFor="let col of tableColumns">
          {{rowData[col.field]}}
          <button *ngIf="col.field === 'action'" mdbTooltip="View" placement="top" type="button" mdbBtn
            floating="true" size="sm" class="my-0 p2p-sm-btn" gradient="blue"
            (click)="setVehicleDetails(rowData);frame.show();"><i class="fa fa-eye"></i></button>
          <button *ngIf="col.field === 'action'" mdbTooltip="Delete" placement="top" type="button" mdbBtn
            floating="true" size="sm" class="my-0 p2p-sm-btn peach-gradient"
            (click)="setVehicleId(rowData);deleteFrame.show();"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete this Vehicle?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class=" btn-md waves-effect peach-gradient text-white btn-min-width" mdbWavesEffect
          (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" (click)="deleteVehicle()"
          mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div mdbModal style="overflow-y : visible" #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  (closed)="vehicleGroup.reset();vehicleGroup.markAsUntouched();">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant">
      <form [formGroup]="vehicleGroup">
        <div class="modal-header">
          <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 *ngIf="vehicleGroup.controls.vehicleId.value === null" class="modal-title w-100 text-white"><i
              class="fa fa-plus icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Add new Vehicle
          </h4>
          <h4 *ngIf="vehicleGroup.controls.vehicleId.value !== null" class="modal-title w-100 text-white"><i
              class="fa fa-pencil icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Update Vehicle
          </h4>
        </div>
        <div class="modal-body mx-2">
          <div class="form-group mb-2">
            <h6 class="text-left">Year : <span class="requiredField">*</span></h6>
            <p-dropdown [showClear]="true" [style]="{'width':'100%'}" placeholder="Select Year" [options]="yearList"
              formControlName="year" data-error="Field is required" data-success=" " mdbInputDirective></p-dropdown>
          </div>
          <div class="form-group my-3">
            <h6 class="text-left">Make : <span class="requiredField">*</span></h6>
            <p-dropdown [showClear]="true" [style]="{'width':'100%'}" placeholder="Select Make" [options]="companyList"
              formControlName="make" data-error="Field is required" data-success=" " mdbInputDirective></p-dropdown>
          </div>
          <div class="form-group my-3">
            <h6 class="text-left">Model : <span class="requiredField">*</span></h6>
            <input type="text" id="model" class="form-control" placeholder="Enter vehicle model" formControlName="model"
              data-error="Field is required" data-success=" " mdbInputDirective>
          </div>
          <div class="form-group my-3">
            <h6 class="text-left mb-3">Current Odometer Reading :</h6>
            <input min="0" type="number" id="odometer-reading" placeholder="Current Odometer reading (Optional)"
              class="form-control" formControlName="odoReading" data-error="please enter positive number"
              data-success=" " mdbInputDirective>
          </div>
          <div class="form-group my-3">
            <h6 class="text-left mb-3">Plate :</h6>
            <input type="text" id="plate" placeholder="Plate number(Optional)" class="form-control"
              formControlName="plate">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
            (click)="frame.hide()" mdbWavesEffect>Close <i class="fa fa-close ml-1"></i></button>
          <button *ngIf="vehicleGroup.controls.vehicleId.value === null" type="submit" mdbBtn color="success"
            class="relative waves-light btn-md" mdbWavesEffect (click)="addVehicle();">Add Vehicle <i
              class="fa fa-plus ml-1"></i></button>
          <button *ngIf="vehicleGroup.controls.vehicleId.value !== null" type="submit" mdbBtn color="success"
            class="relative waves-light btn-md" mdbWavesEffect (click)="updateVehicle();">Save changes <i
              class="fa fa-save ml-1"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>