<div class="card">
  <div class="row p-3 pt-4">
    <div class="col-md-4">
      <button mdbBtn type="button" (click)="setSelectedIndex(0)" [ngClass]="{'active-button': selectedIndex === 0}"
        class="btn btn-block btn-color mt-2" routerLink="." outline="true" mdbWavesEffect><i
          class="fa fa-car icon-color mr-2"></i>ADD
        VEHICLES</button>
    </div>
    <div class="col-md-4">
      <button mdbBtn type="button" (click)="setSelectedIndex(1)" [ngClass]="{'active-button': selectedIndex ===1}"
        class="btn btn-block btn-color mt-2" routerLink="./trips" outline="true" mdbWavesEffect><i
          class="fa fa-globe icon-color mr-2"></i>
        TRIPS</button>
    </div>
    <div class="col-md-4">
      <button mdbBtn type="button" (click)="setSelectedIndex(2)" [ngClass]="{'active-button': selectedIndex === 2}"
        class="btn btn-block btn-color mt-2" routerLink="./tracker" outline="true" mdbWavesEffect><i
          class="fa fa-map-marker icon-color mr-2"></i>Add mileage manually</button>
    </div>
  </div>
  <div class="p-3">
    <router-outlet></router-outlet>
  </div>
</div>