.btn-color {border: 1px solid #c8c8c8 !important;color: #4a4a4a !important;
&:hover {border: 1px solid #fd9961 !important;background-color: #fd9961 !important; color: white !important;}}
.active-button {border: 1px solid #fd9961 !important;background-color: #fd9961 !important;color: white !important;}
