<div class="card p-3 animated fadeInRight">
  <div>
    <div class="card">
      <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-user icon-color mr-2"></i> PERSONAL
        INFORMATION</h4>
      <form [formGroup]="profileForm" class="p2p-form pt-3 px-4" novalidate>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstname">First Name <span class="p2p-required">*</span></label>
            <input type="text" id="firstname" class="form-control" formControlName="firstName"
              data-error="First name should not be empty!" data-success=" " mdbInputDirective>
          </div>
          <div class="form-group col-md-6 mt-1">
            <label for="lastname">Last Name </label>
            <input type="text" id="lastname" class="form-control" formControlName="lastName">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Username <span class="p2p-required">*</span></label>
            <input type="text" id="username" class="form-control" disabled="true" formControlName="userName" placeholder="Username"
              data-success=" " data-error="Username should not be empty!" mdbInputDirective>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email Address <span class="p2p-required">*</span></label>
            <input type="email" id="email" class="form-control" disabled="true" formControlName="emailAddress" placeholder="E-mail"
              data-success=" " data-error="Please enter valid email address!" mdbInputDirective>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="contactNumber">Phone Number </label>
            <input id="contactNumber" class="form-control" phoneMask [preValue]="profileForm.value.contactNumber"
              formControlName="contactNumber" maxlength="14"
              [ngClass]="(profileForm.controls['contactNumber'].invalid)? 'counter-danger' : ' '">
          </div>
        </div>
        <div class="form-row">
          <div class="col pr-0">
            <button (click)="savePersonalInformation()" mdbBtn color="success" class="mb-4 save-btn pull-right btn-md"
              type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card animated fadeInRight mt-3">
      <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-home icon-color mr-2"></i>ADDRESS</h4>
      <form [formGroup]="addressInfoForm" class="pt-3 px-4 ">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address">Address Line 1 <span class="p2p-required">*</span></label>
            <input formControlName="physicalAddress1" type="text" id="address" class="form-control"
              placeholder="Address 1" data-success=" " data-error="Address 1 field should not be empty!"
              mdbInputDirective>
          </div>
          <div class="form-group col-md-6 mt-1">
            <label for="address2">Address Line 2</label>
            <input formControlName="physicalAddress2" type="text" id="address2" class="form-control"
              placeholder="Address 2">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city">City <span class="p2p-required">*</span></label>
            <input formControlName="physicalAddressCity" type="text" id="city" class="form-control" placeholder="City"
              data-success=" " data-error="City field should not be empty!" mdbInputDirective>
          </div>
          <div class="form-group col-md-6">
            <label for="pincode">Zipcode <span class="p2p-required">*</span></label>
            <input formControlName="physicalAddressPinCode" type="number" id="pincode" class="form-control"
              placeholder="Pincode" data-success=" " data-error="Pincode field should not be empty!" mdbInputDirective>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="country">Country <span class="p2p-required">*</span></label>
            <select formControlName="physicalAddressCountry" id="country"
              class="browser-default custom-select form-control" (change)="selectCountry()" data-success=" "
              data-error="Please select your country!" mdbInputDirective>
              <option disabled>Please choose a country</option>
              <option *ngFor="let country of countries" value="{{country.countryName}}">{{country.countryName}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="state">State <span class="p2p-required">*</span></label>
            <select placeholder="Please choose a state" formControlName="physicalAddressState" id="state"
              class="browser-default custom-select form-control" data-success=" " data-error="Please select your state!"
              mdbInputDirective>
              <option disabled>Please choose a state</option>
              <option *ngFor="let state of states" value="{{state.stateName}}">{{state.stateName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col pr-0">
            <button (click)="savePhysicalAddress();" mdbBtn color="success" class="mb-4 pull-right btn-md save-btn"
              type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <hr class="pb-3" />
    <form [formGroup]="loginInfoForm" class="text-center">
      <div class="form-row mb-4">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">User Created</span>
            </div>
            <input formControlName="creationDate" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Last Updated</span>
            </div>
            <input formControlName="lastModifiedDate" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend text-success">
              <span class="input-group-text" id="inputGroup-sizing-default">Password Changed</span>
            </div>
            <input formControlName="lastPasswordChangeDate" type="text" class="form-control"
              aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Last Signed In</span>
            </div>
            <input formControlName="lastSignedInDate" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">User Status</span>
        </div>
        <input formControlName="userStatus" type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>
    </form>
  </div>
</div>