<div class="container card pb-5">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">From :</h6>
      <p-calendar [(ngModel)]="fromDate" [style]="{ width: '100%' }" [showIcon]="true" dateFormat="mm-dd-yy">
      </p-calendar>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">To :</h6>
      <p-calendar [(ngModel)]="toDate" [style]="{ width: '100%' }" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6 form-group">
      <button (click)="getDashboard()" type="button" class="smallBtn btn-md" mdbBtn color="success" mdbWavesEffect>
        Filter
      </button>
    </div>
  </div>
  <div class="mt-3">
    <div>
      <div class="card card-cascade narrower animated fadeInRight">
        <div
          class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
          <a href="" class="white-text mx-3 title-size">Grand Total</a>
        </div>
        <div class="p-4">
          <table class="table table-striped table-responsive-md table-bordered">
            <tr>
              <th class="text-center">INCOME</th>
              <th class="text-right text-success">
                <span>$</span> {{ income |number : '.2-2' }}
              </th>
              <th class="text-center">EXPENSE</th>
              <th class="text-right text-success">
                <span>$</span> {{ expense |number : '.2-2' }}
              </th>
            </tr>
            <tr>
              <th class="text-center">PROFIT & LOSS</th>
              <th [ngClass]="{
                  'text-success': class === 'profit',
                  'text-danger': class === 'loss'
                }" class="text-right">
                <span>$</span> {{ profit_loss |number : '.2-2'}}
              </th>
              <th class="text-center">BUDGET</th>
              <th [ngClass]="{
                  'legend red': legendColor === 'red',
                  'legend yellow': legendColor === 'yellow',
                  'legend green': legendColor === 'green'
                }" class="text-right">
                $ {{ budget |number : '.2-2'}}
              </th>
            </tr>
          </table>
          <ul class="legend">
            <li><span class="red mr-2"></span>Budget above 95%</li>
            <li><span class="yellow mr-2"></span>Budget between (85-95)%</li>
            <li><span class="green mr-2"></span>Budget below 85%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>