::ng-deep .tab-content {padding: 1rem;padding-top: 0rem;}
.card-1 {width: 98%;margin-left: 1%;}
.card-2 {width: 98%;margin-left: 1%;}
.card-header {background-color: transparent; color: #70ad48;margin-top: 0;padding-left: 2px;}
::ng-deep .input-group-text {background-color: #70ad48; color: white;}
.smallBtn {padding: 12px 24px;margin-top: 29px !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
.filter-border {border-bottom: 1px solid lightgrey;}
.table {border: 1px solid rgba(0, 0, 0, 0.15);}
#table {margin-top: 28px;}
.filter-alignment {margin-left: 2%;margin-bottom: -1%;}
.filter-alignment h6 {font-weight: 500;color: #70ad48;font-size: 1.2rem;}
.title-size {font-size: 1.25rem;}
.color-danger {color: red;}
th {width: 25%;}
.legendCircle {width: 15px;height: 15px;border-radius: 50%;float: left;margin: 0;}
.legend {list-style: none;margin-left: -42px;}
.legend li {float: left;margin-right: 20px;}
.legend span {border: 1px solid #ccc;float: left;width: 15px;height: 15px;margin: 2px;border-radius: 50%}
.legend .red {background-color: red;}
.legend .green {background-color: #70ad48;}
.legend .yellow {background-color: #FFA500;}
::ng-deep body .ui-inputtext {padding-top: 8px !important; border: 1px solid #ced4da;}
::ng-deep .modal-calander .ui-inputtext {width: 100%;}
::ng-deep .modal-calander .ui-calendar {width: 100%;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep body .ui-button.ui-button-icon-only .ui-button-text {margin-top: 1px !important;margin-bottom: -1px !important;padding: 0.575em !important;}
::ng-deep body .ui-inputtext:enabled:hover:not(.ui-state-error) {border-color: #ced4da;}
::ng-deep .filter-alignment .ui-inputtext {width: 85% !important;}
::ng-deep .ui-calendar {width: 100% !important;}
@media (max-width: 740px) {
.card-1 {width: 100%;margin-left: 0%;margin-top: -5%;}
table th {font-size: 12px !important;}
.card-2 {width: 100%;margin-left: 0%;padding-bottom: 0px;}
.smallBtn {padding: 9px 14px;margin-top: 5px !important;}
.filter-alignment {margin-left: 0%;}
}
