// @import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');
// .mfmAboutpage p { font-size: 20px;font-weight: 600;text-align: justify;}
// .ceo_image .responsiveImg { width: 100%;border: 4px solid #000;height: 280px !important;}
// .borderblack{border: 4px solid #000 !important;}
// .ceo_image .founde_name {font-family: 'Tangerine', cursive !important;font-size: 40px;text-align: center;margin: 0 auto;font-weight: 800;}
// .founde_name {font-family: 'Tangerine', cursive !important;font-size: 40px; text-align: center;margin: 0 auto;font-weight: 800 !important;}
// .ceo_image .founder { font-size: 14px;text-align: center; font-weight: 500;letter-spacing: 0.6px;}
// .about-founderHeading h2 { font-size: 26px;font-weight: 700; text-align: center;border: 2px solid #333;padding: 15px;}
// .about-founder p {font-size: 20px; font-weight: 400;margin-top: 1rem;text-align: justify;}
// .about-nile p {font-size: 16px;font-weight: 400;line-height: 1.8rem;text-align: center;}
// .about-founder p>span { color: #6fac48; font-weight: 600;}
// @media (max-width: 767px) {
// .ceo_image .responsiveImg {width: 100%;height: auto !important;}
// .about-founder {padding: 0 !important;} 
// }

