<!-- <section class="mt-5 animated fadeInUp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" (deferLoad)="image[0].show = true">
        <ng-container *ngIf="image[0].show">
          <div class="mfmAboutpageImage text-center">
            <img src="{{image[0].url}}" class="img-fluid" />
          </div>
        </ng-container>
      </div>
      <div class="col-md-9">
        <div class="mfmAboutpage px-3">
          <p>The P2P Money Flow Manager is an online management system which records, organizes and stores all of your
            business financial transactions and can also be used for personal transactions as well such as a budgeting.
            It was developed to simplify tracking your income and tax deductible business expenses, store receipts in
            the
            cloud to prevent from fading and also automatically track your deductible business miles.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 .offset-md-3"> </div>
      <div class="col-md-9">
        <div class="about-founderHeading mt-5 mb-4 px-2">
          <h2>Meet The Visionary and Flow Manager Management Team</h2>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="ceo_image" (deferLoad)="image[1].show = true">
          <ng-container *ngIf="image[1].show">
            <img src="{{image[1].url}}" class="img-fluid responsiveImg" />
          </ng-container>
          <h3 class="founde_name">Donna Campbell</h3>
          <p class="founder">Founder/CEO<br>
            P2P Connection, LLC
          </p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="about-founder px-4">
          <p>Donna Campbell is the Visionary behind the purpose and mission
            for P2P Connection and The Money Flow Manager and brings
            more than 25 years of experience in Business, Accounting and
            Marketing. A graduate of Dillard University, Mrs. Campbell
            manages and oversees all aspects of the day-to-day operations of
            the company. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="ceo_image" (deferLoad)="image[2].show = true">
          <ng-container *ngIf="image[2].show">
            <img src="{{image[2].url}}" class="img-fluid responsiveImg" />
          </ng-container>
          <h3 class="founde_name">Dwain Campbell</h3>
          <p class="founder">President<br>
            P2P Connection, LLC
          </p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="about-founder px-4">
          <p>Dwain Campbell is the President and also serves as the Spiritual
            Advisor and Chief Strategist for P2P Connection and he takes a
            leadership role in the establishment of performance indicators and
            monitoring performance against goals Mr. Campbell is a Military
            Veteran and has served in the field of Ministry for more than 40
            years. </p>
        </div>
      </div>
    </div>
    <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
      <div class="view view-cascade overlay waves-light borderblack" mdbWavesEffect (deferLoad)="image[3].show = true">
        <ng-container *ngIf="image[3].show">
          <mdb-card-img src="{{image[3].url}}"></mdb-card-img>
        </ng-container>
      </div>
      <mdb-card-body cascade="true" class="text-center">
        <mdb-card-title>
          <h3 class="founde_name">
            Nile Technologies Pvt. Ltd.
          </h3>
        </mdb-card-title>
        <mdb-card-text class="about-nile">
          <p> The team at Nile Technologies are the developers of the Mobile
            and Web App for the Money Flow Manager and provides ongoing
            support regarding functionality and use. Nile Technologies is
            Professionally Managed, Innovation Driven and Fast Growing with
            over 15+ years of experience.</p>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</section> -->

<section>
  <div class="se2c-1122HFDHH-156fM212 mat4555GtuTab5752 pb-5">
    <div class="container">
      <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight">What You will learn in the Academy
      </h2>
      <div class="row">
        <div class="col-lg-5 text-center text-lg-center">
          <img src="assets/images/fundraising001.png" alt="" class="img-fluid Entrepreneur z-depth-0 wow fadeInUp"
            data-wow-delay="0.6s">
        </div>
        <div class="col-lg-7">
          <div class="dashboard-section mt-4" data-wow-delay="0.6s">
            <div class="row pb-2">
              <div class="col-2 col-md-1">
                <i class="fa fa-check-circle icon-00245color"></i>
              </div>
              <div class="col-10">
                <h2 class="text-left">Figure Out Where You Stand</h2>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-2 col-md-1">
                <i class="fa fa-check-circle icon-00245color"></i>
              </div>
              <div class="col-10">
                <h2 class="text-left">Correct Your Personal Data</h2>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-2 col-md-1">
                <i class="fa fa-check-circle icon-00245color"></i>
              </div>
              <div class="col-10">
                <h2 class="text-left">Update Late Payments</h2>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-2 col-md-1">
                <i class="fa fa-check-circle icon-00245color"></i>
              </div>
              <div class="col-10">
                <h2 class="text-left">Build Your Credit File
                </h2>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-2 col-md-1">
                <i class="fa fa-check-circle icon-00245color"></i>
              </div>
              <div class="col-10">
                <h2 class="text-left">Remove Inquiries </h2>
              </div>
            </div>
          </div>
          <hr>
          <h2 class="card5565215BgTyn54-titl4425j">Remove Collections, Public Records such as Bankruptcies and Tax liens
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="se2c-1122HFDHH-156fM212 pb-5">
    <div class="container">
      <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow rollIn">Free Credit Repair and Funding</h2>
      <div class="row pt-2">
        <div class="mileagetracking-section">
          <div class="row pb-3">
            <div class="col-12">
              <div class="discription mt-0 mx-3 text-center wow slideInUp" data-wow-delay="0.2s">
                <p>Everyone who purchases the yearly subscription will have access to the Free Credit Repair Courses in
                  the Academy.</p>
                <p>To determine if you qualify for no up front fees Credit Repair and Funding, send an email to <a
                    href="">support@p2pmec.com</a>, state that you are interested and you will be contacted with the
                  details.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
