.App4756GHT41001StO41 {
    margin: 0 auto;
}

.App4756GHT41001StO41 .MEC000-012MhhDF {
    width: 100px;
}

.App4756GHT41001StO41 img {
    width: 200px;
    margin: 0 10px;
}

.App4756GHT41001StO41 .app-4fh444fk {
    height: 75px;
}