<section>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow rollIn">Installing and Setting Up The App </h2>
            <div class="row">
                <div class="App4756GHT41001StO41 text-center">
                    <img src="assets/images/app-store.png" class="img-fluid responsive-images  app-4fh444fk z-depth-0 wow slideInLeft" data-wow-delay="0.6s">
                    <img src="assets/images/LOGOPNG.png" class="img-fluid responsive-images z-depth-0 MEC000-012MhhDF wow SlideInDown" data-wow-delay="0.6s">
                    <img src="assets/images/google-store.png" class="img-fluid responsive-images z-depth-0 wow slideInRight" data-wow-delay="0.6s">
                </div>
            </div>
        </div>
    </div>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <mdb-card class="AGT458-se45ction-55YTRE wow slideInUp">
                <mdb-card-body>
                    <mdb-card-text>
                        <p> <strong class="pr-2">
                                1.
                            </strong> Once You select Register, Enter your Name, Email Address, Username and Password. Be sure to enter the 4 digit code of your referral.</p>
                    </mdb-card-text>
                    <mdb-card-text>
                        <p> <strong class="pr-2">
                                2.
                            </strong> You will be automatically logged into your account, select select App Ambassador if you intend to refer the app to others.</p>
                    </mdb-card-text>
                    <mdb-card-text>
                        <p><strong class="pr-2">
                                3.
                            </strong> Enter your card information, select agree to the terms and submit the payment.
                        </p>
                    </mdb-card-text>
                    <p class="text-success text-center mb-3">Your Account is now fully active and the App can be set up to start tracking miles automatically by simply adding your vehicle.</p>
                </mdb-card-body>
            </mdb-card>

            <mdb-card class="mt-4">
                <mdb-card-body>
                    <mdb-card-text>
                        <p> <strong class="pr-2">
                                1.
                            </strong> Once you log into the app, click + to create an account, name your account, select business and hit save</p>
                    </mdb-card-text>
                    <mdb-card-text>
                        <p> <strong class="pr-2">
                                2.
                            </strong> Click view to access the dashboard </p>
                    </mdb-card-text>
                    <mdb-card-text>
                        <p><strong class="pr-2">
                                3.
                            </strong> Go to P2P mileage tracker and click "Add Vehicle"
                        </p>
                    </mdb-card-text>
                    <mdb-card-text>
                        <p><strong class="pr-2">
                                4.
                            </strong>Select the blue edit button to update the vehicle that is currently Installed and change it to your current Year, Make and Model.
                        </p>
                    </mdb-card-text>
                    <mdb-card-text>
                        <p><strong class="pr-2">
                                5.
                            </strong>Hit save and close the App. The tracker will automatically start once you reach 5 MPH.
                        </p>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</section>