<section>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight">Cancelling My Subscription</h2>
            <mdb-card cascade="true" wider="true" reverse="true" class="my-4 wow slideInDown">
                <mdb-card-body cascade="true" class="text-center">
                    <mdb-card-title>
                        <h2 class="can24Ycel54TY-BCXDDF">
                            There are 2 ways to cancel your subscription
                        </h2>
                    </mdb-card-title>
                    <mdb-card-text>
                        <p> <span class="pr-2">
                           <i class="fa fa-check-circle icon-00245color"></i>
                            </span><strong>Option #1 -</strong> Log into your account at www.p2pmec.com and click on the profile link and your account will be automatically cancelled.
                        </p>
                        <p> <span class="pr-2">
                           <i class="fa fa-check-circle icon-00245color"></i>
                            </span><strong>Option #2 -</strong> Simply send an email to support@p2pmec.com and state that you wish to cancel your account. It will be cancelled within 48 hours. </p>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</section>