@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

.navbar-nav .nav-item .nav-link {
  color: #fff;
  transition: .35s;
  padding: 8px 30px;
  font-size: 15px;
  font-weight: 500;
}

.logo.navbar-brand.waves-light img {
  width: 150px;
}
.carousel-item{
  transition:transform 3s ease-in-out !important;
}
button {
  min-width: 200px;
}

.readButton {
  background: #d35400;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  padding: 12px 20px;
}

.registerButton {
  background: #70ad48;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  padding: 12px 20px;
}

.se2c-1122HFDHH-156fM212 .aca55demyjf65985 {
  margin: 0 auto;
}

.se2c-1122HFDHH-156fM212 .aca55demyjf65985 img {
  position: relative;
  bottom: 14em;
}

.se2c-1122HFDHH-156fM212 .responsive-images {
  position: relative;
  bottom: 3em;
}

.slider-banner-overlay {
  width: 300px;
  position: absolute;
  left: -8em;
  bottom: 10em;
}

.se2c-1122HFDHH-156fM212 .discription {
  padding: 2em 0 2em 0;
}

// .slogan{
//   bottom: 0;
//   background: rgb(0, 0, 0); /* Fallback color */
//   background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
//   color: #f1f1f1;
//   width: 100%;
//   padding: 20px;
// }
.mileagetracking-section h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

// .dashboard-image img {
//     height: 500px;
//     width: 400px;
// }
.list-group-item.active-header>img {
  width: 50px;
}

.list-group-item {
  color: #000;
  font-size: 15px;
  padding: 0.5rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.list-group-item.active-header {
  background: #70ad48;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

// -----------------------------------------------------
//             Internal-CSS-For-Responsive
// -----------------------------------------------------
.Slider-CBGF548-TopWb-YTVB {
  font-size: 60px;
  margin-bottom: 15px;
  letter-spacing: 0.04em;
  font-family: 'Roboto Slab', serif;
}

.Slider-CBGF548-BottomWb-YTVB {
  line-height: 30px;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #B0B1B1 !important;
  font-family: 'Roboto Slab', serif;
}

@media (max-width: 600px) {
  .Slider-CBGF548-TopWb-YTVB {
    font-size: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
  }

  .Slider-CBGF548-BottomWb-YTVB {
    font-size: 14px;
    margin-bottom: 35px;
  }
}









@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-nav .nav-item .nav-link {
    padding: 10px;
  }
}
