<mdb-carousel [animation]="'fade'"  [interval]="'3000'" #carousel [noPause]="'true'">
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}'
                src="assets/images/SIMPLIFY YOUR LIFE.jpg" alt="Flyer slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2 class="h1 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase Slider-CBGF548-TopWb-YTVB"
                                    data-wow-delay="0.3s"><strong>SIMPLIFY YOUR LIFE</strong></h2>
                                <p class="font-up mb-5 white-text wow fadeInDown animated slideInLeft slogan Slider-CBGF548-BottomWb-YTVB"
                                    data-wow-delay="0.4s">The MEC Saves Time and Money</p>
                                <!-- <hr class="hr-light mb-5 wow fadeInDown" data-wow-delay="0.4s"> -->
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100" href="#section1"
                                    mdbWavesEffect>Read
                                    More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}'
                src="assets/images/WORK FROM HOME.jpg" alt="Second slide">
            <div class="mask  waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2 class="h1 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase Slider-CBGF548-TopWb-YTVB"
                                    data-wow-delay="0.3s"><strong>START A HOME BUSINESS </strong></h2>
                                <p class="font-up white-text mb-5 wow fadeInDown animated slideInLeft slogan  Slider-CBGF548-BottomWb-YTVB"
                                    data-wow-delay="0.4s"> Hire Your Kids</p>
                                <!-- <hr class="hr-light mb-5 wow fadeInDown" data-wow-delay="0.4s"> -->
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100" href="#section2"
                                    mdbWavesEffect>Read
                                    More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.02}'
                src="assets/images/Financial Literacy.jpg" alt="Third slide">
            <div class="mask  waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2 class="h1 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase Slider-CBGF548-TopWb-YTVB"
                                    data-wow-delay="0.3s"><strong>FINANCIAL LITERACY </strong></h2>
                                <p class="font-up mb-5 white-text wow fadeInDown animated slideInLeft slogan  Slider-CBGF548-BottomWb-YTVB"
                                    data-wow-delay="0.4s">
                                    Keep More Of Your Hard Earned Money</p>
                                <!-- <hr class="hr-light mb-5 wow fadeInDown" data-wow-delay="0.4s"> -->
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100"
                                    [routerLink]="['/the-academy']" mdbWavesEffect>Read
                                    More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}'
                src="assets/images/Car Image.jpg" alt="Flyer slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2 class="h1 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase Slider-CBGF548-TopWb-YTVB"
                                    data-wow-delay="0.3s"><strong>MILEAGE EXPENSE CONNECTOR</strong></h2>
                                <p class="font-up mb-5 white-text wow fadeInDown animated slideInLeft slogan Slider-CBGF548-BottomWb-YTVB"
                                    data-wow-delay="0.4s">Take Every Deduction You’re Allowed</p>
                                <!-- <hr class="hr-light mb-5 wow fadeInDown" data-wow-delay="0.4s"> -->
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100" href="#section4"
                                    mdbWavesEffect>Read
                                    More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item>




    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}' src="assets/images/Flyer.jpg"
                alt="Flyer slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item> -->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}' src="assets/images/Picture6.jpg"
                alt="Second slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2 class="h1 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase"
                                    data-wow-delay="0.3s"><strong>Financial Literacy Instant Impact
                                    </strong></h2>
                                <h2 class="h1 mb-5 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase"
                                    data-wow-delay="0.3s"><strong>The Gateway to keeping More of your hard earned
                                        income
                                    </strong></h2>
                                <h2 class="h1 h1-reponsive  mb-5 font-up white-text wow fadeInDown animated slideInLeft slogan"
                                    data-wow-delay="0.4s">
                                    <strong>Take a small portion of what you are able to keep And learn how to GROW
                                        your money</strong></h2>
                                <hr class="hr-light mb-5 wow fadeInDown" data-wow-delay="0.4s">
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100" href="#section4"
                                    mdbWavesEffect>Read More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item> -->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.02}' src="assets/images/car-Image.jpg"
                alt="Third slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                                <img src="assets/images/LOGOPNG.png"
                                    class="img-fluid slider-banner-overlay z-depth-0 wow bounceInUp"
                                    data-wow-delay="0.6s">
                                <h2 class="h1 mb-5 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase"
                                    data-wow-delay="0.3s"><strong>If You’re not tracking miles
                                    </strong></h2>
                                <h2 class="h1 mb-5 h1-reponsive font-up white-text wow fadeInDown animated slideInLeft slogan text-uppercase"
                                    data-wow-delay="0.4s">
                                    <strong>You’re throwing money away!</strong></h2>
                                <hr class="hr-light mb-5 wow fadeInDown" data-wow-delay="0.4s">
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100" href="#section2"
                                    mdbWavesEffect>Read
                                    More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item> -->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}' src="assets/images/NewImage.png"
                alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">

                                <h2 class="h1 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase"
                                    data-wow-delay="0.3s"><strong>Expense and Mileage Tracking</strong></h2>
                                <h2 class=" h1 mb-5 h1-reponsive font-up white-text wow fadeInDown font-bold animated slideInLeft text-uppercase"
                                    data-wow-delay="0.4s">
                                    <strong>All In One
                                        Place</strong></h2>
                                <h2 class="h1 mb-5 h1-reponsive  font-up white-text slogan font-bold wow fadeInDown animated slideInLeft text-uppercase"
                                    data-wow-delay="0.4s">
                                    <strong>Put more money back into your home</strong></h2>
                                <hr class="mb-5 hr-light wow fadeInDown" data-wow-delay="0.4s">
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100" href="#section1"
                                    mdbWavesEffect>Read More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item> -->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}' src="assets/images/background.jpg"
                alt="Fourth slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2 class="h1 mb-5 h1-reponsive white-text font-up font-bold wow fadeInDown p-0 animated rotateInDownRight text-uppercase"
                                    data-wow-delay="0.3s"><strong>Simplify your life and keep more of what you’re
                                        already earning
                                    </strong></h2>
                                <h2 class="h1 mb-5  h1-reponsive font-up font-bold white-text wow slogan fadeInDown animated slideInLeft text-uppercase"
                                    data-wow-delay="0.4s">
                                    <strong>Spend 5 minutes per day for a Lifetime of savings
                                    </strong></h2>
                                <hr class="hr-light mb-5 wow fadeInDown" data-wow-delay="0.4s">
                                <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                    rounded="true" mdbPageScroll [pageScrollOffset]="100" href="#section3"
                                    mdbWavesEffect>Read More</button>
                                <button mdbBtn type="button" [routerLink]="['/signup']"
                                    class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                    mdbWavesEffect>Register
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item> -->
</mdb-carousel>

<section>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow rollIn">Expense and Mileage Tracking All In One
                Place
            </h2>
            <div class="row pt-2">
                <div class="col-lg-5 text-center text-lg-left">
                    <img src="assets/images/Expenses.jpg" alt="" class="img-fluid z-depth-0 wow fadeInUp"
                        data-wow-delay="0.6s">
                </div>
                <div class="col-lg-7">
                    <div class="mileagetracking-section">
                        <div class="row pb-3">
                            <div class="col-12">
                                <div class="discription mt-0 wow slideInRight" data-wow-delay="0.2s">
                                    <p>The P2P MEC focuses on IRS compliance.</p>
                                    <p>Once an expense is entered, it is automatically recorded in the Profit and Loss
                                        report and categorized according to the expense type.
                                    </p>
                                    <p>Simply print a P&L report weekly, monthly, quarterly or yearly to determine your
                                        ongoing expenses which also allows for budgeting
                                    </p>
                                </div>
                                <div class="text-center">
                                    <button mdbBtn type="button" data-toggle="modal" data-target="#basicExample"
                                        (click)="frame.show()" class="readButton wow slideInLeft" data-wow-delay="0.6s"
                                        rounded="true" mdbWavesEffect>Watch Video</button>
                                    <button mdbBtn type="button" [routerLink]="['/signup']"
                                        class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                        mdbWavesEffect>Register
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight" data-wow-delay="0.6s">User Friendly
                Dashboard
            </h2>
            <div class="row pt-2">
                <div class="col-lg-7">
                    <div class="dashboard-section mt-3 wow slideInLeft" data-wow-delay="0.6s">
                        <div class="row pb-3 px-3">
                            <h2 class="text-left"> <span class="pr-2">

                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span> Enter Income</h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left"> <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Enter Expenses</h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Create a Budget</h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Set up recurring entries to avoid repeat entries</h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Take pictures of receipts to be stored in the cloud</h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Special Reports</h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>
                                <strong>Special Tools -</strong> Calculator, Contact Manager and Calendar
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-center text-lg-right dashboard-image">
                    <img src="assets/images/dashboard.png" alt="" class="img-fluid z-depth-0 wow bounceInUp"
                        data-wow-delay="0.6s">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section2">
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInDown" data-wow-delay="0.6s">Work From Home
            </h2>
            <div class="row pt-2">
                <div class="col-lg-5 mt-5 text-center">
                    <img src="assets/images/Home Based Business.jpg"
                        class="img-fluid responsive-images z-depth-0 wow rotateInDownRight" data-wow-delay="0.6s">
                </div>
                <div class="col-lg-7">
                    <div class="mileagetracking-section mt-3">
                        <div class="row px-5">
                            <h2 class="text-left wow rotateInDownLeft" data-wow-delay="0.4s">Tax write-offs
                            </h2>
                            <div class="discription mb-0">
                                <p class="wow rotateIn">There are hundreds of business tax write-off options for those
                                    who work from home. For instance, you can write off a portion of your mortgage/rent,
                                    your internet/cable bill, and even your utility bills, as long as these areas and
                                    utilities are used for your business. This can help you earn a higher refund on your
                                    taxes or break even.
                                </p>
                            </div>
                        </div>
                        <div class="row pb-3 px-5">
                            <h2 class="text-left wow rotateInDownLeft" data-wow-delay="0.4s">Comfort
                            </h2>
                            <div class="discription mt-0">
                                <p class="wow rotateIn">Working from home is becoming more and more popular. If you want
                                    to reap the benefits of starting a home-based business, get started as an App
                                    Ambassador with P2P Connection and you are on your way to not only being able to
                                    assist Families in strengthening their finances but you will be able to put
                                    thousands.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Watch
                            Video</button> -->
                        <button mdbBtn type="button" [routerLink]="['/signup']" class="registerButton wow slideInRight"
                            data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Register
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInDown" data-wow-delay="0.6s">IF YOU’RE NOT
                TRACKING MILES YOU’RE LEAVING MONEY ON THE ROAD!
            </h2>
            <div class="row pt-2">
                <div class="col-lg-5 text-center text-lg-right">
                    <img src="assets/images/LOGOPNG.png"
                        class="img-fluid responsive-images z-depth-0 wow rotateInDownRight" data-wow-delay="0.6s">
                </div>
                <div class="col-lg-7">
                    <div class="mileagetracking-section mt-5">
                        <div class="row pb-3 px-5">
                            <h2 class="text-left wow rotateInDownLeft" data-wow-delay="0.4s">What is Mileage Tracking?
                            </h2>
                            <div class="discription mt-0">
                                <p class="wow rotateIn">It refers to keeping a milege log of the miles driven for the
                                    purpose of receiving a tax deduction. You can claim 57.5 cent per mile for business
                                    miles driven.
                                </p>
                                <p class="wow slideInRight" data-wow-delay="0.6s">The P2P MEC has all types of users,
                                    such as contractors, home health agents, realtors, direct sales distributors and a
                                    multi-faceted list of home based business owners.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Watch
                            Video</button> -->
                        <button mdbBtn type="button" [routerLink]="['/signup']" class="registerButton wow slideInRight"
                            data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Register
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="se2c-1122HFDHH-156fM212 pb-5" id="section4">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInLeft" data-wow-delay="0.6s">Benefits of
                Using A Mileage Tracking App
            </h2>
            <div class="row pt-2">
                <div class="col-lg-7">
                    <div class="dashboard-section mt-5 pb-5 wow slideInLeft" data-wow-delay="0.6s">
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>
                                <strong>Save Money -</strong> No need to hire a professional to document your mileage.
                                You can now focus on the drive.
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>
                                <strong>Save Time -</strong> The days of keeping a manual mileage log are over. Now
                                there is no need to waste time manually recording, the automatic Mileage tracker does
                                all the work
                            </h2>
                        </div>
                        <div class="row pb-3 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>
                                <strong>Stay IRS Compliant and Organized -</strong>Tax reports are now a breeze, simply
                                print a mileage report and all of you business trips are recorded by date, time and
                                reimbursement amount which means that you can have detailed and accurate data ready when
                                tax season comes.
                            </h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Watch
                            Video</button> -->
                        <button mdbBtn type="button" [routerLink]="['/signup']" class="registerButton wow slideInRight"
                            data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Register
                            Now</button>
                    </div>
                </div>
                <div class="col-lg-5 text-center text-lg-right">
                    <img src="assets/images/Picture4.png" class="img-fluid Picture4 z-depth-0 wow slideInUp"
                        data-wow-delay="0.6s">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section1">
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow rollIn">Spend 5 minutes per day for a Lifetime of
                savings </h2>
            <div class="dashboard-section wow slideInLeft" data-wow-delay="0.6s">
                <div class="row pt-2">
                    <div class="col-lg-5 text-center text-lg-left">
                        <img src="assets/images/Picture5.png" alt="" class="img-fluid z-depth-0 wow fadeInUp"
                            data-wow-delay="0.6s">
                    </div>
                    <div class="col-lg-7 mt-3">
                        <div class="mileagetracking-section pb-4" data-wow-delay="0.2s">
                            <h2>P2P MEC focuses on IRS compliance by producing an Audit Protected Report that includes
                            </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span> Profit and loss statement</h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Detailed Mileage Tracking Log</h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span> Receipt copies</h2>
                        </div>
                        <div class="text-center mt-5">
                            <!-- <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Watch
                                Video</button> -->
                            <button mdbBtn type="button" [routerLink]="['/signup']"
                                class="registerButton wow slideInRight" data-wow-delay="0.6s" rounded="true"
                                mdbWavesEffect>Register
                                Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section3">
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight">Entrepreneurs Academy The Gateway To
                Financial Literacy
            </h2>
            <div class="row pt-2">
                <div class="col-lg-5 text-center text-lg-left">
                    <img src="assets/images/Entrepreneur.png" alt=""
                        class="img-fluid Entrepreneur z-depth-0 wow fadeInUp" data-wow-delay="0.6s">
                </div>
                <div class="col-lg-7">
                    <div class="mileagetracking-section">
                        <div class="row pb-3">
                            <div class="col-12">
                                <div class="discription mt-0 wow slideInRight" data-wow-delay="0.2s">
                                    <p>P2P Entrepreneur Academy was designed to bridge the gap between the successful
                                        Entrepreneurs and those aspiring to become one. If You ever imagined
                                        experiencing the type of success that many people dream about, the
                                        Academy is available to at no extra cost for everyone who pays the yearly
                                        subscription
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Watch
                            Video</button> -->
                        <button mdbBtn type="button" [routerLink]="['/signup']" class="registerButton wow slideInRight"
                            data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Register
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="se2c-1122HFDHH-156fM212 pb-5">
        <div class="container">
            <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInRight">What You will learn in the Academy
            </h2>
            <div class="row pt-2">
                <div class="col-lg-7">
                    <div class="dashboard-section pb-5 mt-5">
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Financial Literacy 101 </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Business Literacy Education </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>The Game of Money, How to Make it, Manage It and Multiply It
                            </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Make Money Working From Home </h2>
                        </div>
                        <div class="row pb-2 px-3">
                            <h2 class="text-left">
                                <span class="pr-2">
                                    <i class="fa fa-check-circle icon-00245color"></i>
                                </span>Do It Yourself Credit Repair</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <button mdbBtn type="button" class="readButton wow slideInLeft" data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Watch
                            Video</button> -->
                        <button mdbBtn type="button" [routerLink]="['/signup']" class="registerButton wow slideInRight"
                            data-wow-delay="0.6s" rounded="true" mdbWavesEffect>Register
                            Now</button>
                    </div>
                </div>
                <div class="col-lg-5 text-center text-lg-left">
                    <img src="assets/images/Entrepreneur.png" alt=""
                        class="img-fluid Entrepreneur z-depth-0 wow fadeInUp" data-wow-delay="0.6s">
                </div>
            </div>
        </div>
    </div>
</section>
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item"
                        src="https://player.vimeo.com/video/398283782?title=0&byline=0&portrait=0"
                        allowfullscreen></iframe>
                </div>

            </div>


        </div>
        <!--/.Content-->

    </div>
</div>

<app-footer></app-footer>
