<div class="container-fluid p-1 animated fadeInRight">
  <div style="margin:10px">
  <div class="card  mb-3 card-cascade narrower animated fadeInRight">
    <div
      class="view view-cascade custom-gradient gradient-card-header narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Plans List</a>
      <div class="butttons">
        <div mdbTooltip="Add New Plan" placement="left">
          <button type="button" (click)="frame.show()" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div mdbTooltip="Download " placement="left" customHeight="50">
          <button type="button" (click)="dt5.exportCSV();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-download"></i>
          </button>
        </div>
        <div mdbTooltip="Refresh" placement="left" customHeight="50">
          <button type="button" (click)="getPlans();" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </div>
    </div>
    <p-table [tableStyle]="{ 'table-layout': 'auto' }" [resizableColumns]="false" columnResizeMode="expand" class="p-4"
      #dt5 [columns]="tableColumns" [value]="plansList" [paginator]="true" [rows]="10" [responsive]="true"
      exportFilename="plansList Report">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt5.filterGlobal($event.target.value, 'contains')" style="width:30%" />
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td>{{rowData.planName}}</td>
          <td>{{rowData.planType}}</td>
          <td>{{rowData.planAmount | currency}}</td>
          <td>{{rowData.planInterval}}</td>
          <td>{{rowData.activeStatus}}</td>
          <td><button mdbTooltip="Edit" placement="top" type="button" mdbBtn floating="true" size="sm"
              class="my-0 p2p-sm-btn" gradient="blue" (click)="setPlanDetails(rowData); frame.show()">
              <i class="fa fa-pencil"></i>
            </button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
</div>
<div mdbModal style="overflow-y : visible" #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  (closed)="managePlansGroup.reset(); managePlansGroup.markAsUntouched()">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant">
      <form [formGroup]="managePlansGroup">
        <div class="modal-header">
          <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 *ngIf="managePlansGroup.controls.planId.value === null" class="modal-title w-100 text-white">
            <i class="fa fa-plus icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Add new Plan
          </h4>
          <h4 *ngIf="managePlansGroup.controls.planId.value !== null" class="modal-title w-100 text-white">
            <i class="fa fa-pencil icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Update Plan
          </h4>
        </div>
        <div class="modal-body mx-2">
          <div *ngIf="!managePlansGroup.controls.planId.value">
            <div class="form-group mb-3">
              <h6 class="text-left">
                Name : <span class="requiredField">*</span>
              </h6>
              <input type="text" id="name" class="form-control" placeholder="Enter plan name" formControlName="planName"
                data-error="Field is required" data-success=" " mdbInputDirective />
            </div>
            <div class="form-group my-3">
              <h6 class="text-left">
                Amount : <span class="requiredField">*</span>
              </h6>
              <input type="text" id="amount" class="form-control" placeholder="Enter plan amount"
                formControlName="planAmount" data-error="Field is required" data-success=" " mdbInputDirective />
            </div>

            <div class="form-group mb-2">
              <h6 class="text-left">
                Plan Type : <span class="requiredField">*</span>
              </h6>
              <p-dropdown [showClear]="true" [style]="{ width: '100%' }" placeholder="Select plan type"
                [options]="planTypes" formControlName="planType" data-error="Field is required" data-success=" "
                mdbInputDirective></p-dropdown>
            </div>
            <div class="form-group mb-2">
              <h6 class="text-left">
                Plan Interval : <span class="requiredField">*</span>
              </h6>
              <p-dropdown [showClear]="true" [style]="{ width: '100%' }" placeholder="Select Interval"
                [options]="planInterval" formControlName="planInterval" data-error="Field is required" data-success=" "
                mdbInputDirective></p-dropdown>
            </div>
            <div class="form-group mb-2 mt-3">
              <h6 class="text-left mb-3">
                Plan Description :
              </h6>
              <textarea class="md-textarea form-control " rows="3" id="input_text" type="text" length="120"
                formControlName="planDescription" data-error=" " data-success=" " mdbCharCounter
                mdbInputDirective></textarea>
            </div>
          </div>
          <div *ngIf="managePlansGroup.controls.planId.value" class="form-group mb-2">
            <h6 class="text-left plan-warning">
              Deactivated plans will not be applicable to new users and existing users will not be affected.
            </h6>
            <h6 class="text-left">
              Plan Status : <span class="requiredField">*</span>
            </h6>
            <p-dropdown [showClear]="true" [style]="{ width: '100%' }" placeholder="Select Status"
              [options]="planStatus" formControlName="activeStatus" data-error="Field is required" data-success=" "
              mdbInputDirective></p-dropdown>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
            (click)="frame.hide()" mdbWavesEffect>
            Close <i class="fa fa-close ml-1"></i>
          </button>
          <button *ngIf="managePlansGroup.controls.planId.value === null" type="submit" mdbBtn color="success"
            class="relative waves-light btn-md" mdbWavesEffect (click)="addPlan()">
            Add Plan <i class="fa fa-plus ml-1"></i>
          </button>
          <button *ngIf="managePlansGroup.controls.planId.value !== null" type="submit" mdbBtn color="success"
            class="relative waves-light btn-md" mdbWavesEffect (click)="updatePlan()">
            Save changes <i class="fa fa-save ml-1"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete this Plan?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class=" btn-md waves-effect peach-gradient text-white btn-min-width" mdbWavesEffect
          (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" (click)="deletePlan()"
          mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>