.title-size {font-size: 1.25rem;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
.plan-warning {border: 1px solid #fab86d;padding: 8px;color: red !important;background: #fcd16f; font-weight: 400;}
    
    
    
    
   
