footer.page-footer {
    background: #272938 !important;
}

.footer-band img {
    width: 120px;
}

footer p {
    font-size: 15px;
    color: #abb9ca;
}

footer li a {
    font-size: 15px;
    color: #abb9ca;
    display: flex;
    line-height: 2em;
}

footer li a:hover {
    color: #dce1e4;
}

.footer-title-link {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #dce1e4;
    // border-bottom: 1px solid #abb9ca;
    text-transform: capitalize;
}

.footer-title-link:after {
    content: '';
    border-bottom: 1px solid #abb9ca;
    width: 35%;
    padding-top: 15px;
    display: block;
}

.list-unstyled .list-inline-item a:hover {
    transition: 0.70s;
    transform: rotate(360deg);
}