<footer class="page-footer font-small unique-color-dark pt-4 wow slideInUp">
    <div class="scrollOnTop">
        <a mdbBtn floating="true" href="#top" size="md" class="rgba-white-slight mx-1" mdbPageScroll>
            <i class="fa fa-angle-up animated pulse infinite"></i>
        </a>
    </div>
    <div class="container-fluid px-5 mx-5">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <a class="logo footer-band waves-light mb-2" mdbWavesEffect [routerLink]="['']">
                    <img src="assets/images/LOGOPNG.png" />
                </a>
                <p>The P2P MEC app, for iOS and Android devices, helps business owners and contract
                    workers take better care of their business finances, thereby improving their bottom line.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="footer-title-link mt-3">Information</h5>
                <ul class="list-unstyled">
                    <li>
                        <a [routerLink]="['']"> <i class="fa fa-angle-right footer-icon"></i> Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/help-center']"> <i class="fa fa-angle-right footer-icon"></i>Help</a>
                    </li>
                    <!-- <li>
                        <a > <i class="fa fa-angle-right footer-icon"></i>About Us</a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/help-center/app-features']"> <i
                                class="fa fa-angle-right footer-icon"></i>Features</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="footer-title-link  mt-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a [routerLink]="['/login']">
                            <i class="fa fa-angle-right footer-icon"></i>
                            Log In
                        </a>
                    </li>
                    <!-- <li>
                        <a>
                            <i class="fa fa-angle-right footer-icon"></i>
                            Our Services
                        </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/help-center']">
                            <i class="fa fa-angle-right footer-icon"></i>
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="https://moneyflowapp.com/assets/static/terms-and-condition.html" class="terms"
                            target="_blank">
                            <i class="fa fa-angle-right footer-icon"></i>
                            Term Of Use
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="footer-title-link mt-3">Contact P2P</h5>
                <ul class="list-unstyled">
                    <li>
                        <a>
                            <i class="fa fa-location-arrow footer-icon"></i>
                            2580 W. Camp Wisdom Rd, Ste 218 Grand Prairie, TX 75052
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-phone footer-icon"></i>
                            972-637-7766
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-envelope footer-icon mt-2"></i>
                            support@p2pmec.com
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <ul class="list-unstyled list-inline text-center py-2">
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a rel="nofollow" href="https://www.facebook.com/P2PConnectionLLC/?modal=admin_todo_tour"
                            target="_blank" mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1"
                            mdbWavesEffect>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a mdbBtn floating="true" href="https://twitter.com/p2pmec" target="_blank" size="sm"
                            class="rgba-white-slight mx-1" mdbWavesEffect>
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/p2pconnection" target="_blank" mdbBtn floating="true" size="sm"
                            class="rgba-white-slight mx-1" mdbWavesEffect>
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> P2P Connection, LLC</a>
    </div>
</footer>
<!-- Footer -->
