// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body{ font-family: 'Roboto', sans-serif !important;-webkit-font-smoothing: antialiased;font-weight: normal;letter-spacing: 0.02em;font-size: 14px !important;overflow-x: hidden;-webkit-overflow-scrolling: touch;color: #495057;background-color: #F6F6F6;}
#cke_531_select{display: none;}
.ck-editor__editable.ck-rounded-corners, .ck-rounded-corners .ck-editor__editable {display: none;}
.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners, .ck-rounded-corners .ck-editor__top .ck-sticky-panel .ck-toolbar {display: none;}
html {overflow-x: hidden; }
.p2p-green-color {background-color: #396430;}
.navbar.navbar-dark .navbar-toggler{ background: #70ad48; padding: 0.25rem 0.5rem; font-size: 1rem;}
.md-form input[type=text]:focus:not([readonly]) + label, .md-form input[type=password]:focus:not([readonly]) + label, .md-form input[type=email]:focus:not([readonly]) + label, .md-form input[type=url]:focus:not([readonly]) + label, .md-form input[type=time]:focus:not([readonly]) + label, .md-form input[type=date]:focus:not([readonly]) + label, .md-form input[type=datetime-local]:focus:not([readonly]) + label, .md-form input[type=tel]:focus:not([readonly]) + label, .md-form input[type=number]:focus:not([readonly]) + label, .md-form input[type=search-md]:focus:not([readonly]) + label, .md-form input[type=search]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label{color:#70ad48;}
.md-form input[type=text]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){box-shadow: 0 1px 0 0 #70ad48;border-bottom: 1px solid #70ad48;}
.md-pills .nav-link{ text-align: left;}
.p2p-content p{ font-size: 16px;}
.btn-width {min-width: 168px !important;}
.form-group .inputVal, .form-row .inputVal { position: initial; float: right;}
.form-row.sighup .inputVal {float: right;position: absolute;}
.form-row .search_group .inputVal {float: right !important;position: absolute; font-weight: 600;margin-top: 3px;  color: #fff !important;}
.p2p-sm-btn{ border: 0;}
.p2p-form .form-group{ margin-bottom: 0;}
.p2p-card-heading{ font-weight: 500; line-height: 1.5em;}
.p2p-required{ color: #FF3547;margin-left: 3px;}
.card-header{ background-color: rgba(0, 0, 0, 0.08); }
.custom-green-gradient { background: #70ad48 !important;}
.table thead th{ font-size: 16px; font-weight: 500;}
.modal-open .p2p-lg-modal{ overflow-y: auto;}
.requiredField {color: red;vertical-align: middle;}
.error-message {position: static !important;text-align: right !important;}
.modal-header {background: #70ad48  !important;}
.text-success  {color: #70ad48 !important;}
// ::-webkit-scrollbar {width: 10px;height: 10px;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
// ::-webkit-scrollbar-track {background: #f1f1f1;}
// ::-webkit-scrollbar-thumb {background: #70ad48; }
// ::-webkit-scrollbar-thumb:hover {background: #065f22;}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {background-color: #fb6a18 !important;color: #ffffff;}
.custom-gradient {background:  #70ad48 !important;}
.butttons{display: inline-flex;}
.carousel-inner {max-height: 800px;
img {max-height: 800px;}
}
.carousel-indicators {bottom:50px;}
//.carousel-inner{max-height:755px;}


:-ms-input-placeholder {
    color: #495057;
}
.btn:focus {
    box-shadow: none;
}
.h-100Vue0024 .ng-overlay .ng-gallery-content img {
  width: 100%;
  height: 100% !important;
}
.h-1216637XA001 .ng-overlay .ng-gallery-content img {
  width: 800px !important;
  height: 800px !important;
}
nav.navbar.navbar-expand-lg.dashboard-expanded {
    background: #F6F5F6 !important;
}
// ---------------------------------------------------------------------------------------------------------
//                     New integration componenet Css
// ---------------------------------------------------------------------------------------------------------
.top-nav-collapse {
    background-color: #ffffff;
}

.top-nav-collapse .navbar-nav .nav-item .nav-link {
    color: #000 !important;
}
.custom .navbar:not(.top-nav-collapse) {
    background: transparent !important;
    box-shadow: none;
    padding-right: 5rem;
}

.custom .navbar:not(.top-nav-collapse) .nav-item .nav-link {
    color: #fff !important;
    
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
    padding-top: 0 !important;
    padding-bottom: 0;
    background: #ffffff !important;
    padding-right: 5rem;
}

// .navbar:not(.top-nav-collapse) .nav-item .nav-link {
//     color: #000 !important;
// }



h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
    margin: 0 auto;
}
.scrollOnTop a {
    background: #ffffff;
    position: absolute;
    right: 20px !important;
}

.scrollOnTop a i {
    color: #000;
    font-weight: 800;
}

.se2c-1122HFDHH-156fM212 {
    //background: #fff;
}

.se2c-1122HFDHH-156fM212 .se2c-title554Htnd545d {
    font-size: 32px;
    color: #000;
    font-weight: 700;
}
.se2c-1122HFDHH-156fM212 .se2c-title554Htnd545d:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 20px;
    border-bottom: 2px solid #d35400;
}
.se2c-1122HFDHH-156fM212 p {
    color: #000;
    font-size: 15px;
}

.cent415er45HG5 {
    margin: 0 auto;
}

.card5565215BgTyn54 {
    width: 500px;
    margin: 0 auto;
}

.dashboard-section h2 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 400;
}

.AGT458-se45ction-55YTRE p {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.card5565215BgTyn54-titl4425j {
    font-size: 15px;
    font-weight: 600 !important;
}

.footer-icon {
    letter-spacing: 10px;
    margin-top: 6px;
    color: #d35400;
    font-weight: 800;
}

.icon-00245color {
    color: #fc6262;
    font-size: 16px;
}

mdb-accordion-item-head .card-header h5 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
    color: #000;
}

mdb-accordion-item-head .card-header h5 i {
    font-size: 10px;
    color: #3f51b5;
}

.md-accordion .card .card-body {
    font-size: 14px !important;
    color: #000 !important;
    font-weight: 400 !important;
}

.mat4555GtuTab5752 {
    padding-top: 100px;
}
// .dashboard-section01235{background: #eeffef;height: 100%;}

// ---------------------------------------------------------------------------------------------------------
//                     Responsive Media Query Screens
// ---------------------------------------------------------------------------------------------------------
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #fff !important;
    }
}

@media (max-width: 768px) {
    .custom .navbar:not(.top-nav-collapse) {
        background: #272938 !important;
        box-shadow: none;
    }
    .navbar-nav{align-items: initial !important;}
}
// @media (max-width: 740px) {
//     .full-height,
//     .full-height body,
//     .full-height header,
//     .full-height header .view {height: 700px;}
// }

@media (min-width: 600px) {
   .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 5rem !important;
   }
  
}
@media (min-width: 768px){
    .navbar-nav{align-items: center;}
}





// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

@media (max-width: 575px) { }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
#login_button{margin-bottom:10px;}
.carousel-inner {margin-top: 80px;}
.carousel-inner .h1-reponsive {font-size: 32px;margin: 10px 0 0 0 !important;}
.slider-banner-overlay {left: -5em !important;}
.mileagetracking-section{margin-top:0 !important;}
.ava005UYT52-2300TF{text-align:center;}
.ava005UYT52-2300TF img {position: inherit !important;}
.card.card-cascade.wider .view.view-cascade.Aca4756Hgt455655 {width: auto !important;}
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
.carousel-inner {margin-top: 80px;}
.carousel-inner .h1-reponsive {font-size: 28px;margin: 10px 0 0 0 !important;}
.slider-banner-overlay {width: 200px !important;bottom: 21em !important;left:0 !important;}
footer.page-footer{text-align: center;}
footer.page-footer .container-fluid {width: auto;padding: 0 !important;}
.footer-title-link{display: inline-block;}
.footer-title-link:after {width: 200px !important;}
.mileagetracking-section {margin: 0 !important;}
.mileagetracking-section h2 {margin: 20px 0 0 0 !important;}
#login_button{margin: 10px;}
.se2c-1122HFDHH-156fM212 p{text-align:left;}
.fianan00256UYTRV466-HY825585 p {font-size: 18px !important;padding: 0 !important;}
.fianan00256UYTRV466-HY825585 h3{font-size: 30px !important;}
.ava005UYT52-2300TF{text-align:center;}
.ava005UYT52-2300TF img {position: inherit !important;width: 200px;left: 0;}
.card.card-cascade.wider .view.view-cascade.Aca4756Hgt455655 {width: auto !important;}
.left-signup-div,.left-login-div{display:none;}
.apploginheading{margin-top:3em !important;}
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { }
                                    
@import "~@ng-select/ng-select/themes/default.theme.css";