<div class="mat4555GtuTab5752 dashboard-section01235">
  <div class="container card mt-5">
    <h4 class="cardTable-header px-4 py-3"><i class="fa fa-user icon-color mr-2"></i> Directory
    </h4>
    <p-dataView #dv [value]="users" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="name"
      [sortOrder]="sortOrder" class="dataviewselection py-3">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-6 ui-md-4 filter-container">
              <div class="searchBy" style="position:relative">
                <input type="search" style="width:100%" pInputText placeholder="Search by Name"
                  (keyup)="dv.filter($event.target.value)">
              </div>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-user pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
          <div class="ui-g-5 ui-md-5 ui-sm-12 user-details">
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Name: </div>
              <div class="ui-g-6 ui-sm-6 enquiriesName"><b>{{user.name}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Email ID: </div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.emailId}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Contact: </div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.contactNumber}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Creation Date: </div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.creationDate}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Total AAP: </div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.directAAPCount}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Referral Code: </div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.referrerCode}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Account Status: </div>
              <div class="ui-g-6 ui-sm-6"><b class="message">{{user.userStatus}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">User Name: </div>
              <div class="ui-g-6 ui-sm-6"><b class="message">{{user.userName}}</b></div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6 ui-sm-6 titleName">Team Total: </div>
              <div class="ui-g-6 ui-sm-6"><b class="message">{{user.teamSizeCount}}</b></div>
            </div>
          </div>
          <div class="ui-g-5 ui-md-5 ui-sm-12 user-details">
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">Account Type: </div>
              <div class="ui-g-6 ui-sm-6 enquiriesName"><b>{{user.accountType}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">Total Customers: </div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.customerCount}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">Total App Ambassadors: </div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.referrerCount}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">Total Legacy Members:</div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.p2pDistributerCount}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">Total YEA Members:</div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.p2PYEACount}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">Referred By:</div>
              <div class="ui-g-6 ui-sm-6"><b>{{user.userReferrerName}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">Subscription Plan: </div>
              <div class="ui-g-6 ui-sm-6"><b class="message">{{user.planType}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
              <div class="ui-g-6 ui-sm-6 titleName">User Id: </div>
              <div class="ui-g-6 ui-sm-6"><b class="message">{{user.userId}}</b></div>
            </div>
            <div class="ui-g ui-sm-12">
            </div>
          </div>
          <div class="ui-g-2 ui-md-2 search-icon">
            <button pButton type="button" class="view" (click)="selectUser($event, user)"><i
                class="fa fa-search"></i></button>
          </div>
        </div>

      </ng-template>
    </p-dataView>
  </div>
  <p-dialog class="enquiry-dialog" header="Customer Details" [closeOnEscape]="true" [dismissableMask]="true"
    [(visible)]="displayDialog" [closable]="true" [width]="1200" [contentStyle]="{'max-height':'500px'}" [modal]="true"
    [minWidth]="200" [responsive]="true" showEffect="fade" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedUser">
      <p-table [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt [columns]="tableColumns"
        [value]="customerList" [paginator]="true" [rows]="10" [responsive]="true" exportFilename="Customers Report">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="   Search"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of tableColumns" style="width:255px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
              <p-multiSelect appendTo="body" *ngSwitchCase="'userStatus'" [style]="{'width':'100%'}"
                [options]="statusList" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect appendTo="body" *ngSwitchCase="'accountType'" [style]="{'width':'100%'}"
                [options]="accountType" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')">
              </p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
          <tr>
            <td *ngFor="let col of tableColumns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No Customers found.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>