button.view { color: #ffffff;padding: 0.429em; background-color: #6fac48; border: 0; border-radius: 2px;  font-size: 14px;}
.cardTable-header { font-size: 22px;font-weight: 600;background: #6fac48; color: #fff;}
.searchBy input[type=search] { padding: 6px 5px;font-weight: normal; border: 0; border-radius: 2px;font-size: 14px; color: #333333;}
.enquiry-detail { font-weight: 500;}
.titleName {font-weight: 600 !important;}
.dataDisplay-card .ui-selectbutton .ui-button.ui-state-active {   background-color: #6fac48; border-color: #ffffff !important;}
::ng-deep .dataviewselection .ui-panel .ui-panel-content { height: 150px !important;}   
::ng-deep .dataviewselection .ui-dataview .ui-dataview-header { background-color: #6eab48 !important;}
::ng-deep .dataviewselection .ui-selectbutton .ui-button { background-color: #6daa48 !important;border-color: #ffffff !important;}
::ng-deep .dataDisplay-card .ui-selectbutton .ui-button .ui-button-icon-left {color: #ffffff !important;}
::ng-deep .enquiry-dialog .ui-dialog-titlebar { font-weight: 600 !important;background: #6fac48 !important;color: #fff !important;}
::ng-deep .enquiry-dialog .ui-dialog .ui-dialog-content {font-weight: 500 !important;}
.search-icon{
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
    
