<div class="container card pb-3">
  <div class="row filter-alignment">
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">From :</h6>
      <p-calendar [(ngModel)]="filterFromDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-3 form-group">
      <h6 class="text-left">To :</h6>
      <p-calendar [(ngModel)]="filterToDate" [showIcon]="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6 form-group">
      <button type="button" class="smallBtn btn-md" mdbBtn color="success" mdbWavesEffect
        (click)="getBudgetList();">Filter</button>
    </div>
  </div>
  <div class="card card-cascade narrower animated fadeInRight">
    <div
      class="view view-cascade custom-gradient gradient-card-header  narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3 title-size">Budget List</a>
      <div mdbTooltip="Add Budget" placement="left">
        <button type="button" (click)="frame.show();resetForm();formType = 'add';setDate()"
          class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-plus mt-o"></i>
        </button>
      </div>
    </div>
    <p-table [tableStyle]="{'table-layout':'auto'}" [resizableColumns]="false" columnResizeMode="expand" class="p-4" #dt
      [columns]="tableColumns" [value]="budgetList" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 10px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="   Search"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'action'" [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="tableColumns">
        <tr>
          <td>${{rowData.amount |number : '.2-2'}}</td>
          <td>{{rowData.fromDate}}</td>
          <td>{{rowData.toDate}}</td>
          <td>
            <button mdbTooltip="Edit" placement="top" type="button" mdbBtn color="success" floating="true" size="sm"
              class="my-0 p2p-sm-btn" (click)="frame.show();viewAndEditBudget(rowData);"><i
                class="fa fa-eye"></i></button>
            <button mdbTooltip="Delete" placement="top" type="button" mdbBtn floating="true" size="sm"
              class="my-0 p2p-sm-btn peach-gradient" (click)="setBudgetId(rowData);deleteFrame.show();"><i
                class="fa fa-trash"></i></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant">
      <form [formGroup]="budgetForm">
        <div class="modal-header">
          <button type="button" class="close pull-right text-white" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 *ngIf="formType === 'add'" class="modal-title w-100 text-white"><i
              class="fa fa-plus icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Add Budget</h4>
          <h4 *ngIf="formType === 'edit'" class="modal-title w-100 text-white"><i
              class="fa fa-pencil icon-size mr-2 text-white mr-3" aria-hidden="true"></i>Update Budget
          </h4>
        </div>
        <div class="modal-body mx-3">
          <div class="mt-3">
            <div class="form-row">
              <h6 class="text-left mb-3">Amount :</h6>
              <input type="number" id="budgetAmount" formControlName="amount" class="form-control" placeholder=""
                aria-label="Budget Amount" data-error="Invalid input" data-success=" " mdbInputDirective>
            </div>
            <div class="form-row mb-1">
              <div class="col-6">
                <h6 class="text-left mb-3">From Date :</h6>
                <p-calendar dateFormat="mm-dd-yy" formControlName="fromDate" data-error="Field is required"
                  data-success=" " mdbInputDirective></p-calendar>
              </div>
              <div class="col-6">
                <h6 class="text-left mb-3">To Date :</h6>
                <p-calendar dateFormat="mm-dd-yy" formControlName="toDate" data-error="Field is required"
                  data-success=" " mdbInputDirective></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" gradient="peach" mdbBtn class="waves-light btn-md" aria-label="Close"
            (click)="frame.hide();resetForm()" mdbWavesEffect>Close <i class="fa fa-close ml-1"></i></button>
          <button *ngIf="formType === 'add'" type="submit" mdbBtn color="success" class="relative waves-light btn-md"
            mdbWavesEffect (click)="createNewBudget();">Save <i class="fa fa-save ml-1"></i></button>
          <button *ngIf="formType === 'edit'" type="submit" mdbBtn color="success" class="relative waves-light btn-md"
            mdbWavesEffect (click)="updateBudget();">Update <i class="fa fa-check ml-1"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
<div mdbModal #deleteFrame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-question fa-4x mb-3 animated rotateIn"></i>
          <h3>Are you sure you want to delete?</h3>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn class="waves-effect peach-gradient btn-md text-white btn-min-width" mdbWavesEffect
          (click)="deleteFrame.hide()">Close
          <i class="fa fa-close ml-1"></i>
        </a>
        <a type="button" mdbBtn color="success" class="waves-effect btn-min-width btn-md" (click)="deleteBudget()"
          mdbWavesEffect>Confirm
          <i class="fa fa-check ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>