::ng-deep .modal-body .ml-4,
.modal-body .mx-4 {margin-left: 0 !important;}
::ng-deep .modal-body .mr-4,
.modal-body .mx-4 {margin-right: 0 !important;}
.fontSize {font-size: 14px;font-weight: 800;padding-left: 8px;}
.card-header {background-color: transparent;color: #70ad48;text-align: left !important;}
.smallBtn {padding: 8px 12px;}
.add-btn {margin-top: -10px;}
.title-size {font-size: 1.25rem;}
input.counter-danger ~ span.text-danger {position: relative !important;top: 0px !important;left: 351px;}
.filter-alignment {margin-left: 2%;}
.filter-alignment h6 {font-weight: 500;color: #70ad48;font-size: 1.2rem;}
.smallBtn {padding: 12px 24px;margin-top: 29px !important;}
::ng-deep body .ui-inputtext {padding-top: 8px !important;border: 1px solid #ced4da; width: 100%;}
::ng-deep .modal-calander .ui-inputtext {width: 100%;}
::ng-deep .modal-calander .ui-calendar {width: 100%;}
::ng-deep body .ui-button {background-color: #70ad48 !important;border: 1px solid #70ad48 !important;}
::ng-deep body .ui-button.ui-button-icon-only .ui-button-text {margin-top: 1px !important;margin-bottom: -1px !important;padding: 0.575em !important;}
::ng-deep .btn-success {background-color: #70ad48 !important;color: #fff !important;}
::ng-deep body .ui-inputtext:enabled:hover:not(.ui-state-error) {border-color: #ced4da;}
::ng-deep .filter-alignment .ui-inputtext {width: 85% !important;}
::ng-deep .ui-calendar {width: 100% !important;}
@media (max-width: 740px) { 
input.counter-danger ~ span.text-danger {left: 248px;}
.smallBtn {padding: 9px 14px;margin-top: 5px !important;}
.filter-alignment {margin-left: 0%;}
}