<section class="mt-4 pb-3 my-5">
  <div class="row">
    <div class="col-md-6 sm-error">
      <div class="grey-text ml-5 mt-5 pt-4 pl-4 text-left">
        <h1 class="h2-responsive mt-3 mb-2"><span class="error font-weight-bold error-code">404</span><br> This page
          does not exist</h1>
      </div>
    </div>
    <div class="col-md-6 sm-img">
      <img src="https://mdbootstrap.com/img/Others/grafika404-bf.png" alt="Error 404" class="img-fluid">
    </div>
  </div>
</section>