.error {font-size: 6rem;}
@media only screen and (max-width: 768px) {
.error-btn {margin-left: 11%;margin-bottom: -8%;}
.sm-img {z-index: -999;position: absolute;top: 100px;}
.sm-error {margin-top: 30%;}
.error-code {font-size: 4rem;} 
}
