<section class="section container-fluid">
    <div class="se2c-1122HFDHH-156fM212 p-0 wow">
        <h2 class="h2 py-5 se2c-title554Htnd545d text-center wow slideInDown">Growing Your Money</h2>
        <div class="view w-100 wow rotateIn mb-5">
            <img class="d-block view jarallax w-100" data-jarallax='{"speed": 0.2}' src="assets/images/Picture6.jpg"
                alt="First slide">
            <div class="mask rgba-grey01-light00-JUYT255KJH waves-light" mdbWavesEffect>
                <div class="container flex-center">
                    <div class="row pt-5 mt-3 w-100">
                        <div class="col-md-12">
                            <div class="fianan00256UYTRV466-HY825585">
                                <p class="px-5 pb-4 text-black text-center font-weight-bold">One of the big advantages
                                    of becoming a P2P MEC client
                                    is that you will also have access to many other benefits such as “Free Credit
                                    Repair”, Funding and more importantly the most lucrative of all and that is how to
                                    properly prepare for the future by growing your money.
                                </p>
                                <p class="px-5 text-black text-center font-weight-bold">If you are interested in
                                    learning how to “Grow Your Money”,please contact us at
                                    <a> support@p2pmec.com </a>to request additional information.
                                </p>
                               
                                <h3 class="card-title p-0 mt-5 text-center font-weight-bold">The Time is Now!
                                </h3>
                                <h3 class="card-title py-3 mt-0 text-center font-weight-bold">Take Control of
                                    Your Financial Future !</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>











        <!-- 
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="view vi0014-TYR wow rotateIn" style="background-image: url('assets/images/Picture6.jpg')">
                    <div class="view text-white text-center d-flex align-items-center py-5 px-4">
                        <div class="fianan00256UYTRV466-HY825585">
                            <p class="px-5 pb-4 text-black">One of the big advantages of becoming a P2P MEC client is
                                that you will also have access to many other benefits such as “Free Credit Repair”,
                                Funding and more importantly the most lucrative of all and that is how to properly
                                prepare for the future by growing your money.
                            </p>
                            <p class="px-5 text-black">If you are interested in learning how to “Grow Your Money”,
                                please contact us at
                                <a href="#"> support@p2pmec.com </a>to request additional information.
                            </p>
                            <h3 class="card-title p-0 mt-5 font-weight-bold text-black"><strong>The Time is
                                    Now!</strong></h3>
                            <h3 class="card-title py-3 mt-0 font-weight-bold text-black"><strong>Take Control of Your
                                    Financial
                                    Future !</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>