.fianan00256UYTRV466-HY825585 p {font-size: 20px;}
.fianan00256UYTRV466-HY825585 h3 {font-size: 35px;margin: 0;color: #000;}
.rgba-grey01-light00-JUYT255KJH{
    background-color: rgba(158, 158, 158, 0.6);
}
