<div class="mat4555GtuTab5752">
<div class="container  p-3 mt-5 mb-5 animated fadeInRight">
  <div class="card">
    <h4 class="card-header h4-responsive p2p-card-heading py-3"><i class="fa fa-user icon-color mr-2"></i> COMMISSSION
      SETTING</h4>
    <form class="pt-3 px-4" [formGroup]="commissionSettingForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="address">Commission Running Day<span class="p2p-required">*</span></label>
          <input type="number" id="schedulerRunningDay" maxLength='31' class="form-control"
            formControlName="schedulerRunningDay" placeholder="Running Day" data-success=" "
            data-error="Running day should not be empty!" mdbInputDirective readonly>
        </div>
        <div class="form-group col-md-6">
          <label for="address2">1st Level Commission Amount<span class="p2p-required">*</span></label>
          <input type="number" id="commissionPercentage" class="form-control" formControlName="commission1stLevelAmount"
            placeholder="Commission Amount" data-success=" " data-error="Amount should not be empty!" mdbInputDirective
            readonly>
        </div>
        <div class="form-group col-md-6">
          <label for="address2">2nd Level Commission Amount<span class="p2p-required">*</span></label>
          <input type="number" id="commissionPercentage" class="form-control" formControlName="commission2ndLevelAmount"
            placeholder="Commission Amount" data-success=" " data-error="Amount should not be empty!" mdbInputDirective
            readonly>
        </div>
      </div>
      <!-- <div class="form-row">
        <div class="col pr-0">
          <a disabled class="mb-4 pull-right btn-md save-btn" type="submit">Save</a>
        </div>
      </div> -->
    </form>
  </div>
</div>
</div>