.save-btn {width: 20%;margin-left: auto;margin-right: auto;background: #70ad48;border: none;padding: 7px;color: #fff;text-align: center;}
.icon-color {color: #fb6a18 !important;}
.input-group-text { color: white; background-color: #70ad48; min-width: 160px;}
.btn-success {background-color: #70ad48 !important;color: #fff !important;}
@media (max-width: 740px) {.save-btn {width: 100%;margin-top: 20px;}
.plans {width: 100%;margin-left: 0%;}
}
