

<section>
  <div class="se2c-1122HFDHH-156fM212 mat4555GtuTab5752 pb-5 wow slideInDown">
    <div class="ava005UYT52-2300TF mx-auto pt-4">
      <img src="assets/images/Entrepreneur.png">
    </div>
    <div class="container">
      <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
        <div class="view view-cascade overlay Aca4756Hgt455655 waves-light mt-5" mdbWavesEffect>
          <mdb-card-img src="assets/images/Academy-Flyer-2.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center wow slideInRight">
          <mdb-card-title>
            <h4>
              <strong>The Academy</strong>
            </h4>
          </mdb-card-title>
          <mdb-card-text>
            <div class="discription" data-wow-delay="0.2s">
              <p>P2P Entrepreneur Academy is designed to bridge the gap between the successful Entrepreneurs and those
                aspiring to become one. The online Self-Paced modules are loaded with information that creates a full
                understanding of how
                to set up, run and audit protect your business. It even has a module that gives ideas on the best type
                of Home Based Business to start with little or no out of pocket cost.
              </p>
            </div>
          </mdb-card-text>
          <a mdbBtn href="https://myp2pacademy.com" class="academyButton wow slideInUp" data-wow-delay="0.6s"
            rounded="true" target="_blank" mdbWavesEffect>Click Here To Access The Academy</a>
        </mdb-card-body>

      </mdb-card>
    </div>
  </div>
  <div class="se2c-1122HFDHH-156fM212 container">
    <section>
      <div class="row">
        <h2 class="font-weight-bold se2c-title554Htnd545d text-center wow slideInRight my-4 text-center mx-auto">Example
          of some of the modules in each course</h2>
      </div>

        <div class="row">
          <mdb-image-modal class="h-100Vue0024"[modalImages]="images" type="margin"></mdb-image-modal>
        </div>
      </section>
  </div>
</section>
