// html, body, header, .view {height: 100%;}
// .rgba-gradient {background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);}
// .intro-P2Pmoney h2 {font-size: 40px;text-align: center;font-weight: 700;color: #6fac48;}
// hr{width: 50%;border-bottom: 3px solid #6fac48;}
// .P2P-list ul li {font-size: 24px;line-height: 2.5rem;font-weight: 600;}
// .image_fading img {float: right;position: relative;bottom: 7rem;left: 80px;width: 300px;}
// .tracker-section img{margin: 0 auto;}
// .imagefading_logo img {height: 280px;}
// .vidsection .container{width: 65%;}
// .appdnd h2 {font-size: 44px;text-align: center;font-weight: 700;color: #385623;}
// .btn-success {background-color: #70ad48 !important;color: #fff !important;}
// .slogan {font-weight: 600;font-size: 4rem;text-align: inherit}
// .overlap {z-index: 999;margin-top: -5%;}
// .overlap-img {z-index: 999;position: absolute;width: 40%;margin-top: 2%;margin-left: 5%;}
// .card-heading {font-size: 2rem;font-weight: 500}
// .subheading {font-size: 2rem;font-weight: 400}
// .btn-icons {width: 22px;margin-right: 3px;margin-left: -14px;}
// .font-size {font-size: 1rem;}
// .mfm-card {min-height: 280px;}
// .btn-width {min-width: 168px;}
// @media (min-width: 576px) and (max-width: 767.98px) { 
// .image_fading img{float: right;position: relative;bottom: 0rem;left: 0;width: 300px;}
// }
// @media (min-width: 275px) and (max-width: 576px) { 
// .image_fading img{float: right;position: relative;bottom: 0rem;left: 0;width: 300px;}
// }
// @media (max-width:1199.98px){
// .image_fading img {float: right;position: relative;bottom: 1rem;left: 20px;width: 200px;}
// }
// @media (min-width: 768px){
// .image_fading img {float: right;position: relative;left: 4rem;width: 250px;}
// }
// @media (max-width: 320px){
// .image_fading img {float: right;position: relative;bottom: 2rem;left: 10px;width: 217px;}
// }
::ng-deep img.ng-thumb {
  height: 350px !important;
}

::ng-deep .h-100Vue0024 img {
  width: 350px;
  height: 264px !important;
}

::ng-deep .carousel-multi-item .controls-top {
  display: none;
}

.card.card-cascade.wider .view.view-cascade.Aca4756Hgt455655 {
  width: 800px;
  height: auto !important;
  margin: 0 auto;
}

.card.card-cascade.wider.reverse .card-body.card-body-cascade {
  margin-top: -5px;
}

.ava005UYT52-2300TF img {
  position: absolute;
  width: 250px;
  left: 4em;
}

.academyButton {
  background: #d35400;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  padding: 12px 20px;
}
